---
http_interactions:
- request:
    method: get
    uri: https://openexchangerates.org/api/latest.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 01 Mar 2016 00:00:11 GMT
      Etag:
      - '"ced514957706800f8f55276d7494ce04"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "disclaimer": "Exchange rates provided for informational purposes only and do not constitute financial advice of any kind. Although every attempt is made to ensure quality, no guarantees are made of accuracy, validity, availability, or fitness for any purpose. All usage subject to acceptance of Terms: https://openexchangerates.org/terms/",
          "license": "Data sourced from various providers; resale prohibited; no warranties given of any kind. All usage subject to License Agreement: https://openexchangerates.org/license/",
          "timestamp": 1456790411,
          "base": "USD",
          "rates": {
            "AED": 3.67304,
            "AFN": 68.629999,
            "ALL": 126.8159,
            "AMD": 490.897502,
            "ANG": 1.7862,
            "AOA": 158.950002,
            "ARS": 15.77828,
            "AUD": 1.399959,
            "AWG": 1.793333,
            "AZN": 1.566063,
            "BAM": 1.795011,
            "BBD": 2,
            "BDT": 78.46415,
            "BGN": 1.795265,
            "BHD": 0.376906,
            "BIF": 1566.15,
            "BMD": 1,
            "BND": 1.405638,
            "BOB": 6.86302,
            "BRL": 4.0124,
            "BSD": 1,
            "BTC": 0.002289959216,
            "BTN": 68.515834,
            "BWP": 11.451238,
            "BYR": 21407.75,
            "BZD": 1.99575,
            "CAD": 1.353116,
            "CDF": 925.779,
            "CHF": 0.99764,
            "CLF": 0.024598,
            "CLP": 695.435001,
            "CNY": 6.54918,
            "COP": 3304.976628,
            "CRC": 536.282997,
            "CUC": 1,
            "CUP": 1.000213,
            "CVE": 101.118166,
            "CZK": 24.83693,
            "DJF": 177.573751,
            "DKK": 6.847442,
            "DOP": 45.35668,
            "DZD": 108.621079,
            "EEK": 14.34305,
            "EGP": 7.842819,
            "ERN": 15.0015,
            "ETB": 21.35686,
            "EUR": 0.918606,
            "FJD": 2.1391,
            "FKP": 0.718024,
            "GBP": 0.718024,
            "GEL": 2.464475,
            "GGP": 0.718024,
            "GHS": 3.90045,
            "GIP": 0.718024,
            "GMD": 39.4047,
            "GNF": 7624.975098,
            "GTQ": 7.68378,
            "GYD": 207.073336,
            "HKD": 7.776563,
            "HNL": 22.59754,
            "HRK": 6.997685,
            "HTG": 61.605975,
            "HUF": 284.833101,
            "IDR": 13370,
            "ILS": 3.90596,
            "IMP": 0.718024,
            "INR": 68.35267,
            "IQD": 1088.549988,
            "IRR": 30203.5,
            "ISK": 128.976999,
            "JEP": 0.718024,
            "JMD": 121.159,
            "JOD": 0.708882,
            "JPY": 112.704199,
            "KES": 101.9779,
            "KGS": 74.334649,
            "KHR": 4011.724976,
            "KMF": 451.190396,
            "KPW": 900.09,
            "KRW": 1240.083324,
            "KWD": 0.30098,
            "KYD": 0.826808,
            "KZT": 349.266988,
            "LAK": 8077.425049,
            "LBP": 1509.066667,
            "LKR": 144.632999,
            "LRD": 84.651538,
            "LSL": 15.987775,
            "LTL": 3.106723,
            "LVL": 0.636369,
            "LYD": 1.394888,
            "MAD": 9.88063,
            "MDL": 20.01492,
            "MGA": 3199.600016,
            "MKD": 56.48436,
            "MMK": 1236.450012,
            "MNT": 2030.833333,
            "MOP": 8.01299,
            "MRO": 342.215,
            "MTL": 0.683738,
            "MUR": 36.05875,
            "MVR": 15.206667,
            "MWK": 742.304003,
            "MXN": 18.17156,
            "MYR": 4.20147,
            "MZN": 48.507501,
            "NAD": 15.958,
            "NGN": 198.761,
            "NIO": 28.10256,
            "NOK": 8.690171,
            "NPR": 109.503001,
            "NZD": 1.514527,
            "OMR": 0.384936,
            "PAB": 1,
            "PEN": 3.52356,
            "PGK": 3.063525,
            "PHP": 47.496,
            "PKR": 104.685,
            "PLN": 3.997294,
            "PYG": 5723.680013,
            "QAR": 3.6409,
            "RON": 4.10328,
            "RSD": 112.98426,
            "RUB": 75.270199,
            "RWF": 765.396247,
            "SAR": 3.75011,
            "SBD": 8.143049,
            "SCR": 13.82169,
            "SDG": 6.096113,
            "SEK": 8.557026,
            "SGD": 1.405336,
            "SHP": 0.718024,
            "SLL": 4077,
            "SOS": 610.835003,
            "SRD": 3.9925,
            "STD": 22423.25,
            "SVC": 8.739375,
            "SYP": 219.796998,
            "SZL": 16.00172,
            "THB": 35.66314,
            "TJS": 7.8696,
            "TMT": 3.501567,
            "TND": 2.04653,
            "TOP": 2.273458,
            "TRY": 2.969909,
            "TTD": 6.51188,
            "TWD": 33.2929,
            "TZS": 2189.066683,
            "UAH": 27.16346,
            "UGX": 3370.333333,
            "USD": 1,
            "UYU": 32.2276,
            "UZS": 2850.814942,
            "VEF": 6.31701,
            "VND": 22306.666667,
            "VUV": 112.230001,
            "WST": 2.581874,
            "XAF": 602.239113,
            "XAG": 0.067096,
            "XAU": 0.000808,
            "XCD": 2.70102,
            "XDR": 0.723599,
            "XOF": 602.648413,
            "XPD": 0.002018,
            "XPF": 109.34615,
            "XPT": 0.001071,
            "YER": 214.973999,
            "ZAR": 15.91558,
            "ZMK": 5252.024745,
            "ZMW": 11.40515,
            "ZWL": 322.322775
          }
        }
  recorded_at: Tue, 01 Mar 2016 00:36:27 GMT
- request:
    method: get
    uri: http://openexchangerates.org/api/historical/2015-03-01.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Sun, 01 Mar 2015 23:00:00 GMT
      Etag:
      - '"331059ece85bb05940eee69358ecaf28"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      strin[...]
