---
http_interactions:
- request:
    method: get
    uri: https://openexchangerates.org/api/latest.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 16 Mar 2016 04:00:07 GMT
      Etag:
      - '"976bc94f434bebab9cccec7d64a46c40"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "disclaimer": "Exchange rates provided for informational purposes only and do not constitute financial advice of any kind. Although every attempt is made to ensure quality, no guarantees are made of accuracy, validity, availability, or fitness for any purpose. All usage subject to acceptance of Terms: https://openexchangerates.org/terms/",
          "license": "Data sourced from various providers; resale prohibited; no warranties given of any kind. All usage subject to License Agreement: https://openexchangerates.org/license/",
          "timestamp": 1458100807,
          "base": "USD",
          "rates": {
            "AED": 3.673028,
            "AFN": 68.419999,
            "ALL": 123.969101,
            "AMD": 488.252496,
            "ANG": 1.788725,
            "AOA": 158.865334,
            "ARS": 14.55567,
            "AUD": 1.341221,
            "AWG": 1.793333,
            "AZN": 1.647025,
            "BAM": 1.761701,
            "BBD": 2,
            "BDT": 78.348661,
            "BGN": 1.761254,
            "BHD": 0.376948,
            "BIF": 1555.8675,
            "BMD": 1,
            "BND": 1.37869,
            "BOB": 6.828273,
            "BRL": 3.751388,
            "BSD": 1,
            "BTC": 0.002414514127,
            "BTN": 67.352699,
            "BWP": 11.236788,
            "BYR": 20659.75,
            "BZD": 1.994386,
            "CAD": 1.335576,
            "CDF": 929.46,
            "CHF": 0.98756,
            "CLF": 0.024602,
            "CLP": 686.338397,
            "CNY": 6.51874,
            "COP": 3161.331667,
            "CRC": 534.022398,
            "CUC": 1,
            "CUP": 0.99985,
            "CVE": 99.406767,
            "CZK": 24.35428,
            "DJF": 177.683626,
            "DKK": 6.718048,
            "DOP": 45.69471,
            "DZD": 110.078541,
            "EEK": 14.094175,
            "EGP": 8.945745,
            "ERN": 14.9985,
            "ETB": 21.36351,
            "EUR": 0.900898,
            "FJD": 2.10725,
            "FKP": 0.707652,
            "GBP": 0.707652,
            "GEL": 2.3256,
            "GGP": 0.707652,
            "GHS": 3.855807,
            "GIP": 0.707652,
            "GMD": 39.42166,
            "GNF": 7629.315098,
            "GTQ": 7.727362,
            "GYD": 206.215002,
            "HKD": 7.760698,
            "HNL": 22.58753,
            "HRK": 6.80932,
            "HTG": 61.960725,
            "HUF": 279.9553,
            "IDR": 13156.683333,
            "ILS": 3.893995,
            "IMP": 0.707652,
            "INR": 67.37201,
            "IQD": 1088.549988,
            "IRR": 30206.5,
            "ISK": 126.5156,
            "JEP": 0.707652,
            "JMD": 121.6686,
            "JOD": 0.708452,
            "JPY": 113.3613,
            "KES": 101.501799,
            "KGS": 72.1932,
            "KHR": 4004.349976,
            "KMF": 442.324628,
            "KPW": 899.91,
            "KRW": 1192.883341,
            "KWD": 0.300993,
            "KYD": 0.824362,
            "KZT": 344.43129,
            "LAK": 8121.957598,
            "LBP": 1508.658333,
            "LKR": 144.854501,
            "LRD": 84.66847,
            "LSL": 15.894538,
            "LTL": 3.079213,
            "LVL": 0.628899,
            "LYD": 1.379169,
            "MAD": 9.782534,
            "MDL": 19.7238,
            "MGA": 3201.41165,
            "MKD": 55.46883,
            "MMK": 1214.535025,
            "MNT": 2045.166667,
            "MOP": 7.9909,
            "MRO": 346.649,
            "MTL": 0.683602,
            "MUR": 35.6236,
            "MVR": 15.24,
            "MWK": 692.344998,
            "MXN": 17.88152,
            "MYR": 4.137269,
            "MZN": 50.490001,
            "NAD": 15.84463,
            "NGN": 199.088901,
            "NIO": 28.05693,
            "NOK": 8.550015,
            "NPR": 107.7204,
            "NZD": 1.514927,
            "OMR": 0.385011,
            "PAB": 1,
            "PEN": 3.352613,
            "PGK": 3.06245,
            "PHP": 46.77911,
            "PKR": 104.6598,
            "PLN": 3.863555,
            "PYG": 5725.373333,
            "QAR": 3.641306,
            "RON": 4.029602,
            "RSD": 110.993679,
            "RUB": 70.895479,
            "RWF": 767.470743,
            "SAR": 3.750186,
            "SBD": 7.965297,
            "SCR": 13.26638,
            "SDG": 6.097068,
            "SEK": 8.331443,
            "SGD": 1.380125,
            "SHP": 0.707652,
            "SLL": 4060,
            "SOS": 612.621753,
            "SRD": 3.9925,
            "STD": 22055.475,
            "SVC": 8.741565,
            "SYP": 219.732332,
            "SZL": 15.90863,
            "THB": 35.0652,
            "TJS": 7.8696,
            "TMT": 3.5014,
            "TND": 2.023332,
            "TOP": 2.260899,
            "TRY": 2.894918,
            "TTD": 6.559087,
            "TWD": 32.82662,
            "TZS": 2184.57,
            "UAH": 26.86998,
            "UGX": 3360.765,
            "USD": 1,
            "UYU": 32.17705,
            "UZS": 2860.819947,
            "VEF": 6.327584,
            "VND": 22304.2,
            "VUV": 109.371667,
            "WST": 2.562234,
            "XAF": 591.28075,
            "XAG": 0.065506,
            "XAU": 0.0008105,
            "XCD": 2.70102,
            "XDR": 0.717621,
            "XOF": 595.34763,
            "XPD": 0.001753,
            "XPF": 107.524838,
            "XPT": 0.001042,
            "YER": 215.008001,
            "ZAR": 15.90699,
            "ZMK": 5253.075255,
            "ZMW": 11.384275,
            "ZWL": 322.322775
          }
        }
  recorded_at: Wed, 16 Mar 2016 04:07:21 GMT
- request:
    method: get
    uri: http://openexchangerates.org/api/historical/2015-03-16.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 16 Mar 2015 23:00:00 GMT
      Etag:
      - '"1c7f3bb43575d423f0b7e5a796164efc"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      strin[...]
[...]
