---
http_interactions:
- request:
    method: get
    uri: https://openexchangerates.org/api/latest.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 03 Mar 2016 01:00:12 GMT
      Etag:
      - '"e81c1beec01257c9be1b5b759bec0d55"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "disclaimer": "Exchange rates provided for informational purposes only and do not constitute financial advice of any kind. Although every attempt is made to ensure quality, no guarantees are made of accuracy, validity, availability, or fitness for any purpose. All usage subject to acceptance of Terms: https://openexchangerates.org/terms/",
          "license": "Data sourced from various providers; resale prohibited; no warranties given of any kind. All usage subject to License Agreement: https://openexchangerates.org/license/",
          "timestamp": 1456966812,
          "base": "USD",
          "rates": {
            "AED": 3.673114,
            "AFN": 68.719999,
            "ALL": 126.879876,
            "AMD": 491.275002,
            "ANG": 1.78875,
            "AOA": 158.867998,
            "ARS": 15.677275,
            "AUD": 1.372114,
            "AWG": 1.793333,
            "AZN": 1.588567,
            "BAM": 1.800058,
            "BBD": 2,
            "BDT": 78.382838,
            "BGN": 1.799193,
            "BHD": 0.376986,
            "BIF": 1565.082525,
            "BMD": 1,
            "BND": 1.400109,
            "BOB": 6.848231,
            "BRL": 3.898925,
            "BSD": 1,
            "BTC": 0.00238346637,
            "BTN": 67.571776,
            "BWP": 11.300883,
            "BYR": 21403,
            "BZD": 1.994543,
            "CAD": 1.34326,
            "CDF": 926.033,
            "CHF": 0.997019,
            "CLF": 0.024598,
            "CLP": 687.937499,
            "CNY": 6.551188,
            "COP": 3233.944956,
            "CRC": 535.127754,
            "CUC": 1,
            "CUP": 0.9994,
            "CVE": 101.525167,
            "CZK": 24.894263,
            "DJF": 177.685251,
            "DKK": 6.863951,
            "DOP": 45.50625,
            "DZD": 108.938625,
            "EEK": 14.409991,
            "EGP": 7.829666,
            "ERN": 14.9985,
            "ETB": 21.35045,
            "EUR": 0.919999,
            "FJD": 2.121167,
            "FKP": 0.710303,
            "GBP": 0.710303,
            "GEL": 2.4701,
            "GGP": 0.710303,
            "GHS": 3.876955,
            "GIP": 0.710303,
            "GMD": 39.416675,
            "GNF": 7643.729951,
            "GTQ": 7.684416,
            "GYD": 205.990336,
            "HKD": 7.773498,
            "HNL": 22.61095,
            "HRK": 6.998011,
            "HTG": 61.469226,
            "HUF": 285.701122,
            "IDR": 13287.05,
            "ILS": 3.890766,
            "IMP": 0.710303,
            "INR": 67.368899,
            "IQD": 1088.549988,
            "IRR": 30211,
            "ISK": 129.94225,
            "JEP": 0.710303,
            "JMD": 121.327,
            "JOD": 0.709383,
            "JPY": 113.740626,
            "KES": 101.463089,
            "KGS": 73.243902,
            "KHR": 4007.800025,
            "KMF": 453.369097,
            "KPW": 900.09,
            "KRW": 1225.255012,
            "KWD": 0.30079,
            "KYD": 0.82459,
            "KZT": 346.596862,
            "LAK": 8130.820098,
            "LBP": 1508.927525,
            "LKR": 144.506,
            "LRD": 84.66847,
            "LSL": 15.574767,
            "LTL": 3.09203,
            "LVL": 0.633872,
            "LYD": 1.396706,
            "MAD": 9.908383,
            "MDL": 19.94581,
            "MGA": 3217.41835,
            "MKD": 56.68221,
            "MMK": 1238.32,
            "MNT": 2031.833333,
            "MOP": 8.005339,
            "MRO": 343.441833,
            "MTL": 0.683602,
            "MUR": 35.992275,
            "MVR": 15.305483,
            "MWK": 743.3207,
            "MXN": 17.85226,
            "MYR": 4.14285,
            "MZN": 49.312501,
            "NAD": 15.58642,
            "NGN": 199.040801,
            "NIO": 28.22003,
            "NOK": 8.662561,
            "NPR": 108.1439,
            "NZD": 1.500499,
            "OMR": 0.384979,
            "PAB": 1,
            "PEN": 3.502035,
            "PGK": 3.0332,
            "PHP": 47.1725,
            "PKR": 104.7094,
            "PLN": 3.974682,
            "PYG": 5716.211615,
            "QAR": 3.641091,
            "RON": 4.101908,
            "RSD": 113.66044,
            "RUB": 73.33792,
            "RWF": 760.346,
            "SAR": 3.750173,
            "SBD": 8.077264,
            "SCR": 13.41616,
            "SDG": 6.098606,
            "SEK": 8.611415,
            "SGD": 1.397987,
            "SHP": 0.710303,
            "SLL": 4072,
            "SOS": 616.360756,
            "SRD": 3.9925,
            "STD": 22541.75,
            "SVC": 8.742104,
            "SYP": 219.836998,
            "SZL": 15.59032,
            "THB": 35.54532,
            "TJS": 7.8696,
            "TMT": 3.501633,
            "TND": 2.050959,
            "TOP": 2.267748,
            "TRY": 2.927726,
            "TTD": 6.514964,
            "TWD": 33.08203,
            "TZS": 2188.326667,
            "UAH": 26.6582,
            "UGX": 3342.623333,
            "USD": 1,
            "UYU": 32.37233,
            "UZS": 2853.814942,
            "VEF": 6.320494,
            "VND": 22324.55,
            "VUV": 112.827501,
            "WST": 2.562693,
            "XAF": 603.625842,
            "XAG": 0.0667915,
            "XAU": 0.0008085,
            "XCD": 2.70102,
            "XDR": 0.723868,
            "XOF": 606.232302,
            "XPD": 0.00194,
            "XPF": 109.817363,
            "XPT": 0.001069,
            "YER": 214.954,
            "ZAR": 15.56503,
            "ZMK": 5253.075255,
            "ZMW": 11.38195,
            "ZWL": 322.387247
          }
        }
  recorded_at: Thu, 03 Mar 2016 02:04:15 GMT
[...]
- request:
    method: get
    uri: http://openexchangerates.org/api/historical/2015-03-03.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 03 Mar 2015 23:00:00 GMT
      Etag:
      - '"5a7a2acf91b628a895a8e06776916317"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      strin[...]
[...]
