---
http_interactions:
- request:
    method: get
    uri: https://openexchangerates.org/api/latest.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 11 Apr 2016 00:00:08 GMT
      Etag:
      - '"1dec38116698ce9181cb8d508f78a3cb"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "disclaimer": "Exchange rates provided for informational purposes only and do not constitute financial advice of any kind. Although every attempt is made to ensure quality, no guarantees are made of accuracy, validity, availability, or fitness for any purpose. All usage subject to acceptance of Terms: https://openexchangerates.org/terms/",
          "license": "Data sourced from various providers; resale prohibited; no warranties given of any kind. All usage subject to License Agreement: https://openexchangerates.org/license/",
          "timestamp": 1460332808,
          "base": "USD",
          "rates": {
            "AED": 3.67319,
            "AFN": 68.394999,
            "ALL": 122.7409,
            "AMD": 483.059996,
            "ANG": 1.7888,
            "AOA": 162.809835,
            "ARS": 14.46715,
            "AUD": 1.321575,
            "AWG": 1.793333,
            "AZN": 1.528775,
            "BAM": 1.715276,
            "BBD": 2,
            "BDT": 78.41187,
            "BGN": 1.715636,
            "BHD": 0.377106,
            "BIF": 1552,
            "BMD": 1,
            "BND": 1.34945,
            "BOB": 6.86406,
            "BRL": 3.589809,
            "BSD": 1,
            "BTC": 0.002373898511,
            "BTN": 66.515983,
            "BWP": 10.974363,
            "BYR": 19992,
            "BZD": 1.9952,
            "CAD": 1.298622,
            "CDF": 925.5,
            "CHF": 0.953547,
            "CLF": 0.024602,
            "CLP": 683.533004,
            "CNY": 6.464262,
            "COP": 3092.540036,
            "CRC": 535.846004,
            "CUC": 1,
            "CUP": 1.000125,
            "CVE": 96.503899,
            "CZK": 23.69956,
            "DJF": 177.706252,
            "DKK": 6.526267,
            "DOP": 45.87122,
            "DZD": 108.09514,
            "EEK": 13.72365,
            "EGP": 8.87924,
            "ERN": 15.0015,
            "ETB": 21.53436,
            "EUR": 0.876915,
            "FJD": 2.0836,
            "FKP": 0.707896,
            "GBP": 0.707896,
            "GEL": 2.274275,
            "GGP": 0.707896,
            "GHS": 3.8451,
            "GIP": 0.707896,
            "GMD": 42.66062,
            "GNF": 7599.975098,
            "GTQ": 7.72294,
            "GYD": 205.970002,
            "HKD": 7.75861,
            "HNL": 22.59186,
            "HRK": 6.578024,
            "HTG": 61.997025,
            "HUF": 274.093901,
            "IDR": 13122.766667,
            "ILS": 3.778449,
            "IMP": 0.707896,
            "INR": 66.543771,
            "IQD": 1088.549988,
            "IRR": 30233.5,
            "ISK": 123.631,
            "JEP": 0.707896,
            "JMD": 121.712,
            "JOD": 0.708954,
            "JPY": 108.23,
            "KES": 101.140901,
            "KGS": 69.97385,
            "KHR": 3999.974976,
            "KMF": 432.510114,
            "KPW": 899.91,
            "KRW": 1152.671673,
            "KWD": 0.301628,
            "KYD": 0.824517,
            "KZT": 340.347989,
            "LAK": 8114.975098,
            "LBP": 1508.733325,
            "LKR": 144.776999,
            "LRD": 84.678465,
            "LSL": 14.96062,
            "LTL": 3.017366,
            "LVL": 0.61782,
            "LYD": 1.347863,
            "MAD": 9.62931,
            "MDL": 19.58702,
            "MGA": 3189.983317,
            "MKD": 54.04888,
            "MMK": 1183.150025,
            "MNT": 2028.333333,
            "MOP": 7.9919,
            "MRO": 345.666667,
            "MTL": 0.683738,
            "MUR": 35.051337,
            "MVR": 15.226667,
            "MWK": 678.165004,
            "MXN": 17.77791,
            "MYR": 3.91409,
            "MZN": 51.555001,
            "NAD": 14.96062,
            "NGN": 199.185999,
            "NIO": 28.2471,
            "NOK": 8.228036,
            "NPR": 106.4896,
            "NZD": 1.467301,
            "OMR": 0.385065,
            "PAB": 1,
            "PEN": 3.367,
            "PGK": 3.121175,
            "PHP": 46.10415,
            "PKR": 104.712001,
            "PLN": 3.768282,
            "PYG": 5615.433268,
            "QAR": 3.64205,
            "RON": 3.915141,
            "RSD": 107.746239,
            "RUB": 67.197721,
            "RWF": 759.810002,
            "SAR": 3.750122,
            "SBD": 7.79857,
            "SCR": 13.30947,
            "SDG": 6.098775,
            "SEK": 8.151888,
            "SGD": 1.348584,
            "SHP": 0.707896,
            "SLL": 3977.5,
            "SOS": 613.995003,
            "SRD": 5.074493,
            "STD": 21526.25,
            "SVC": 8.7451,
            "SYP": 219.515665,
            "SZL": 14.96362,
            "THB": 35.0891,
            "TJS": 7.8696,
            "TMT": 3.501633,
            "TND": 2.01911,
            "TOP": 2.239678,
            "TRY": 2.851498,
            "TTD": 6.56744,
            "TWD": 32.44226,
            "TZS": 2187.283301,
            "UAH": 25.63426,
            "UGX": 3348.7,
            "USD": 1,
            "UYU": 31.26458,
            "UZS": 2892.339966,
            "VEF": 9.9715,
            "VND": 22338,
            "VUV": 107.703334,
            "WST": 2.52643,
            "XAF": 576.435366,
            "XAG": 0.0649455,
            "XAU": 0.000802,
            "XCD": 2.70302,
            "XDR": 0.709404,
            "XOF": 580.504746,
            "XPD": 0.001851,
            "XPF": 104.796413,
            "XPT": 0.001034,
            "YER": 250.210999,
            "ZAR": 14.96349,
            "ZMK": 5253.075255,
            "ZMW": 9.840825,
            "ZWL": 322.387247
          }
        }
  recorded_at: Mon, 11 Apr 2016 00:39:52 GMT
- request:
    method: get
    uri: http://openexchangerates.org/api/historical/2015-04-11.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Sat, 11 Apr 2015 23:00:00 GMT
      Etag:
      - '"39efdc023ea736d23415c564aefa145c"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      strin[...]
[...]
