---
http_interactions:
- request:
    method: get
    uri: https://openexchangerates.org/api/latest.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Sat, 05 Mar 2016 20:00:10 GMT
      Etag:
      - '"93aece72ae7d6b412da61da359d63701"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "disclaimer": "Exchange rates provided for informational purposes only and do not constitute financial advice of any kind. Although every attempt is made to ensure quality, no guarantees are made of accuracy, validity, availability, or fitness for any purpose. All usage subject to acceptance of Terms: https://openexchangerates.org/terms/",
          "license": "Data sourced from various providers; resale prohibited; no warranties given of any kind. All usage subject to License Agreement: https://openexchangerates.org/license/",
          "timestamp": 1457208010,
          "base": "USD",
          "rates": {
            "AED": 3.672993,
            "AFN": 68.610001,
            "ALL": 125.653099,
            "AMD": 490.750003,
            "ANG": 1.78875,
            "AOA": 158.866666,
            "ARS": 15.19861,
            "AUD": 1.344134,
            "AWG": 1.793333,
            "AZN": 1.620025,
            "BAM": 1.778696,
            "BBD": 2,
            "BDT": 78.31423,
            "BGN": 1.778798,
            "BHD": 0.377,
            "BIF": 1561.405,
            "BMD": 1,
            "BND": 1.377433,
            "BOB": 6.84097,
            "BRL": 3.759909,
            "BSD": 1,
            "BTC": 0.002497895523,
            "BTN": 67.125867,
            "BWP": 11.214938,
            "BYR": 21191.95,
            "BZD": 1.99171,
            "CAD": 1.333223,
            "CDF": 925.368,
            "CHF": 0.992837,
            "CLF": 0.024602,
            "CLP": 681.394504,
            "CNY": 6.51941,
            "COP": 3164.213327,
            "CRC": 534.691903,
            "CUC": 1,
            "CUP": 0.999388,
            "CVE": 100.503668,
            "CZK": 24.59032,
            "DJF": 177.688501,
            "DKK": 6.78292,
            "DOP": 45.68829,
            "DZD": 108.83846,
            "EEK": 14.239925,
            "EGP": 7.83116,
            "ERN": 15.0015,
            "ETB": 21.36971,
            "EUR": 0.908622,
            "FJD": 2.113533,
            "FKP": 0.702697,
            "GBP": 0.702697,
            "GEL": 2.46665,
            "GGP": 0.702697,
            "GHS": 3.868804,
            "GIP": 0.702697,
            "GMD": 39.48249,
            "GNF": 7616.7675,
            "GTQ": 7.667115,
            "GYD": 205.841836,
            "HKD": 7.764715,
            "HNL": 22.59995,
            "HRK": 6.900748,
            "HTG": 61.47715,
            "HUF": 280.500003,
            "IDR": 13089.916667,
            "ILS": 3.908174,
            "IMP": 0.702697,
            "INR": 67.039281,
            "IQD": 1088.549988,
            "IRR": 30210.5,
            "ISK": 128.6491,
            "JEP": 0.702697,
            "JMD": 121.4183,
            "JOD": 0.708398,
            "JPY": 113.7694,
            "KES": 101.348729,
            "KGS": 72.900099,
            "KHR": 3991.532476,
            "KMF": 447.664007,
            "KPW": 899.91,
            "KRW": 1201.986681,
            "KWD": 0.300525,
            "KYD": 0.823213,
            "KZT": 344.671891,
            "LAK": 8157.619805,
            "LBP": 1506.80165,
            "LKR": 144.5617,
            "LRD": 84.66847,
            "LSL": 15.3987,
            "LTL": 3.095471,
            "LVL": 0.633263,
            "LYD": 1.380691,
            "MAD": 9.831442,
            "MDL": 19.88516,
            "MGA": 3205.301699,
            "MKD": 56.00471,
            "MMK": 1224.357488,
            "MNT": 2034.166667,
            "MOP": 7.988422,
            "MRO": 343.265,
            "MTL": 0.683602,
            "MUR": 35.811362,
            "MVR": 15.2812,
            "MWK": 731.995598,
            "MXN": 17.79568,
            "MYR": 4.079211,
            "MZN": 49.4875,
            "NAD": 15.38396,
            "NGN": 199.0858,
            "NIO": 28.2104,
            "NOK": 8.493018,
            "NPR": 107.308499,
            "NZD": 1.466587,
            "OMR": 0.384986,
            "PAB": 1,
            "PEN": 3.45754,
            "PGK": 3.063325,
            "PHP": 46.79971,
            "PKR": 104.6612,
            "PLN": 3.930247,
            "PYG": 5678.25,
            "QAR": 3.641804,
            "RON": 4.056559,
            "RSD": 112.210881,
            "RUB": 72.051369,
            "RWF": 758.921748,
            "SAR": 3.75027,
            "SBD": 8.131432,
            "SCR": 13.16856,
            "SDG": 6.090691,
            "SEK": 8.487677,
            "SGD": 1.376166,
            "SHP": 0.702697,
            "SLL": 4071,
            "SOS": 609.347253,
            "SRD": 3.9925,
            "STD": 22337.75,
            "SVC": 8.729676,
            "SYP": 219.833665,
            "SZL": 15.38596,
            "THB": 35.36885,
            "TJS": 7.8696,
            "TMT": 3.501467,
            "TND": 2.039697,
            "TOP": 2.263039,
            "TRY": 2.907146,
            "TTD": 6.526694,
            "TWD": 32.66033,
            "TZS": 2183.451667,
            "UAH": 26.16351,
            "UGX": 3355.081667,
            "USD": 1,
            "UYU": 32.37833,
            "UZS": 2858.819947,
            "VEF": 6.320513,
            "VND": 22279.6,
            "VUV": 112.426249,
            "WST": 2.555484,
            "XAF": 596.40002,
            "XAG": 0.0640905,
            "XAU": 0.0007925,
            "XCD": 2.70102,
            "XDR": 0.719926,
            "XOF": 601.63918,
            "XPD": 0.001776,
            "XPF": 108.642187,
            "XPT": 0.001014,
            "YER": 214.994,
            "ZAR": 15.39308,
            "ZMK": 5253.075255,
            "ZMW": 11.375763,
            "ZWL": 322.387247
          }
        }
  recorded_at: Sat, 05 Mar 2016 20:16:25 GMT
- request:
    method: get
    uri: http://openexchangerates.org/api/historical/2015-03-05.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 05 Mar 2015 23:00:00 GMT
      Etag:
      - '"31064d81b9ae37ffb72c03b684c1e3f4"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      strin[...]
[...]
