---
http_interactions:
- request:
    method: get
    uri: https://openexchangerates.org/api/latest.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=SEK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 09 Mar 2016 23:00:12 GMT
      Etag:
      - '"a985d6f9c8e10dc0177f10c41479de16"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "disclaimer": "Exchange rates provided for informational purposes only and do not constitute financial advice of any kind. Although every attempt is made to ensure quality, no guarantees are made of accuracy, validity, availability, or fitness for any purpose. All usage subject to acceptance of Terms: https://openexchangerates.org/terms/",
          "license": "Data sourced from various providers; resale prohibited; no warranties given of any kind. All usage subject to License Agreement: https://openexchangerates.org/license/",
          "timestamp": 1457564412,
          "base": "SEK",
          "rates": {
            "AED": 0.43449325,
            "AFN": 8.10921905,
            "ALL": 14.85666864,
            "AMD": 58.04893532,
            "ANG": 0.2116027,
            "AOA": 18.78018599,
            "ARS": 1.81875642,
            "AUD": 0.15821873,
            "AWG": 0.21214485,
            "AZN": 0.1937636,
            "BAM": 0.2102456,
            "BBD": 0.23659282,
            "BDT": 9.27370619,
            "BGN": 0.21028086,
            "BHD": 0.0445929,
            "BIF": 183.45022892,
            "BMD": 0.11829641,
            "BND": 0.16351557,
            "BOB": 0.80874972,
            "BRL": 0.43813867,
            "BSD": 0.11829641,
            "BTC": 0.000287191336,
            "BTN": 7.95424259,
            "BWP": 1.32000906,
            "BYR": 2489.80817291,
            "BZD": 0.23581443,
            "CAD": 0.15696384,
            "CDF": 109.77906726,
            "CHF": 0.11792105,
            "CLF": 0.00291033,
            "CLP": 80.31786647,
            "CNY": 0.77058399,
            "COP": 374.51735976,
            "CRC": 63.24053907,
            "CUC": 0.11829641,
            "CUP": 0.11828612,
            "CVE": 11.87668345,
            "CZK": 2.90878211,
            "DJF": 21.02659528,
            "DKK": 0.80214027,
            "DOP": 5.41173657,
            "DZD": 12.87083854,
            "EEK": 1.68105112,
            "EGP": 0.92623083,
            "ERN": 1.77462357,
            "ETB": 2.52330262,
            "EUR": 0.10755024,
            "FJD": 0.24884241,
            "FKP": 0.08322188,
            "GBP": 0.08322188,
            "GEL": 0.287549,
            "GGP": 0.08322188,
            "GHS": 0.45498621,
            "GIP": 0.08322188,
            "GMD": 4.69175623,
            "GNF": 902.92219314,
            "GTQ": 0.91051657,
            "GYD": 24.40021189,
            "HKD": 0.91870505,
            "HNL": 2.67375791,
            "HRK": 0.81377223,
            "HTG": 7.31319341,
            "HUF": 33.26173234,
            "IDR": 1552.09620053,
            "ILS": 0.46095639,
            "IMP": 0.08322188,
            "INR": 7.94782572,
            "IQD": 128.77155426,
            "IRR": 3573.79365463,
            "ISK": 15.18346235,
            "JEP": 0.08322188,
            "JMD": 14.36703022,
            "JOD": 0.08381868,
            "JPY": 13.39726939,
            "KES": 12.01804328,
            "KGS": 8.60179323,
            "KHR": 472.51874454,
            "KMF": 52.56730202,
            "KPW": 106.47741449,
            "KRW": 143.26858324,
            "KWD": 0.03557126,
            "KYD": 0.09742502,
            "KZT": 40.75553704,
            "LAK": 960.06436306,
            "LBP": 178.21156615,
            "LKR": 17.13071588,
            "LRD": 10.01597593,
            "LSL": 1.80340213,
            "LTL": 0.36577936,
            "LVL": 0.07481006,
            "LYD": 0.16440007,
            "MAD": 1.16335504,
            "MDL": 2.35870263,
            "MGA": 379.89018426,
            "MKD": 6.62091869,
            "MMK": 144.42779258,
            "MNT": 241.69927905,
            "MOP": 0.94570479,
            "MRO": 40.53418553,
            "MTL": 0.08088375,
            "MUR": 4.23496553,
            "MVR": 1.79652817,
            "MWK": 84.76383423,
            "MXN": 2.10261338,
            "MYR": 0.48622083,
            "MZN": 5.89825894,
            "NAD": 1.80666061,
            "NGN": 23.52406906,
            "NIO": 3.34392007,
            "NOK": 1.0084524,
            "NPR": 12.71355175,
            "NZD": 0.1780549,
            "OMR": 0.04553418,
            "PAB": 0.11829641,
            "PEN": 0.40763203,
            "PGK": 0.36046986,
            "PHP": 5.543197,
            "PKR": 12.38262228,
            "PLN": 0.46468012,
            "PYG": 674.95632698,
            "QAR": 0.43077093,
            "RON": 0.47974091,
            "RSD": 13.26553687,
            "RUB": 8.42002145,
            "RWF": 89.96642985,
            "SAR": 0.44366098,
            "SBD": 0.94165834,
            "SCR": 1.58801182,
            "SDG": 0.72130738,
            "SEK": 1,
            "SGD": 0.1634841,
            "SHP": 0.08322188,
            "SLL": 481.88042079,
            "SOS": 72.47405819,
            "SRD": 0.47229841,
            "STD": 2636.23546758,
            "SVC": 1.03362232,
            "SYP": 26.00785985,
            "SZL": 1.80695635,
            "THB": 4.1773372,
            "TJS": 0.93094542,
            "TMT": 0.41421097,
            "TND": 0.24090307,
            "TOP": 0.2666614,
            "TRY": 0.3426918,
            "TTD": 0.77445879,
            "TWD": 3.89055122,
            "TZS": 258.516888,
            "UAH": 3.08811592,
            "UGX": 396.85763725,
            "USD": 0.11829641,
            "UYU": 3.80413569,
            "UZS": 338.48387383,
            "VEF": 0.7472796,
            "VND": 2635.63609907,
            "VUV": 13.31736596,
            "WST": 0.29954934,
            "XAF": 70.61910248,
            "XAG": 0.0077185449,
            "XAU": 9.45188e-5,
            "XCD": 0.31952097,
            "XDR": 0.0851261,
            "XOF": 70.80308179,
            "XPD": 0.00020879,
            "XPF": 12.83371997,
            "XPT": 0.00012043,
            "YER": 25.42923272,
            "ZAR": 1.80269058,
            "ZMK": 621.41993723,
            "ZMW": 1.34577697,
            "ZWL": 38.12962672
          }
        }
  recorded_at: Thu, 10 Mar 2016 00:01:55 GMT
recorded_with: VCR 3.0.1
