---
http_interactions:
- request:
    method: get
    uri: http://openexchangerates.org/api/historical/2015-03-08.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=SEK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1463d72c247e1fc7daa48a4de3d128fd"
      Last-Modified:
      - Sun, 08 Mar 2015 23:01:02 GMT
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "disclaimer": "Exchange rates provided for informational purposes only and do not constitute financial advice of any kind. Although every attempt is made to ensure quality, no guarantees are made of accuracy, validity, availability, or fitness for any purpose. All usage subject to acceptance of Terms: https://openexchangerates.org/terms/",
          "license": "Data sourced from various providers; resale prohibited; no warranties given of any kind. All usage subject to License Agreement: https://openexchangerates.org/license/",
          "timestamp": 1425855662,
          "base": "SEK",
          "rates": {
            "AED": 0.433525,
            "AFN": 6.804012,
            "ALL": 15.165698,
            "AMD": 56.695281,
            "ANG": 0.211147,
            "AOA": 12.547214,
            "ARS": 1.033149,
            "AUD": 0.153045,
            "AWG": 0.211498,
            "AZN": 0.123554,
            "BAM": 0.212914,
            "BBD": 0.235982,
            "BDT": 9.196404,
            "BGN": 0.212979,
            "BHD": 0.044501,
            "BIF": 185.364509,
            "BMD": 0.117991,
            "BND": 0.162289,
            "BOB": 0.815076,
            "BRL": 0.361416,
            "BSD": 0.117991,
            "BTC": 0.000430454744,
            "BTN": 7.34646,
            "BWP": 1.158922,
            "BYR": 1761.956419,
            "BZD": 0.236151,
            "CAD": 0.148872,
            "CDF": 109.463986,
            "CHF": 0.116393,
            "CLF": 0.002938,
            "CLP": 74.070722,
            "CNY": 0.736545,
            "COP": 304.551132,
            "CRC": 63.224184,
            "CUC": 0.117991,
            "CUP": 0.118271,
            "CVE": 11.947806,
            "CZK": 2.976834,
            "DJF": 20.99108,
            "DKK": 0.811147,
            "DOP": 5.292373,
            "DZD": 11.316485,
            "EEK": 1.703607,
            "EGP": 0.899683,
            "ERN": 1.788248,
            "ETB": 2.406658,
            "EUR": 0.108951,
            "FJD": 0.242651,
            "FKP": 0.078446,
            "GBP": 0.078446,
            "GEL": 0.208313,
            "GGP": 0.078446,
            "GHS": 0.419231,
            "GIP": 0.078446,
            "GMD": 5.078677,
            "GNF": 850.162949,
            "GTQ": 0.901169,
            "GYD": 24.436925,
            "HKD": 0.915244,
            "HNL": 2.483093,
            "HRK": 0.828037,
            "HTG": 5.520503,
            "HUF": 33.274558,
            "IDR": 1540.546708,
            "ILS": 0.474363,
            "IMP": 0.078446,
            "INR": 7.385882,
            "IQD": 139.828913,
            "IRR": 3279.67191,
            "ISK": 16.10763,
            "JEP": 0.078446,
            "JMD": 13.631829,
            "JOD": 0.08361,
            "JPY": 14.25088,
            "KES": 10.754478,
            "KGS": 7.25033,
            "KHR": 477.985191,
            "KMF": 53.53269,
            "KPW": 106.191708,
            "KRW": 130.640383,
            "KWD": 0.035201,
            "KYD": 0.098267,
            "KZT": 21.926818,
            "LAK": 958.220886,
            "LBP": 177.71379,
            "LKR": 15.717081,
            "LRD": 9.999583,
            "LSL": 1.417945,
            "LTL": 0.346146,
            "LVL": 0.076504,
            "LYD": 0.161099,
            "MAD": 1.164532,
            "MDL": 2.151937,
            "MGA": 346.131877,
            "MKD": 6.69138,
            "MMK": 122.281718,
            "MNT": 233.916735,
            "MOP": 0.949928,
            "MRO": 34.315457,
            "MTL": 0.080675,
            "MUR": 4.077297,
            "MVR": 1.793382,
            "MWK": 52.333044,
            "MXN": 1.827013,
            "MYR": 0.434003,
            "MZN": 4.01628,
            "NAD": 1.417945,
            "NGN": 23.601225,
            "NIO": 3.155918,
            "NOK": 0.932868,
            "NPR": 11.835507,
            "NZD": 0.160227,
            "OMR": 0.045451,
            "PAB": 0.117991,
            "PEN": 0.366189,
            "PGK": 0.312959,
            "PHP": 5.22459,
            "PKR": 12.020311,
            "PLN": 0.449966,
            "PYG": 550.693283,
            "QAR": 0.429632,
            "RON": 0.483811,
            "RSD": 13.117744,
            "RUB": 7.129206,
            "RWF": 81.479954,
            "SAR": 0.442603,
            "SBD": 0.912615,
            "SCR": 1.637619,
            "SDG": 0.70506,
            "SEK": 1,
            "SGD": 0.162626,
            "SHP": 0.078446,
            "SLL": 518.333526,
            "SOS": 82.909533,
            "SRD": 0.387305,
            "STD": 2660.692243,
            "SVC": 1.040339,
            "SYP": 22.585148,
            "SZL": 1.417994,
            "THB": 3.845129,
            "TJS": 0.644522,
            "TMT": 0.412968,
            "TND": 0.234022,
            "TOP": 0.235572,
            "TRY": 0.309555,
            "TTD": 0.750121,
            "TWD": 3.725193,
            "TZS": 214.949717,
            "UAH": 2.706515,
            "UGX": 349.520175,
            "USD": 0.117991,
            "UYU": 2.922098,
            "UZS": 290.489782,
            "VEF": 0.746516,
            "VND": 2518.454349,
            "VUV": 12.541536,
            "WST": 0.294036,
            "XAF": 71.058413,
            "XAG": 0.00745086,
            "XAU": 0.00010089,
            "XCD": 0.31875,
            "XDR": 0.084954,
            "XOF": 71.131585,
            "XPF": 13.00598,
            "YER": 25.375571,
            "ZAR": 1.421119,
            "ZMK": 619.690532,
            "ZMW": 0.825773,
            "ZWL": 38.034921
          }
        }
  recorded_at: Sat, 10 Sep 2016 19:35:43 GMT
[...]
