---
http_interactions:
- request:
    method: get
    uri: https://openexchangerates.org/api/latest.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=SEK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 12 Apr 2016 01:00:09 GMT
      Etag:
      - '"cccc3094f188777d8e28d8b2e19f0c86"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "disclaimer": "Exchange rates provided for informational purposes only and do not constitute financial advice of any kind. Although every attempt is made to ensure quality, no guarantees are made of accuracy, validity, availability, or fitness for any purpose. All usage subject to acceptance of Terms: https://openexchangerates.org/terms/",
          "license": "Data sourced from various providers; resale prohibited; no warranties given of any kind. All usage subject to License Agreement: https://openexchangerates.org/license/",
          "timestamp": 1460422809,
          "base": "SEK",
          "rates": {
            "AED": 0.45224623,
            "AFN": 8.43049697,
            "ALL": 14.9973332,
            "AMD": 59.48874719,
            "ANG": 0.22024627,
            "AOA": 20.04544465,
            "ARS": 1.78679376,
            "AUD": 0.16207461,
            "AWG": 0.22080748,
            "AZN": 0.18785627,
            "BAM": 0.21111764,
            "BBD": 0.24625374,
            "BDT": 9.64043888,
            "BGN": 0.2112303,
            "BHD": 0.0464277,
            "BIF": 192.07791862,
            "BMD": 0.12312687,
            "BND": 0.16565181,
            "BOB": 0.84148474,
            "BRL": 0.43232923,
            "BSD": 0.12312687,
            "BTC": 0.000290888211,
            "BTN": 8.18499012,
            "BWP": 1.33296387,
            "BYR": 2462.16803764,
            "BZD": 0.24553197,
            "CAD": 0.15915281,
            "CDF": 113.95391903,
            "CHF": 0.11751019,
            "CLF": 0.00302917,
            "CLP": 83.75545378,
            "CNY": 0.79536363,
            "COP": 377.63586385,
            "CRC": 65.87681588,
            "CUC": 0.12312687,
            "CUP": 0.12307146,
            "CVE": 11.89199951,
            "CZK": 2.91630426,
            "DJF": 21.87979912,
            "DKK": 0.80356216,
            "DOP": 5.63950127,
            "DZD": 13.29788441,
            "EEK": 1.68965158,
            "EGP": 1.09089521,
            "ERN": 1.84708775,
            "ETB": 2.65244584,
            "EUR": 0.10794988,
            "FJD": 0.25510656,
            "FKP": 0.08650192,
            "GBP": 0.08650192,
            "GEL": 0.28001821,
            "GGP": 0.08650192,
            "GHS": 0.47306083,
            "GIP": 0.08650192,
            "GMD": 5.24740621,
            "GNF": 934.60067604,
            "GTQ": 0.95102087,
            "GYD": 25.36044185,
            "HKD": 0.95494492,
            "HNL": 2.78046577,
            "HRK": 0.80879505,
            "HTG": 7.62353873,
            "HUF": 33.66767602,
            "IDR": 1615.35477444,
            "ILS": 0.46322163,
            "IMP": 0.08650192,
            "INR": 8.17506536,
            "IQD": 134.02975385,
            "IRR": 3722.74094205,
            "ISK": 15.19176271,
            "JEP": 0.08650192,
            "JMD": 14.97752208,
            "JOD": 0.08721052,
            "JPY": 13.31098745,
            "KES": 12.44937035,
            "KGS": 8.6156612,
            "KHR": 495.1085388,
            "KMF": 53.2109742,
            "KPW": 110.82526524,
            "KRW": 141.14689885,
            "KWD": 0.03709246,
            "KYD": 0.1015202,
            "KZT": 41.50557432,
            "LAK": 999.23305479,
            "LBP": 185.75740596,
            "LKR": 17.81510395,
            "LRD": 10.4241094,
            "LSL": 1.82283053,
            "LTL": 0.37150898,
            "LVL": 0.07606606,
            "LYD": 0.1657811,
            "MAD": 1.18418167,
            "MDL": 2.41513111,
            "MGA": 391.21634647,
            "MKD": 6.64767394,
            "MMK": 145.04345394,
            "MNT": 248.9420118,
            "MOP": 0.98330104,
            "MRO": 42.60189734,
            "MTL": 0.08418652,
            "MUR": 4.31317738,
            "MVR": 1.87686389,
            "MWK": 84.30126954,
            "MXN": 2.17650631,
            "MYR": 0.47905834,
            "MZN": 6.41183168,
            "NAD": 1.82283053,
            "NGN": 24.51357511,
            "NIO": 3.46964381,
            "NOK": 1.01057192,
            "NPR": 13.09082429,
            "NZD": 0.17950457,
            "OMR": 0.04740815,
            "PAB": 0.12312687,
            "PEN": 0.40620417,
            "PGK": 0.38430051,
            "PHP": 5.67701556,
            "PKR": 12.88559642,
            "PLN": 0.46208801,
            "PYG": 690.08773454,
            "QAR": 0.44838497,
            "RON": 0.48224929,
            "RSD": 13.25794439,
            "RUB": 8.23683811,
            "RWF": 93.7909696,
            "SAR": 0.46172847,
            "SBD": 0.9771612,
            "SCR": 1.64935585,
            "SDG": 0.75051061,
            "SEK": 1,
            "SGD": 0.16562854,
            "SHP": 0.08650192,
            "SLL": 489.61400218,
            "SOS": 75.73626212,
            "SRD": 0.62493142,
            "STD": 2647.50476008,
            "SVC": 1.07620888,
            "SYP": 27.02745606,
            "SZL": 1.82258428,
            "THB": 4.31485314,
            "TJS": 0.96895922,
            "TMT": 0.43112874,
            "TND": 0.24681643,
            "TOP": 0.27589567,
            "TRY": 0.34900743,
            "TTD": 0.80934247,
            "TWD": 3.98578426,
            "TZS": 269.11840175,
            "UAH": 3.147933,
            "UGX": 412.25338919,
            "USD": 0.12312687,
            "UYU": 3.83137332,
            "UZS": 356.12476963,
            "VEF": 1.22775959,
            "VND": 2750.4490847,
            "VUV": 13.27553922,
            "WST": 0.31437356,
            "XAF": 70.83963205,
            "XAG": 0.0077281812,
            "XAU": 9.81937e-5,
            "XCD": 0.33281439,
            "XDR": 0.08718811,
            "XOF": 71.54037909,
            "XPD": 0.00022508,
            "XPF": 12.88645068,
            "XPT": 0.00012448,
            "YER": 30.73185147,
            "ZAR": 1.82154755,
            "ZMK": 646.79471882,
            "ZMW": 1.19732879,
            "ZWL": 39.69453295
          }
        }
  recorded_at: Tue, 12 Apr 2016 01:34:09 GMT
recorded_with: VCR 3.0.1
