---
http_interactions:
- request:
    method: get
    uri: https://openexchangerates.org/api/latest.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=SEK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 11 Apr 2016 23:00:12 GMT
      Etag:
      - '"f95e7243c425946719cdeb927fd7ee9c"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "disclaimer": "Exchange rates provided for informational purposes only and do not constitute financial advice of any kind. Although every attempt is made to ensure quality, no guarantees are made of accuracy, validity, availability, or fitness for any purpose. All usage subject to acceptance of Terms: https://openexchangerates.org/terms/",
          "license": "Data sourced from various providers; resale prohibited; no warranties given of any kind. All usage subject to License Agreement: https://openexchangerates.org/license/",
          "timestamp": 1460415612,
          "base": "SEK",
          "rates": {
            "AED": 0.45221843,
            "AFN": 8.42942795,
            "ALL": 15.01192837,
            "AMD": 59.52613935,
            "ANG": 0.21991056,
            "AOA": 20.04372358,
            "ARS": 1.78645146,
            "AUD": 0.16213974,
            "AWG": 0.22077948,
            "AZN": 0.18782629,
            "BAM": 0.21114627,
            "BBD": 0.24622252,
            "BDT": 9.64953056,
            "BGN": 0.21113088,
            "BHD": 0.04641885,
            "BIF": 191.0686722,
            "BMD": 0.12311126,
            "BND": 0.16575552,
            "BOB": 0.84499505,
            "BRL": 0.43238644,
            "BSD": 0.12311126,
            "BTC": 0.000291315195,
            "BTN": 8.18395223,
            "BWP": 1.33417985,
            "BYR": 2461.85582342,
            "BZD": 0.24561927,
            "CAD": 0.15909114,
            "CDF": 113.87791352,
            "CHF": 0.11750748,
            "CLF": 0.00302878,
            "CLP": 83.80786617,
            "CNY": 0.79540189,
            "COP": 377.58797789,
            "CRC": 65.89382331,
            "CUC": 0.12311126,
            "CUP": 0.1231067,
            "CVE": 11.89022083,
            "CZK": 2.91610436,
            "DJF": 21.8736391,
            "DKK": 0.80339994,
            "DOP": 5.64157093,
            "DZD": 13.29315967,
            "EEK": 1.68905568,
            "EGP": 1.09072857,
            "ERN": 1.8464842,
            "ETB": 2.65366809,
            "EUR": 0.10791403,
            "FJD": 0.25507422,
            "FKP": 0.08651656,
            "GBP": 0.08651656,
            "GEL": 0.27997347,
            "GGP": 0.08651656,
            "GHS": 0.47137577,
            "GIP": 0.08651656,
            "GMD": 5.24784635,
            "GNF": 935.79638309,
            "GTQ": 0.95123637,
            "GYD": 25.35722603,
            "HKD": 0.95474492,
            "HNL": 2.77889193,
            "HRK": 0.80854968,
            "HTG": 7.64442736,
            "HUF": 33.67288625,
            "IDR": 1615.14994003,
            "ILS": 0.46333033,
            "IMP": 0.08651656,
            "INR": 8.17242433,
            "IQD": 134.01275827,
            "IRR": 3722.26888139,
            "ISK": 15.19426833,
            "JEP": 0.08651656,
            "JMD": 14.98337875,
            "JOD": 0.08720881,
            "JPY": 13.29224852,
            "KES": 12.44915813,
            "KGS": 8.61456869,
            "KHR": 495.07653458,
            "KMF": 53.21145811,
            "KPW": 110.81121209,
            "KRW": 141.20840742,
            "KWD": 0.03709835,
            "KYD": 0.10150732,
            "KZT": 41.53724485,
            "LAK": 999.10634744,
            "LBP": 185.73385107,
            "LKR": 17.83205014,
            "LRD": 10.42487234,
            "LSL": 1.82005591,
            "LTL": 0.37141263,
            "LVL": 0.0760441,
            "LYD": 0.16596936,
            "MAD": 1.18455843,
            "MDL": 2.4167454,
            "MGA": 391.4281386,
            "MKD": 6.64628929,
            "MMK": 144.91118532,
            "MNT": 248.95148198,
            "MOP": 0.98353215,
            "MRO": 42.59649522,
            "MTL": 0.08417585,
            "MUR": 4.31337835,
            "MVR": 1.8766259,
            "MWK": 84.30002238,
            "MXN": 2.17637928,
            "MYR": 0.4789188,
            "MZN": 6.40301664,
            "NAD": 1.82020364,
            "NGN": 24.5129289,
            "NIO": 3.45885511,
            "NOK": 1.01043516,
            "NPR": 13.0949013,
            "NZD": 0.17961711,
            "OMR": 0.0474014,
            "PAB": 0.12311126,
            "PEN": 0.40623022,
            "PGK": 0.38426717,
            "PHP": 5.67597314,
            "PKR": 12.88765581,
            "PLN": 0.4620885,
            "PYG": 689.86070207,
            "QAR": 0.44833057,
            "RON": 0.48221276,
            "RSD": 13.26027665,
            "RUB": 8.2270797,
            "RWF": 92.96808107,
            "SAR": 0.46167608,
            "SBD": 0.97703729,
            "SCR": 1.65798117,
            "SDG": 0.75083402,
            "SEK": 1,
            "SGD": 0.16561456,
            "SHP": 0.08651656,
            "SLL": 489.55191688,
            "SOS": 75.60877938,
            "SRD": 0.62472722,
            "STD": 2647.16904431,
            "SVC": 1.07653101,
            "SYP": 27.02156663,
            "SZL": 1.82047202,
            "THB": 4.31528104,
            "TJS": 0.96883635,
            "TMT": 0.43108638,
            "TND": 0.2467285,
            "TOP": 0.27586069,
            "TRY": 0.34901734,
            "TTD": 0.80971752,
            "TWD": 3.98857331,
            "TZS": 269.34691571,
            "UAH": 3.1492303,
            "UGX": 412.20111357,
            "USD": 0.12311126,
            "UYU": 3.82950864,
            "UZS": 356.07961137,
            "VEF": 1.22760391,
            "VND": 2750.10031512,
            "VUV": 13.27385582,
            "WST": 0.30993222,
            "XAF": 70.87458422,
            "XAG": 0.0077118123,
            "XAU": 9.75657e-5,
            "XCD": 0.33277219,
            "XDR": 0.08718321,
            "XOF": 71.55400078,
            "XPD": 0.00022505,
            "XPF": 12.88379171,
            "XPT": 0.00012447,
            "YER": 30.76291813,
            "ZAR": 1.82278528,
            "ZMK": 646.71270227,
            "ZMW": 1.20712127,
            "ZWL": 39.6894995
          }
        }
  recorded_at: Tue, 12 Apr 2016 00:00:46 GMT
recorded_with: VCR 3.0.1
