---
http_interactions:
- request:
    method: get
    uri: https://openexchangerates.org/api/latest.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=SEK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 17 Mar 2016 18:00:17 GMT
      Etag:
      - '"bfb4fb06f5f80522dae5d1833ff08e92"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "disclaimer": "Exchange rates provided for informational purposes only and do not constitute financial advice of any kind. Although every attempt is made to ensure quality, no guarantees are made of accuracy, validity, availability, or fitness for any purpose. All usage subject to acceptance of Terms: https://openexchangerates.org/terms/",
          "license": "Data sourced from various providers; resale prohibited; no warranties given of any kind. All usage subject to License Agreement: https://openexchangerates.org/license/",
          "timestamp": 1458237617,
          "base": "SEK",
          "rates": {
            "AED": 0.44756402,
            "AFN": 8.33711684,
            "ALL": 15.01697265,
            "AMD": 59.33432996,
            "ANG": 0.21795675,
            "AOA": 19.35745614,
            "ARS": 1.79468321,
            "AUD": 0.15934397,
            "AWG": 0.21852129,
            "AZN": 0.19726323,
            "BAM": 0.21146618,
            "BBD": 0.24370409,
            "BDT": 9.55860316,
            "BGN": 0.21134555,
            "BHD": 0.04594212,
            "BIF": 190.34873178,
            "BMD": 0.12185204,
            "BND": 0.16555367,
            "BOB": 0.83237619,
            "BRL": 0.44801755,
            "BSD": 0.12185204,
            "BTC": 0.000290905202,
            "BTN": 8.1526309,
            "BWP": 1.35326601,
            "BYR": 2495.99898814,
            "BZD": 0.24313565,
            "CAD": 0.1592209,
            "CDF": 113.05067071,
            "CHF": 0.11828409,
            "CLF": 0.0029978,
            "CLP": 82.07406569,
            "CNY": 0.79018857,
            "COP": 378.81302462,
            "CRC": 65.15409288,
            "CUC": 0.12185204,
            "CUP": 0.12190542,
            "CVE": 11.92311075,
            "CZK": 2.92154654,
            "DJF": 21.65661156,
            "DKK": 0.80553669,
            "DOP": 5.57464084,
            "DZD": 13.3814722,
            "EEK": 1.7007103,
            "EGP": 1.08318084,
            "ERN": 1.82759788,
            "ETB": 2.60713414,
            "EUR": 0.10765128,
            "FJD": 0.25451029,
            "FKP": 0.08413616,
            "GBP": 0.08413616,
            "GEL": 0.28052778,
            "GGP": 0.08413616,
            "GHS": 0.47260851,
            "GIP": 0.08413616,
            "GMD": 4.81868538,
            "GNF": 931.02883068,
            "GTQ": 0.9432139,
            "GYD": 25.09000626,
            "HKD": 0.94511881,
            "HNL": 2.75321037,
            "HRK": 0.81496986,
            "HTG": 7.52245221,
            "HUF": 33.57148121,
            "IDR": 1595.14682806,
            "ILS": 0.47084263,
            "IMP": 0.08413616,
            "INR": 8.12784924,
            "IQD": 132.64204086,
            "IRR": 3685.71969595,
            "ISK": 15.24414166,
            "JEP": 0.08413616,
            "JMD": 14.82544573,
            "JOD": 0.08634728,
            "JPY": 13.60933796,
            "KES": 12.37128342,
            "KGS": 8.79320916,
            "KHR": 487.81150269,
            "KMF": 53.36293583,
            "KPW": 109.67780614,
            "KRW": 142.86928919,
            "KWD": 0.03665261,
            "KYD": 0.10043716,
            "KZT": 42.29769441,
            "LAK": 989.46450145,
            "LBP": 183.82660357,
            "LKR": 17.69094288,
            "LRD": 10.31702612,
            "LSL": 1.84483385,
            "LTL": 0.37337172,
            "LVL": 0.07613182,
            "LYD": 0.16637739,
            "MAD": 1.1803805,
            "MDL": 2.4096132,
            "MGA": 387.12901841,
            "MKD": 6.65627391,
            "MMK": 147.03459648,
            "MNT": 249.04526889,
            "MOP": 0.97362171,
            "MRO": 42.20536444,
            "MTL": 0.0832983,
            "MUR": 4.32313078,
            "MVR": 1.85438498,
            "MWK": 82.63030882,
            "MXN": 2.13136162,
            "MYR": 0.49441247,
            "MZN": 6.02741147,
            "NAD": 1.87447558,
            "NGN": 24.24660697,
            "NIO": 3.42878735,
            "NOK": 1.02115534,
            "NPR": 13.02854238,
            "NZD": 0.17787157,
            "OMR": 0.04691365,
            "PAB": 0.12185204,
            "PEN": 0.40913554,
            "PGK": 0.373245,
            "PHP": 5.63858391,
            "PKR": 12.74086189,
            "PLN": 0.4626437,
            "PYG": 696.69231238,
            "QAR": 0.44370899,
            "RON": 0.48371533,
            "RSD": 13.28695145,
            "RUB": 8.36237189,
            "RWF": 91.76579891,
            "SAR": 0.45696771,
            "SBD": 0.97058772,
            "SCR": 1.62222357,
            "SDG": 0.74339068,
            "SEK": 1,
            "SGD": 0.1651869,
            "SHP": 0.08413616,
            "SLL": 494.41466787,
            "SOS": 74.88333617,
            "SRD": 0.48649429,
            "STD": 2664.84631898,
            "SVC": 1.06568337,
            "SYP": 26.77280284,
            "SZL": 1.87484114,
            "THB": 4.24112009,
            "TJS": 0.95892684,
            "TMT": 0.42664873,
            "TND": 0.24400068,
            "TOP": 0.27554439,
            "TRY": 0.34812191,
            "TTD": 0.79841614,
            "TWD": 3.95234172,
            "TZS": 266.49996101,
            "UAH": 3.23859459,
            "UGX": 410.55710669,
            "USD": 0.12185204,
            "UYU": 3.93646683,
            "UZS": 348.65768361,
            "VEF": 0.77102868,
            "VND": 2717.4508617,
            "VUV": 13.3295982,
            "WST": 0.31001402,
            "XAF": 70.94533583,
            "XAG": 0.0076111224,
            "XAU": 9.6324e-5,
            "XCD": 0.32912481,
            "XDR": 0.08652592,
            "XOF": 71.54719963,
            "XPD": 0.00020398,
            "XPF": 12.9161491,
            "XPT": 0.00012721,
            "YER": 26.20013918,
            "ZAR": 1.84565794,
            "ZMK": 640.09795625,
            "ZMW": 1.38374572,
            "ZWL": 39.27568891
          }
        }
  recorded_at: Thu, 17 Mar 2016 18:27:23 GMT
recorded_with: VCR 3.0.1
