---
http_interactions:
- request:
    method: get
    uri: https://openexchangerates.org/api/latest.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=SEK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 16 Mar 2016 03:00:05 GMT
      Etag:
      - '"03e9111ea5e5dfd26798fdc30bc723bc"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "disclaimer": "Exchange rates provided for informational purposes only and do not constitute financial advice of any kind. Although every attempt is made to ensure quality, no guarantees are made of accuracy, validity, availability, or fitness for any purpose. All usage subject to acceptance of Terms: https://openexchangerates.org/terms/",
          "license": "Data sourced from various providers; resale prohibited; no warranties given of any kind. All usage subject to License Agreement: https://openexchangerates.org/license/",
          "timestamp": 1458097205,
          "base": "SEK",
          "rates": {
            "AED": 0.44110352,
            "AFN": 8.2166021,
            "ALL": 14.88464765,
            "AMD": 58.63545991,
            "ANG": 0.21481215,
            "AOA": 19.07864136,
            "ARS": 1.74802148,
            "AUD": 0.16104648,
            "AWG": 0.21536252,
            "AZN": 0.1977953,
            "BAM": 0.21152179,
            "BBD": 0.2401813,
            "BDT": 9.40906166,
            "BGN": 0.2114633,
            "BHD": 0.04526601,
            "BIF": 186.84513818,
            "BMD": 0.12009065,
            "BND": 0.1655243,
            "BOB": 0.82001174,
            "BRL": 0.45052103,
            "BSD": 0.12009065,
            "BTC": 0.000289372269,
            "BTN": 8.08842935,
            "BWP": 1.34945418,
            "BYR": 2481.04279034,
            "BZD": 0.23950711,
            "CAD": 0.1604082,
            "CDF": 111.61945483,
            "CHF": 0.11858003,
            "CLF": 0.00295447,
            "CLP": 82.4225835,
            "CNY": 0.7828097,
            "COP": 379.64637231,
            "CRC": 64.13181702,
            "CUC": 0.12009065,
            "CUP": 0.12007264,
            "CVE": 11.93807141,
            "CZK": 2.92379179,
            "DJF": 21.33874246,
            "DKK": 0.80650214,
            "DOP": 5.48757704,
            "DZD": 13.22468972,
            "EEK": 1.69215831,
            "EGP": 1.07427511,
            "ERN": 1.8011796,
            "ETB": 2.56558901,
            "EUR": 0.10814151,
            "FJD": 0.25305706,
            "FKP": 0.0849424,
            "GBP": 0.0849424,
            "GEL": 0.27928582,
            "GGP": 0.0849424,
            "GHS": 0.46305117,
            "GIP": 0.0849424,
            "GMD": 4.73423279,
            "GNF": 916.20940327,
            "GTQ": 0.92799593,
            "GYD": 24.76449347,
            "HKD": 0.93200407,
            "HNL": 2.71258477,
            "HRK": 0.81745705,
            "HTG": 7.44102078,
            "HUF": 33.60596337,
            "IDR": 1579.19403887,
            "ILS": 0.4676468,
            "IMP": 0.0849424,
            "INR": 8.08779899,
            "IQD": 130.72467477,
            "IRR": 3627.51819583,
            "ISK": 15.19141921,
            "JEP": 0.0849424,
            "JMD": 14.61150135,
            "JOD": 0.08507606,
            "JPY": 13.61435278,
            "KES": 12.18926094,
            "KGS": 8.66972826,
            "KHR": 480.88498834,
            "KMF": 53.1118612,
            "KPW": 108.07077614,
            "KRW": 143.09160935,
            "KWD": 0.036145,
            "KYD": 0.09899817,
            "KZT": 41.36369777,
            "LAK": 975.37116093,
            "LBP": 181.17575867,
            "LKR": 17.40215596,
            "LRD": 10.16789153,
            "LSL": 1.90889647,
            "LTL": 0.36973965,
            "LVL": 0.07551252,
            "LYD": 0.1656283,
            "MAD": 1.17334977,
            "MDL": 2.36864155,
            "MGA": 384.45960349,
            "MKD": 6.65992117,
            "MMK": 145.85429966,
            "MNT": 245.52533234,
            "MOP": 0.95965038,
            "MRO": 41.62930346,
            "MTL": 0.08211054,
            "MUR": 4.27778504,
            "MVR": 1.83018149,
            "MWK": 83.14616185,
            "MXN": 2.14724483,
            "MYR": 0.49673804,
            "MZN": 6.063377,
            "NAD": 1.90288077,
            "NGN": 23.90895556,
            "NIO": 3.36941817,
            "NOK": 1.026443,
            "NPR": 12.93645295,
            "NZD": 0.18215782,
            "OMR": 0.04623046,
            "PAB": 0.12009065,
            "PEN": 0.40262228,
            "PGK": 0.36777161,
            "PHP": 5.61852148,
            "PKR": 12.56866333,
            "PLN": 0.46377508,
            "PYG": 687.56380062,
            "QAR": 0.43729881,
            "RON": 0.48378062,
            "RSD": 13.31861755,
            "RUB": 8.51574815,
            "RWF": 92.16756092,
            "SAR": 0.45034306,
            "SBD": 0.95674911,
            "SCR": 1.59294962,
            "SDG": 0.73221286,
            "SEK": 1,
            "SGD": 0.16565496,
            "SHP": 0.0849424,
            "SLL": 487.56803586,
            "SOS": 73.57134495,
            "SRD": 0.47946192,
            "STD": 2648.65631173,
            "SVC": 1.04978022,
            "SYP": 26.38859893,
            "SZL": 1.91056657,
            "THB": 4.21088494,
            "TJS": 0.94506537,
            "TMT": 0.42049345,
            "TND": 0.24286316,
            "TOP": 0.27151283,
            "TRY": 0.34782311,
            "TTD": 0.78769462,
            "TWD": 3.94205242,
            "TZS": 262.34642958,
            "UAH": 3.22683334,
            "UGX": 403.59645074,
            "USD": 0.12009065,
            "UYU": 3.86415802,
            "UZS": 343.55772475,
            "VEF": 0.75988367,
            "VND": 2678.60591893,
            "VUV": 13.1345145,
            "WST": 0.30767885,
            "XAF": 70.99412793,
            "XAG": 0.0078684594,
            "XAU": 9.73335e-5,
            "XCD": 0.32436725,
            "XDR": 0.08617957,
            "XOF": 71.48896625,
            "XPD": 0.00021052,
            "XPF": 12.91125493,
            "XPT": 0.00012513,
            "YER": 25.82069061,
            "ZAR": 1.91023152,
            "ZMK": 630.71906138,
            "ZMW": 1.36716599,
            "ZWL": 38.71569379
          }
        }
  recorded_at: Wed, 16 Mar 2016 04:02:58 GMT
recorded_with: VCR 3.0.1
