---
http_interactions:
- request:
    method: get
    uri: https://openexchangerates.org/api/latest.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=SEK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Sat, 16 Apr 2016 16:00:10 GMT
      Etag:
      - '"2f6bdfa69fd0f3c19be0ae40d5d3f4c3"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "disclaimer": "Exchange rates provided for informational purposes only and do not constitute financial advice of any kind. Although every attempt is made to ensure quality, no guarantees are made of accuracy, validity, availability, or fitness for any purpose. All usage subject to acceptance of Terms: https://openexchangerates.org/terms/",
          "license": "Data sourced from various providers; resale prohibited; no warranties given of any kind. All usage subject to License Agreement: https://openexchangerates.org/license/",
          "timestamp": 1460822410,
          "base": "SEK",
          "rates": {
            "AED": 0.45166394,
            "AFN": 8.40736169,
            "ALL": 15.17624053,
            "AMD": 59.37506879,
            "ANG": 0.21995389,
            "AOA": 20.38501313,
            "ARS": 1.73218207,
            "AUD": 0.15919364,
            "AWG": 0.2205236,
            "AZN": 0.18720121,
            "BAM": 0.2131932,
            "BBD": 0.24593715,
            "BDT": 9.63541908,
            "BGN": 0.2131188,
            "BHD": 0.04635583,
            "BIF": 191.22720055,
            "BMD": 0.12296857,
            "BND": 0.16702649,
            "BOB": 0.84195685,
            "BRL": 0.43387137,
            "BSD": 0.12296857,
            "BTC": 0.000285756122,
            "BTN": 8.19078931,
            "BWP": 1.32816058,
            "BYR": 2451.6029507,
            "BZD": 0.2452639,
            "CAD": 0.15767559,
            "CDF": 114.12080113,
            "CHF": 0.11900936,
            "CLF": 0.00302527,
            "CLP": 81.85453531,
            "CNY": 0.79651234,
            "COP": 368.53764,
            "CRC": 65.77961634,
            "CUC": 0.12296857,
            "CUP": 0.12294706,
            "CVE": 12.01736415,
            "CZK": 2.94569868,
            "DJF": 21.84487527,
            "DKK": 0.81104452,
            "DOP": 5.64224212,
            "DZD": 13.38996692,
            "EEK": 1.70597992,
            "EGP": 1.09179309,
            "ERN": 1.84434416,
            "ETB": 2.64845043,
            "EUR": 0.10898028,
            "FJD": 0.25418834,
            "FKP": 0.08658512,
            "GBP": 0.08658512,
            "GEL": 0.27580622,
            "GGP": 0.08658512,
            "GHS": 0.47196974,
            "GIP": 0.08658512,
            "GMD": 5.24534506,
            "GNF": 933.85072746,
            "GTQ": 0.95191289,
            "GYD": 25.35419389,
            "HKD": 0.95372926,
            "HNL": 2.77476006,
            "HRK": 0.8174561,
            "HTG": 7.63528173,
            "HUF": 33.91635579,
            "IDR": 1621.14595484,
            "ILS": 0.46438615,
            "IMP": 0.08658512,
            "INR": 8.19290425,
            "IQD": 133.85744032,
            "IRR": 3718.56969348,
            "ISK": 15.27012679,
            "JEP": 0.08658512,
            "JMD": 14.98909465,
            "JOD": 0.08710971,
            "JPY": 13.38444071,
            "KES": 12.44798214,
            "KGS": 8.42623724,
            "KHR": 494.64355038,
            "KMF": 53.5466943,
            "KPW": 110.68278424,
            "KRW": 141.08368983,
            "KWD": 0.03709962,
            "KYD": 0.10137431,
            "KZT": 41.06821928,
            "LAK": 998.50145552,
            "LBP": 185.51162121,
            "LKR": 17.856574,
            "LRD": 11.12754313,
            "LSL": 1.7912365,
            "LTL": 0.37266586,
            "LVL": 0.07652125,
            "LYD": 0.16620605,
            "MAD": 1.19145641,
            "MDL": 2.4193071,
            "MGA": 391.17020671,
            "MKD": 6.71556348,
            "MMK": 144.91631165,
            "MNT": 246.16259139,
            "MOP": 0.98213217,
            "MRO": 42.51638464,
            "MTL": 0.08406156,
            "MUR": 4.31983229,
            "MVR": 1.87363122,
            "MWK": 83.60719509,
            "MXN": 2.15663024,
            "MYR": 0.47971984,
            "MZN": 6.43494563,
            "NAD": 1.79099056,
            "NGN": 24.46224908,
            "NIO": 3.46135141,
            "NOK": 1.01440233,
            "NPR": 13.10008818,
            "NZD": 0.17770631,
            "OMR": 0.04734843,
            "PAB": 0.12296857,
            "PEN": 0.40263883,
            "PGK": 0.38423683,
            "PHP": 5.67432831,
            "PKR": 12.87358007,
            "PLN": 0.46812784,
            "PYG": 686.30564983,
            "QAR": 0.447779,
            "RON": 0.48784708,
            "RSD": 13.3933215,
            "RUB": 8.16811378,
            "RWF": 93.51049863,
            "SAR": 0.46111666,
            "SBD": 0.9735866,
            "SCR": 1.73008054,
            "SDG": 0.75018491,
            "SEK": 1,
            "SGD": 0.16699551,
            "SHP": 0.08658512,
            "SLL": 486.70961795,
            "SOS": 75.23718523,
            "SRD": 0.62400317,
            "STD": 2670.16729506,
            "SVC": 1.07497529,
            "SYP": 26.99844715,
            "SZL": 1.79111353,
            "THB": 4.30999074,
            "TJS": 0.96771349,
            "TMT": 0.43054987,
            "TND": 0.24753045,
            "TOP": 0.27413015,
            "TRY": 0.35102695,
            "TTD": 0.80961858,
            "TWD": 3.97701521,
            "TZS": 269.19378568,
            "UAH": 3.13110454,
            "UGX": 411.03393342,
            "USD": 0.12296857,
            "UYU": 3.84769653,
            "UZS": 356.50986989,
            "VEF": 1.22622098,
            "VND": 2744.45773466,
            "VUV": 13.21502273,
            "WST": 0.30895166,
            "XAF": 71.67065019,
            "XAG": 0.0075574027,
            "XAU": 9.94816e-5,
            "XCD": 0.33238652,
            "XDR": 0.0874705,
            "XOF": 71.87135704,
            "XPD": 0.00021606,
            "XPF": 13.01213183,
            "XPT": 0.00012444,
            "YER": 30.70697474,
            "ZAR": 1.79037203,
            "ZMK": 645.96317595,
            "ZMW": 1.13348681,
            "ZWL": 39.63557218
          }
        }
  recorded_at: Sat, 16 Apr 2016 16:02:45 GMT
recorded_with: VCR 3.0.1
