---
http_interactions:
- request:
    method: get
    uri: https://openexchangerates.org/api/latest.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=SEK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 18 Mar 2016 18:17:23 GMT
      Etag:
      - '"d2b47df08c2f6646c389b53f12c59ccb"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "disclaimer": "Exchange rates provided for informational purposes only and do not constitute financial advice of any kind. Although every attempt is made to ensure quality, no guarantees are made of accuracy, validity, availability, or fitness for any purpose. All usage subject to acceptance of Terms: https://openexchangerates.org/terms/",
          "license": "Data sourced from various providers; resale prohibited; no warranties given of any kind. All usage subject to License Agreement: https://openexchangerates.org/license/",
          "timestamp": 1458325043,
          "base": "SEK",
          "rates": {
            "AED": 0.44680512,
            "AFN": 8.32213537,
            "ALL": 14.9157215,
            "AMD": 59.20017503,
            "ANG": 0.21759689,
            "AOA": 19.32509064,
            "ARS": 1.79423463,
            "AUD": 0.16002319,
            "AWG": 0.2181605,
            "AZN": 0.19547627,
            "BAM": 0.2110522,
            "BBD": 0.24330172,
            "BDT": 9.51821515,
            "BGN": 0.21096887,
            "BHD": 0.045867,
            "BIF": 189.07006871,
            "BMD": 0.12165086,
            "BND": 0.16513472,
            "BOB": 0.82970169,
            "BRL": 0.44103984,
            "BSD": 0.12165086,
            "BTC": 0.000297856527,
            "BTN": 8.1006538,
            "BWP": 1.34788703,
            "BYR": 2474.76474548,
            "BZD": 0.24226221,
            "CAD": 0.15843905,
            "CDF": 112.68875043,
            "CHF": 0.11785462,
            "CLF": 0.00299237,
            "CLP": 81.98838587,
            "CNY": 0.78728909,
            "COP": 375.8620281,
            "CRC": 64.90598992,
            "CUC": 0.12165086,
            "CUP": 0.12163261,
            "CVE": 11.87413576,
            "CZK": 2.91699056,
            "DJF": 21.62114443,
            "DKK": 0.80414783,
            "DOP": 5.55217447,
            "DZD": 13.39543123,
            "EEK": 1.68869338,
            "EGP": 1.07988885,
            "ERN": 1.82494538,
            "ETB": 2.59783223,
            "EUR": 0.10787792,
            "FJD": 0.25235255,
            "FKP": 0.08397681,
            "GBP": 0.08397681,
            "GEL": 0.27844057,
            "GGP": 0.08397681,
            "GHS": 0.46799706,
            "GIP": 0.08397681,
            "GMD": 4.79325923,
            "GNF": 926.69368995,
            "GTQ": 0.94069727,
            "GYD": 25.00359101,
            "HKD": 0.94347566,
            "HNL": 2.74525604,
            "HRK": 0.81279964,
            "HTG": 7.52780695,
            "HUF": 33.46161429,
            "IDR": 1594.16153726,
            "ILS": 0.46908487,
            "IMP": 0.08397681,
            "INR": 8.08523249,
            "IQD": 132.42304281,
            "IRR": 3680.2426594,
            "ISK": 15.21622346,
            "JEP": 0.08397681,
            "JMD": 14.77673539,
            "JOD": 0.08618647,
            "JPY": 13.57827965,
            "KES": 12.34597712,
            "KGS": 8.76582027,
            "KHR": 485.39392568,
            "KMF": 53.39317047,
            "KPW": 109.49672309,
            "KRW": 141.58882617,
            "KWD": 0.0365809,
            "KYD": 0.10008727,
            "KZT": 42.09072247,
            "LAK": 984.56361257,
            "LBP": 183.20193824,
            "LKR": 17.61675989,
            "LRD": 10.29999224,
            "LSL": 1.86430248,
            "LTL": 0.36876329,
            "LVL": 0.07573009,
            "LYD": 0.16576755,
            "MAD": 1.17826936,
            "MDL": 2.39548427,
            "MGA": 387.83470105,
            "MKD": 6.65269263,
            "MMK": 147.03148641,
            "MNT": 248.67463419,
            "MOP": 0.97048324,
            "MRO": 41.69546751,
            "MTL": 0.08317732,
            "MUR": 4.30656516,
            "MVR": 1.8596362,
            "MWK": 82.60827839,
            "MXN": 2.11434913,
            "MYR": 0.49328061,
            "MZN": 6.10869809,
            "NAD": 1.86212189,
            "NGN": 24.18484812,
            "NIO": 3.43436437,
            "NOK": 1.01886732,
            "NPR": 12.94842028,
            "NZD": 0.17904379,
            "OMR": 0.04683376,
            "PAB": 0.12165086,
            "PEN": 0.4098853,
            "PGK": 0.37259834,
            "PHP": 5.65039781,
            "PKR": 12.71499174,
            "PLN": 0.46030167,
            "PYG": 692.50483003,
            "QAR": 0.44298991,
            "RON": 0.4827673,
            "RSD": 13.26136225,
            "RUB": 8.31981062,
            "RWF": 91.53377198,
            "SAR": 0.45621445,
            "SBD": 0.95709532,
            "SCR": 1.61528134,
            "SDG": 0.74065849,
            "SEK": 1,
            "SGD": 0.1651026,
            "SHP": 0.08397681,
            "SLL": 493.4767159,
            "SOS": 74.680825,
            "SRD": 0.48569106,
            "STD": 2646.02786827,
            "SVC": 1.06187528,
            "SYP": 26.72616671,
            "SZL": 1.86212189,
            "THB": 4.24081226,
            "TJS": 0.95734361,
            "TMT": 0.42593616,
            "TND": 0.24387676,
            "TOP": 0.27336992,
            "TRY": 0.34841695,
            "TTD": 0.79910261,
            "TWD": 3.9380038,
            "TZS": 265.38034056,
            "UAH": 3.23454432,
            "UGX": 408.47865137,
            "USD": 0.12165086,
            "UYU": 3.92361251,
            "UZS": 348.02120849,
            "VEF": 0.7697592,
            "VND": 2709.17682999,
            "VUV": 13.16850286,
            "WST": 0.306153,
            "XAF": 70.846844,
            "XAG": 0.0076881519,
            "XAU": 9.70774e-5,
            "XCD": 0.32858141,
            "XDR": 0.0865131,
            "XOF": 71.34193867,
            "XPD": 0.00020632,
            "XPF": 12.87807883,
            "XPT": 0.00012542,
            "YER": 26.15298861,
            "ZAR": 1.86236641,
            "ZMK": 639.04112541,
            "ZMW": 1.37913148,
            "ZWL": 39.21084296
          }
        }
  recorded_at: Fri, 18 Mar 2016 18:55:23 GMT
recorded_with: VCR 3.0.1
