---
http_interactions:
- request:
    method: get
    uri: https://openexchangerates.org/api/latest.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=SEK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 11 Apr 2016 00:00:08 GMT
      Etag:
      - '"d528048e3ffd6478e5f0f86043bb4ede"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "disclaimer": "Exchange rates provided for informational purposes only and do not constitute financial advice of any kind. Although every attempt is made to ensure quality, no guarantees are made of accuracy, validity, availability, or fitness for any purpose. All usage subject to acceptance of Terms: https://openexchangerates.org/terms/",
          "license": "Data sourced from various providers; resale prohibited; no warranties given of any kind. All usage subject to License Agreement: https://openexchangerates.org/license/",
          "timestamp": 1460332808,
          "base": "SEK",
          "rates": {
            "AED": 0.45059378,
            "AFN": 8.3900808,
            "ALL": 15.05674514,
            "AMD": 59.25743779,
            "ANG": 0.21943383,
            "AOA": 19.97204022,
            "ARS": 1.77469931,
            "AUD": 0.16211889,
            "AWG": 0.2199899,
            "AZN": 0.18753631,
            "BAM": 0.21041457,
            "BBD": 0.24534194,
            "BDT": 9.61886007,
            "BGN": 0.21045873,
            "BHD": 0.04625996,
            "BIF": 190.38534386,
            "BMD": 0.12267097,
            "BND": 0.16553834,
            "BOB": 0.84202089,
            "BRL": 0.44036535,
            "BSD": 0.12267097,
            "BTC": 0.000291208431,
            "BTN": 8.15958009,
            "BWP": 1.34623574,
            "BYR": 2452.43801191,
            "BZD": 0.24475312,
            "CAD": 0.15930322,
            "CDF": 113.53198179,
            "CHF": 0.11697253,
            "CLF": 0.00301795,
            "CLP": 83.84965593,
            "CNY": 0.79297728,
            "COP": 379.36488283,
            "CRC": 65.73274854,
            "CUC": 0.12267097,
            "CUP": 0.1226863,
            "CVE": 11.8382268,
            "CZK": 2.90724799,
            "DJF": 21.79939813,
            "DKK": 0.8005835,
            "DOP": 5.62706701,
            "DZD": 13.26013557,
            "EEK": 1.68349344,
            "EGP": 1.08922497,
            "ERN": 1.84024854,
            "ETB": 2.64164081,
            "EUR": 0.10757201,
            "FJD": 0.25559723,
            "FKP": 0.08683829,
            "GBP": 0.08683829,
            "GEL": 0.27898752,
            "GGP": 0.08683829,
            "GHS": 0.47168214,
            "GIP": 0.08683829,
            "GMD": 5.23321959,
            "GNF": 932.29630952,
            "GTQ": 0.94738053,
            "GYD": 25.26653973,
            "HKD": 0.95175621,
            "HNL": 2.77136536,
            "HRK": 0.80693258,
            "HTG": 7.60523513,
            "HUF": 33.62336443,
            "IDR": 1609.78250278,
            "ILS": 0.463506,
            "IMP": 0.08683829,
            "INR": 8.16298887,
            "IQD": 133.53348181,
            "IRR": 3708.77274074,
            "ISK": 15.16593457,
            "JEP": 0.08683829,
            "JMD": 14.93052898,
            "JOD": 0.08696807,
            "JPY": 13.27667897,
            "KES": 12.40705233,
            "KGS": 8.58375998,
            "KHR": 490.68080621,
            "KMF": 53.05643478,
            "KPW": 110.3928317,
            "KRW": 141.39935105,
            "KWD": 0.037001,
            "KYD": 0.1011443,
            "KZT": 41.7508176,
            "LAK": 995.47185854,
            "LBP": 185.07777891,
            "LKR": 17.75993475,
            "LRD": 10.38758935,
            "LSL": 1.83523375,
            "LTL": 0.37014321,
            "LVL": 0.07578858,
            "LYD": 0.16534366,
            "MAD": 1.18123679,
            "MDL": 2.40275872,
            "MGA": 391.31834454,
            "MKD": 6.63022848,
            "MMK": 145.13816002,
            "MNT": 248.81761538,
            "MOP": 0.98037412,
            "MRO": 42.40326499,
            "MTL": 0.0838748,
            "MUR": 4.29978147,
            "MVR": 1.86787,
            "MWK": 83.19115817,
            "MXN": 2.18083345,
            "MYR": 0.48014521,
            "MZN": 6.32430193,
            "NAD": 1.83523375,
            "NGN": 24.43433951,
            "NIO": 3.46509913,
            "NOK": 1.00934115,
            "NPR": 13.06318242,
            "NZD": 0.17999524,
            "OMR": 0.0472363,
            "PAB": 0.12267097,
            "PEN": 0.41303315,
            "PGK": 0.38287756,
            "PHP": 5.65564075,
            "PKR": 12.84512263,
            "PLN": 0.4622588,
            "PYG": 688.85064024,
            "QAR": 0.4467738,
            "RON": 0.48027414,
            "RSD": 13.21733554,
            "RUB": 8.24320955,
            "RWF": 93.20662919,
            "SAR": 0.4600311,
            "SBD": 0.95665814,
            "SCR": 1.63268558,
            "SDG": 0.74814264,
            "SEK": 1,
            "SGD": 0.16543211,
            "SHP": 0.08683829,
            "SLL": 487.92377913,
            "SOS": 75.31936197,
            "SRD": 0.62249297,
            "STD": 2640.64594607,
            "SVC": 1.07276989,
            "SYP": 26.92819933,
            "SZL": 1.83560176,
            "THB": 4.3044139,
            "TJS": 0.96537146,
            "TMT": 0.42954871,
            "TND": 0.24768618,
            "TOP": 0.27474347,
            "TRY": 0.34979602,
            "TTD": 0.80563423,
            "TWD": 3.97972347,
            "TZS": 268.31616197,
            "UAH": 3.14457951,
            "UGX": 410.78827383,
            "USD": 0.12267097,
            "UYU": 3.83525632,
            "UZS": 354.80614626,
            "VEF": 1.22321357,
            "VND": 2740.22410514,
            "VUV": 13.21207234,
            "WST": 0.30991962,
            "XAF": 70.7118849,
            "XAG": 0.0079669274,
            "XAU": 9.83821e-5,
            "XCD": 0.33158208,
            "XDR": 0.08702328,
            "XOF": 71.21107969,
            "XPD": 0.00022706,
            "XPF": 12.85547753,
            "XPT": 0.00012684,
            "YER": 30.6936257,
            "ZAR": 1.83558582,
            "ZMK": 644.39983167,
            "ZMW": 1.20718354,
            "ZWL": 39.54755598
          }
        }
  recorded_at: Mon, 11 Apr 2016 00:39:50 GMT
recorded_with: VCR 3.0.1
