---
http_interactions:
- request:
    method: get
    uri: https://openexchangerates.org/api/latest.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=RUB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 17 Mar 2016 18:00:17 GMT
      Etag:
      - '"08da02efb656e2478c077836bc09e61d"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "disclaimer": "Exchange rates provided for informational purposes only and do not constitute financial advice of any kind. Although every attempt is made to ensure quality, no guarantees are made of accuracy, validity, availability, or fitness for any purpose. All usage subject to acceptance of Terms: https://openexchangerates.org/terms/",
          "license": "Data sourced from various providers; resale prohibited; no warranties given of any kind. All usage subject to License Agreement: https://openexchangerates.org/license/",
          "timestamp": 1458237617,
          "base": "RUB",
          "rates": {
            "AED": 0.05352118,
            "AFN": 0.99697992,
            "ALL": 1.7957791,
            "AMD": 7.09539479,
            "ANG": 0.02606399,
            "AOA": 2.31482842,
            "ARS": 0.21461413,
            "AUD": 0.01905488,
            "AWG": 0.0261315,
            "AZN": 0.02358939,
            "BAM": 0.02528782,
            "BBD": 0.02914294,
            "BDT": 1.14304928,
            "BGN": 0.0252734,
            "BHD": 0.00549391,
            "BIF": 22.76252888,
            "BMD": 0.01457147,
            "BND": 0.01979745,
            "BOB": 0.09953829,
            "BRL": 0.05357542,
            "BSD": 0.01457147,
            "BTC": 3.4787403e-5,
            "BTN": 0.97491848,
            "BWP": 0.16182801,
            "BYR": 298.47978777,
            "BZD": 0.02907496,
            "CAD": 0.01904016,
            "CDF": 13.51897191,
            "CHF": 0.0141448,
            "CLF": 0.00035849,
            "CLP": 9.81468736,
            "CNY": 0.09449335,
            "COP": 45.29971035,
            "CRC": 7.79134123,
            "CUC": 0.01457147,
            "CUP": 0.01457785,
            "CVE": 1.42580489,
            "CZK": 0.34936817,
            "DJF": 2.58976901,
            "DKK": 0.09632873,
            "DOP": 0.66663393,
            "DZD": 1.60020056,
            "EEK": 0.20337654,
            "EGP": 0.12953034,
            "ERN": 0.21855018,
            "ETB": 0.3117697,
            "EUR": 0.0128733,
            "FJD": 0.03043518,
            "FKP": 0.01006128,
            "GBP": 0.01006128,
            "GEL": 0.03354644,
            "GGP": 0.01006128,
            "GHS": 0.05651608,
            "GIP": 0.01006128,
            "GMD": 0.57623428,
            "GNF": 111.33549697,
            "GTQ": 0.11279263,
            "GYD": 3.00034566,
            "HKD": 0.11302042,
            "HNL": 0.32923797,
            "HRK": 0.09745678,
            "HTG": 0.89955964,
            "HUF": 4.0145884,
            "IDR": 190.75291655,
            "ILS": 0.05630491,
            "IMP": 0.01006128,
            "INR": 0.97195501,
            "IQD": 15.86177254,
            "IRR": 440.75051226,
            "ISK": 1.82294472,
            "JEP": 0.01006128,
            "JMD": 1.77287568,
            "JOD": 0.01032569,
            "JPY": 1.6274495,
            "KES": 1.47939886,
            "KGS": 1.05152094,
            "KHR": 58.3341077,
            "KMF": 6.38131579,
            "KPW": 13.11563364,
            "KRW": 17.08478061,
            "KWD": 0.00438304,
            "KYD": 0.01201061,
            "KZT": 5.05809774,
            "LAK": 118.32342713,
            "LBP": 21.98259129,
            "LKR": 2.11554127,
            "LRD": 1.233744,
            "LSL": 0.22061131,
            "LTL": 0.04464902,
            "LVL": 0.00910409,
            "LYD": 0.01989596,
            "MAD": 0.14115379,
            "MDL": 0.28814949,
            "MGA": 46.2941643,
            "MKD": 0.79597918,
            "MMK": 17.58288179,
            "MNT": 29.7816543,
            "MOP": 0.11642889,
            "MRO": 5.04705662,
            "MTL": 0.00996109,
            "MUR": 0.51697423,
            "MVR": 0.22175347,
            "MWK": 9.88120474,
            "MXN": 0.25487525,
            "MYR": 0.05912347,
            "MZN": 0.72077773,
            "NAD": 0.22415597,
            "NGN": 2.8994892,
            "NIO": 0.4100257,
            "NOK": 0.12211312,
            "NPR": 1.55799605,
            "NZD": 0.02127047,
            "OMR": 0.00561009,
            "PAB": 0.01457147,
            "PEN": 0.04892578,
            "PGK": 0.04463387,
            "PHP": 0.67428045,
            "PKR": 1.52359427,
            "PLN": 0.05532446,
            "PYG": 83.31276356,
            "QAR": 0.05306018,
            "RON": 0.05784427,
            "RSD": 1.58889746,
            "RUB": 1,
            "RWF": 10.97365677,
            "SAR": 0.0546457,
            "SBD": 0.11606608,
            "SCR": 0.19399084,
            "SDG": 0.08889711,
            "SEK": 0.1195833,
            "SGD": 0.01975359,
            "SHP": 0.01006128,
            "SLL": 59.12373596,
            "SOS": 8.95479621,
            "SRD": 0.05817659,
            "STD": 318.67110824,
            "SVC": 0.12743793,
            "SYP": 3.20158003,
            "SZL": 0.22419968,
            "THB": 0.50716712,
            "TJS": 0.11467163,
            "TMT": 0.05102006,
            "TND": 0.02917841,
            "TOP": 0.03295051,
            "TRY": 0.04162957,
            "TTD": 0.09547723,
            "TWD": 0.47263405,
            "TZS": 31.86894393,
            "UAH": 0.38728182,
            "UGX": 49.09577234,
            "USD": 0.01457147,
            "UYU": 0.47073568,
            "UZS": 41.69363526,
            "VEF": 0.09220215,
            "VND": 324.96173289,
            "VUV": 1.5939973,
            "WST": 0.0370725,
            "XAF": 8.48387715,
            "XAG": 0.0009101631,
            "XAU": 1.15187e-5,
            "XCD": 0.03935783,
            "XDR": 0.01034705,
            "XOF": 8.55585001,
            "XPD": 2.439e-5,
            "XPF": 1.54455569,
            "XPT": 1.521e-5,
            "YER": 3.13309902,
            "ZAR": 0.22070986,
            "ZMK": 76.54502387,
            "ZMW": 0.16547287,
            "ZWL": 4.69671636
          }
        }
  recorded_at: Thu, 17 Mar 2016 18:25:57 GMT
- request:
    method: get
    uri: http://openexchangerates.org/api/historical/2015-03-17.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=RUB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 17 Mar 2015 23:00:00 GMT
      Etag:
      - '"aaf024611002272cd3ef9e10970a3439"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      strin[...]
[...]
