---
http_interactions:
- request:
    method: get
    uri: https://openexchangerates.org/api/latest.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=RUB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 08 Mar 2016 20:00:11 GMT
      Etag:
      - '"2f4dfd334a61ae9738c4e66dbf9e2008"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "disclaimer": "Exchange rates provided for informational purposes only and do not constitute financial advice of any kind. Although every attempt is made to ensure quality, no guarantees are made of accuracy, validity, availability, or fitness for any purpose. All usage subject to acceptance of Terms: https://openexchangerates.org/terms/",
          "license": "Data sourced from various providers; resale prohibited; no warranties given of any kind. All usage subject to License Agreement: https://openexchangerates.org/license/",
          "timestamp": 1457467211,
          "base": "RUB",
          "rates": {
            "AED": 0.05079954,
            "AFN": 0.94892041,
            "ALL": 1.73517687,
            "AMD": 6.7866964,
            "ANG": 0.02473956,
            "AOA": 2.19568831,
            "ARS": 0.21309252,
            "AUD": 0.01856082,
            "AWG": 0.02480295,
            "AZN": 0.02250176,
            "BAM": 0.02460552,
            "BBD": 0.02766129,
            "BDT": 1.08528568,
            "BGN": 0.02458755,
            "BHD": 0.00521379,
            "BIF": 21.56781572,
            "BMD": 0.01383064,
            "BND": 0.01912929,
            "BOB": 0.09462407,
            "BRL": 0.05186676,
            "BSD": 0.01383064,
            "BTC": 3.3673156e-5,
            "BTN": 0.92968682,
            "BWP": 0.15450187,
            "BYR": 292.81337678,
            "BZD": 0.02758885,
            "CAD": 0.01851077,
            "CDF": 12.8348364,
            "CHF": 0.01377803,
            "CLF": 0.00034021,
            "CLP": 9.42778197,
            "CNY": 0.09000482,
            "COP": 44.11134728,
            "CRC": 7.40050727,
            "CUC": 0.01383064,
            "CUP": 0.01383064,
            "CVE": 1.38698755,
            "CZK": 0.34007389,
            "DJF": 2.4583276,
            "DKK": 0.09382906,
            "DOP": 0.63354647,
            "DZD": 1.5029673,
            "EEK": 0.19704551,
            "EGP": 0.10830458,
            "ERN": 0.20743889,
            "ETB": 0.29517012,
            "EUR": 0.01256839,
            "FJD": 0.02900448,
            "FKP": 0.00973001,
            "GBP": 0.00973001,
            "GEL": 0.03405565,
            "GGP": 0.00973001,
            "GHS": 0.05350213,
            "GIP": 0.00973001,
            "GMD": 0.54886907,
            "GNF": 105.69622558,
            "GTQ": 0.10638349,
            "GYD": 2.85478069,
            "HKD": 0.1074002,
            "HNL": 0.31269995,
            "HRK": 0.095231,
            "HTG": 0.85485837,
            "HUF": 3.89472802,
            "IDR": 181.89784632,
            "ILS": 0.05404982,
            "IMP": 0.00973001,
            "INR": 0.93064598,
            "IQD": 15.05534592,
            "IRR": 417.8306305,
            "ISK": 1.77673277,
            "JEP": 0.00973001,
            "JMD": 1.67863027,
            "JOD": 0.00979725,
            "JPY": 1.56095055,
            "KES": 1.40577055,
            "KGS": 1.00786174,
            "KHR": 55.31043398,
            "KMF": 6.14619525,
            "KPW": 12.44882316,
            "KRW": 16.67446515,
            "KWD": 0.00415705,
            "KYD": 0.01139922,
            "KZT": 4.77834163,
            "LAK": 112.43907814,
            "LBP": 20.85356608,
            "LKR": 2.00452348,
            "LRD": 1.17101935,
            "LSL": 0.21251543,
            "LTL": 0.04259903,
            "LVL": 0.00871625,
            "LYD": 0.0192308,
            "MAD": 0.13607249,
            "MDL": 0.27599255,
            "MGA": 44.51662042,
            "MKD": 0.77462788,
            "MMK": 17.02804539,
            "MNT": 28.23064681,
            "MOP": 0.11063217,
            "MRO": 4.7431751,
            "MTL": 0.00945465,
            "MUR": 0.49499576,
            "MVR": 0.21050238,
            "MWK": 9.96769992,
            "MXN": 0.24700643,
            "MYR": 0.05693467,
            "MZN": 0.67970693,
            "NAD": 0.21274308,
            "NGN": 2.75230482,
            "NIO": 0.39098037,
            "NOK": 0.11823054,
            "NPR": 1.48953394,
            "NZD": 0.02046401,
            "OMR": 0.00532447,
            "PAB": 0.01383064,
            "PEN": 0.04786252,
            "PGK": 0.04239057,
            "PHP": 0.6491289,
            "PKR": 1.44840437,
            "PLN": 0.05435679,
            "PYG": 78.94000592,
            "QAR": 0.05036773,
            "RON": 0.05613043,
            "RSD": 1.55214526,
            "RUB": 1,
            "RWF": 10.53788484,
            "SAR": 0.0518664,
            "SBD": 0.11198515,
            "SCR": 0.18687584,
            "SDG": 0.0844266,
            "SEK": 0.11754878,
            "SGD": 0.01912853,
            "SHP": 0.00973001,
            "SLL": 56.35295358,
            "SOS": 8.47933026,
            "SRD": 0.05521884,
            "STD": 308.22970263,
            "SVC": 0.12092453,
            "SYP": 3.04044087,
            "SZL": 0.21244158,
            "THB": 0.48919758,
            "TJS": 0.10884163,
            "TMT": 0.04842754,
            "TND": 0.02816688,
            "TOP": 0.03126201,
            "TRY": 0.04027716,
            "TTD": 0.09045946,
            "TWD": 0.45328687,
            "TZS": 30.2544156,
            "UAH": 0.36303736,
            "UGX": 46.59810909,
            "USD": 0.01383064,
            "UYU": 0.44573824,
            "UZS": 39.57389376,
            "VEF": 0.08736831,
            "VND": 308.33689011,
            "VUV": 1.54413938,
            "WST": 0.03536368,
            "XAF": 8.2563798,
            "XAG": 0.0008978369,
            "XAU": 1.09331e-5,
            "XCD": 0.03735684,
            "XDR": 0.00994577,
            "XOF": 8.27790028,
            "XPD": 2.438e-5,
            "XPF": 1.5004802,
            "XPT": 1.398e-5,
            "YER": 2.97198382,
            "ZAR": 0.21258998,
            "ZMK": 72.63887756,
            "ZMW": 0.1574375,
            "ZWL": 4.45793113
          }
        }
  recorded_at: Tue, 08 Mar 2016 20:38:34 GMT
recorded_with: VCR 3.0.1
