---
http_interactions:
- request:
    method: get
    uri: https://openexchangerates.org/api/latest.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=RUB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 03 Mar 2016 01:00:12 GMT
      Etag:
      - '"281b1044a1ad5622bfa1e27ff538273e"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "disclaimer": "Exchange rates provided for informational purposes only and do not constitute financial advice of any kind. Although every attempt is made to ensure quality, no guarantees are made of accuracy, validity, availability, or fitness for any purpose. All usage subject to acceptance of Terms: https://openexchangerates.org/terms/",
          "license": "Data sourced from various providers; resale prohibited; no warranties given of any kind. All usage subject to License Agreement: https://openexchangerates.org/license/",
          "timestamp": 1456966812,
          "base": "RUB",
          "rates": {
            "AED": 0.05008479,
            "AFN": 0.93703229,
            "ALL": 1.73007192,
            "AMD": 6.69878559,
            "ANG": 0.02439052,
            "AOA": 2.1662463,
            "ARS": 0.21376765,
            "AUD": 0.01870948,
            "AWG": 0.02445301,
            "AZN": 0.02166092,
            "BAM": 0.02454471,
            "BBD": 0.02727102,
            "BDT": 1.06879003,
            "BGN": 0.02453292,
            "BHD": 0.0051404,
            "BIF": 21.34069967,
            "BMD": 0.01363551,
            "BND": 0.0190912,
            "BOB": 0.09337913,
            "BRL": 0.05316383,
            "BSD": 0.01363551,
            "BTC": 3.2499781e-5,
            "BTN": 0.92137568,
            "BWP": 0.15409331,
            "BYR": 291.84083759,
            "BZD": 0.02719661,
            "CAD": 0.01831604,
            "CDF": 12.62693297,
            "CHF": 0.01359486,
            "CLF": 0.00033541,
            "CLP": 9.3803792,
            "CNY": 0.08932879,
            "COP": 44.09649136,
            "CRC": 7.29674027,
            "CUC": 0.01363551,
            "CUP": 0.01362733,
            "CVE": 1.38434751,
            "CZK": 0.33944599,
            "DJF": 2.42282916,
            "DKK": 0.09359348,
            "DOP": 0.62050096,
            "DZD": 1.4854338,
            "EEK": 0.19648759,
            "EGP": 0.1067615,
            "ERN": 0.20451221,
            "ETB": 0.29112429,
            "EUR": 0.01254466,
            "FJD": 0.0289232,
            "FKP": 0.00968534,
            "GBP": 0.00968534,
            "GEL": 0.03368108,
            "GGP": 0.00968534,
            "GHS": 0.05286426,
            "GIP": 0.00968534,
            "GMD": 0.5374665,
            "GNF": 104.22616228,
            "GTQ": 0.10478094,
            "GYD": 2.80878345,
            "HKD": 0.10599562,
            "HNL": 0.30831185,
            "HRK": 0.09542145,
            "HTG": 0.83816429,
            "HUF": 3.89568073,
            "IDR": 181.17571374,
            "ILS": 0.05305258,
            "IMP": 0.00968534,
            "INR": 0.91860935,
            "IQD": 14.84293511,
            "IRR": 411.94241669,
            "ISK": 1.77182895,
            "JEP": 0.00968534,
            "JMD": 1.65435562,
            "JOD": 0.0096728,
            "JPY": 1.55091153,
            "KES": 1.38350105,
            "KGS": 0.99871802,
            "KHR": 54.64840051,
            "KMF": 6.18191922,
            "KPW": 12.27318691,
            "KRW": 16.70697795,
            "KWD": 0.00410143,
            "KYD": 0.01124371,
            "KZT": 4.72602525,
            "LAK": 110.86788524,
            "LBP": 20.57499756,
            "LKR": 1.97041312,
            "LRD": 1.15449784,
            "LSL": 0.2123699,
            "LTL": 0.04216141,
            "LVL": 0.00864317,
            "LYD": 0.0190448,
            "MAD": 0.13510586,
            "MDL": 0.27197131,
            "MGA": 43.87114265,
            "MKD": 0.77289089,
            "MMK": 16.88512573,
            "MNT": 27.70508535,
            "MOP": 0.10915689,
            "MRO": 4.68300482,
            "MTL": 0.00932126,
            "MUR": 0.49077305,
            "MVR": 0.20869808,
            "MWK": 10.13555743,
            "MXN": 0.24342468,
            "MYR": 0.05648988,
            "MZN": 0.67240114,
            "NAD": 0.2125288,
            "NGN": 2.71402299,
            "NIO": 0.38479452,
            "NOK": 0.11811844,
            "NPR": 1.47459732,
            "NZD": 0.02046007,
            "OMR": 0.00524939,
            "PAB": 0.01363551,
            "PEN": 0.04775204,
            "PGK": 0.04135923,
            "PHP": 0.64322113,
            "PKR": 1.42776615,
            "PLN": 0.05419682,
            "PYG": 77.9434652,
            "QAR": 0.04964814,
            "RON": 0.05593161,
            "RSD": 1.54981816,
            "RUB": 1,
            "RWF": 10.36770609,
            "SAR": 0.05113552,
            "SBD": 0.11013762,
            "SCR": 0.18293619,
            "SDG": 0.08315761,
            "SEK": 0.11742104,
            "SGD": 0.01906227,
            "SHP": 0.00968534,
            "SLL": 55.52379997,
            "SOS": 8.40439374,
            "SRD": 0.05443978,
            "STD": 307.36827551,
            "SVC": 0.11920305,
            "SYP": 2.99758976,
            "SZL": 0.21258198,
            "THB": 0.48467859,
            "TJS": 0.10730602,
            "TMT": 0.04774655,
            "TND": 0.02796587,
            "TOP": 0.0309219,
            "TRY": 0.03992104,
            "TTD": 0.08883486,
            "TWD": 0.45109038,
            "TZS": 29.8389519,
            "UAH": 0.36349817,
            "UGX": 45.57837655,
            "USD": 0.01363551,
            "UYU": 0.44141326,
            "UZS": 38.91322445,
            "VEF": 0.08618316,
            "VND": 304.40664257,
            "VUV": 1.53846061,
            "WST": 0.03494363,
            "XAF": 8.23074669,
            "XAG": 0.0009107362,
            "XAU": 1.10243e-5,
            "XCD": 0.03682979,
            "XDR": 0.00987031,
            "XOF": 8.2662871,
            "XPD": 2.645e-5,
            "XPF": 1.49741584,
            "XPT": 1.458e-5,
            "YER": 2.93100759,
            "ZAR": 0.21223713,
            "ZMK": 71.62836436,
            "ZMW": 0.1551987,
            "ZWL": 4.39591479
          }
        }
  recorded_at: Thu, 03 Mar 2016 02:04:19 GMT
[...]
- request:
    method: get
    uri: http://openexchangerates.org/api/historical/2015-03-03.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=RUB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 03 Mar 2015 23:00:00 GMT
      Etag:
      - '"9b5bd92b68acc08f4e13ad354c04a7ed"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      strin[...]
[...]
