---
http_interactions:
- request:
    method: get
    uri: https://openexchangerates.org/api/latest.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=RUB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 12 Apr 2016 01:00:09 GMT
      Etag:
      - '"266ce378c45cb12fc17a99663433d9c5"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "disclaimer": "Exchange rates provided for informational purposes only and do not constitute financial advice of any kind. Although every attempt is made to ensure quality, no guarantees are made of accuracy, validity, availability, or fitness for any purpose. All usage subject to acceptance of Terms: https://openexchangerates.org/terms/",
          "license": "Data sourced from various providers; resale prohibited; no warranties given of any kind. All usage subject to License Agreement: https://openexchangerates.org/license/",
          "timestamp": 1460422809,
          "base": "RUB",
          "rates": {
            "AED": 0.05490532,
            "AFN": 1.02351131,
            "ALL": 1.82076338,
            "AMD": 7.22227952,
            "ANG": 0.02673918,
            "AOA": 2.43363344,
            "ARS": 0.21692714,
            "AUD": 0.0196768,
            "AWG": 0.02680731,
            "AZN": 0.02280684,
            "BAM": 0.02563091,
            "BBD": 0.02989663,
            "BDT": 1.17040529,
            "BGN": 0.02564459,
            "BHD": 0.00563659,
            "BIF": 23.31937524,
            "BMD": 0.01494832,
            "BND": 0.02011109,
            "BOB": 0.10216114,
            "BRL": 0.05248728,
            "BSD": 0.01494832,
            "BTC": 3.5315519e-5,
            "BTN": 0.99370535,
            "BWP": 0.16182956,
            "BYR": 298.92150431,
            "BZD": 0.02980901,
            "CAD": 0.01932208,
            "CDF": 13.83466781,
            "CHF": 0.01426642,
            "CLF": 0.00036776,
            "CLP": 10.16839869,
            "CNY": 0.09656177,
            "COP": 45.84718784,
            "CRC": 7.99782817,
            "CUC": 0.01494832,
            "CUP": 0.01494159,
            "CVE": 1.44375783,
            "CZK": 0.35405628,
            "DJF": 2.65633473,
            "DKK": 0.09755711,
            "DOP": 0.68466822,
            "DZD": 1.61444042,
            "EEK": 0.20513352,
            "EGP": 0.13244102,
            "ERN": 0.22424718,
            "ETB": 0.32202234,
            "EUR": 0.01310574,
            "FJD": 0.03097142,
            "FKP": 0.01050184,
            "GBP": 0.01050184,
            "GEL": 0.03399584,
            "GGP": 0.01050184,
            "GHS": 0.05743233,
            "GIP": 0.01050184,
            "GMD": 0.6370656,
            "GNF": 113.46595185,
            "GTQ": 0.11545946,
            "GYD": 3.07890498,
            "HKD": 0.11593586,
            "HNL": 0.3375647,
            "HRK": 0.09819242,
            "HTG": 0.92554189,
            "HUF": 4.08745147,
            "IDR": 196.1134544,
            "ILS": 0.0562378,
            "IMP": 0.01050184,
            "INR": 0.99250043,
            "IQD": 16.27199079,
            "IRR": 451.96237849,
            "ISK": 1.84436825,
            "JEP": 0.01050184,
            "JMD": 1.8183582,
            "JOD": 0.01058786,
            "JPY": 1.61603121,
            "KES": 1.51142589,
            "KGS": 1.04599132,
            "KHR": 60.10905306,
            "KMF": 6.46012141,
            "KPW": 13.45483107,
            "KRW": 17.13605355,
            "KWD": 0.00450324,
            "KYD": 0.01232514,
            "KZT": 5.03901786,
            "LAK": 121.31269813,
            "LBP": 22.55202828,
            "LKR": 2.16285712,
            "LRD": 1.26554744,
            "LSL": 0.22130222,
            "LTL": 0.04510335,
            "LVL": 0.00923486,
            "LYD": 0.02012679,
            "MAD": 0.14376653,
            "MDL": 0.29321095,
            "MGA": 47.49593732,
            "MKD": 0.80706624,
            "MMK": 17.60911797,
            "MNT": 30.22300652,
            "MOP": 0.11937846,
            "MRO": 5.17211784,
            "MTL": 0.01022073,
            "MUR": 0.52364479,
            "MVR": 0.22786218,
            "MWK": 10.23466389,
            "MXN": 0.26424051,
            "MYR": 0.05816047,
            "MZN": 0.77843362,
            "NAD": 0.22130222,
            "NGN": 2.97609044,
            "NIO": 0.42123492,
            "NOK": 0.1226893,
            "NPR": 1.58930212,
            "NZD": 0.0217929,
            "OMR": 0.00575563,
            "PAB": 0.01494832,
            "PEN": 0.04931555,
            "PGK": 0.04665631,
            "PHP": 0.68922267,
            "PKR": 1.56438627,
            "PLN": 0.05610017,
            "PYG": 83.7806602,
            "QAR": 0.05443654,
            "RON": 0.05854787,
            "RSD": 1.60959147,
            "RUB": 1,
            "RWF": 11.38676861,
            "SAR": 0.05605652,
            "SBD": 0.11863305,
            "SCR": 0.20024138,
            "SDG": 0.09111635,
            "SEK": 0.12140581,
            "SGD": 0.02010827,
            "SHP": 0.01050184,
            "SLL": 59.44198439,
            "SOS": 9.19482223,
            "SRD": 0.0758703,
            "STD": 321.42245917,
            "SVC": 0.13065801,
            "SYP": 3.28129019,
            "SZL": 0.22127232,
            "THB": 0.52384824,
            "TJS": 0.11763728,
            "TMT": 0.05234153,
            "TND": 0.02996495,
            "TOP": 0.03349534,
            "TRY": 0.04237153,
            "TTD": 0.09825888,
            "TWD": 0.48389737,
            "TZS": 32.67253748,
            "UAH": 0.38217735,
            "UGX": 50.04995653,
            "USD": 0.01494832,
            "UYU": 0.46515098,
            "UZS": 43.23561602,
            "VEF": 0.14905715,
            "VND": 333.92049826,
            "VUV": 1.61172759,
            "WST": 0.03816678,
            "XAF": 8.60034289,
            "XAG": 0.0009382461,
            "XAU": 1.19213e-5,
            "XCD": 0.0404056,
            "XDR": 0.01058514,
            "XOF": 8.68541765,
            "XPD": 2.733e-5,
            "XPF": 1.56448998,
            "XPT": 1.511e-5,
            "YER": 3.73102531,
            "ZAR": 0.22114645,
            "ZMK": 78.52463657,
            "ZMW": 0.14536267,
            "ZWL": 4.81914691
          }
        }
  recorded_at: Tue, 12 Apr 2016 01:34:10 GMT
- request:
    method: get
    uri: http://openexchangerates.org/api/historical/2015-04-12.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=RUB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Sun, 12 Apr 2015 23:00:00 GMT
      Etag:
      - '"b7f3daf39b99eaf7af47aacb0ecb950c"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      strin[...]
[...]
