---
http_interactions:
- request:
    method: get
    uri: https://openexchangerates.org/api/latest.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=RUB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 11 Apr 2016 00:00:08 GMT
      Etag:
      - '"b01a926ac937cae2cb1bb131ab8c2a28"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "disclaimer": "Exchange rates provided for informational purposes only and do not constitute financial advice of any kind. Although every attempt is made to ensure quality, no guarantees are made of accuracy, validity, availability, or fitness for any purpose. All usage subject to acceptance of Terms: https://openexchangerates.org/terms/",
          "license": "Data sourced from various providers; resale prohibited; no warranties given of any kind. All usage subject to License Agreement: https://openexchangerates.org/license/",
          "timestamp": 1460332808,
          "base": "RUB",
          "rates": {
            "AED": 0.05466242,
            "AFN": 1.01781724,
            "ALL": 1.82656343,
            "AMD": 7.18863659,
            "ANG": 0.02661995,
            "AOA": 2.42284757,
            "ARS": 0.21529227,
            "AUD": 0.01966696,
            "AWG": 0.02668741,
            "AZN": 0.0227504,
            "BAM": 0.02552581,
            "BBD": 0.02976291,
            "BDT": 1.16688288,
            "BGN": 0.02553116,
            "BHD": 0.00561189,
            "BIF": 23.09602137,
            "BMD": 0.01488146,
            "BND": 0.02008178,
            "BOB": 0.10214721,
            "BRL": 0.05342159,
            "BSD": 0.01488146,
            "BTC": 3.5327069e-5,
            "BTN": 0.98985475,
            "BWP": 0.16331451,
            "BYR": 297.51008967,
            "BZD": 0.02969148,
            "CAD": 0.01932539,
            "CDF": 13.77278851,
            "CHF": 0.01419017,
            "CLF": 0.00036611,
            "CLP": 10.17196705,
            "CNY": 0.09619764,
            "COP": 46.02150177,
            "CRC": 7.9741693,
            "CUC": 0.01488146,
            "CUP": 0.01488332,
            "CVE": 1.43611863,
            "CZK": 0.35268398,
            "DJF": 2.64452796,
            "DKK": 0.09712036,
            "DOP": 0.68263059,
            "DZD": 1.60861318,
            "EEK": 0.20422791,
            "EGP": 0.13213603,
            "ERN": 0.22324418,
            "ETB": 0.32046265,
            "EUR": 0.01304977,
            "FJD": 0.031007,
            "FKP": 0.01053452,
            "GBP": 0.01053452,
            "GEL": 0.03384453,
            "GGP": 0.01053452,
            "GHS": 0.05722069,
            "GIP": 0.01053452,
            "GMD": 0.63485218,
            "GNF": 113.09870312,
            "GTQ": 0.1149286,
            "GYD": 3.06513374,
            "HKD": 0.11545942,
            "HNL": 0.33619979,
            "HRK": 0.09789058,
            "HTG": 0.92260607,
            "HUF": 4.07891662,
            "IDR": 195.28588874,
            "ILS": 0.05622883,
            "IMP": 0.01053452,
            "INR": 0.99026827,
            "IQD": 16.19920991,
            "IRR": 449.91853221,
            "ISK": 1.83980942,
            "JEP": 0.01053452,
            "JMD": 1.8112519,
            "JOD": 0.01055027,
            "JPY": 1.6106201,
            "KES": 1.50512398,
            "KGS": 1.04131284,
            "KHR": 59.52545587,
            "KMF": 6.43638069,
            "KPW": 13.39197203,
            "KRW": 17.15343401,
            "KWD": 0.00448866,
            "KYD": 0.01227001,
            "KZT": 5.06487399,
            "LAK": 120.76265351,
            "LBP": 22.4521502,
            "LKR": 2.15449269,
            "LRD": 1.26013894,
            "LSL": 0.22263582,
            "LTL": 0.0449028,
            "LVL": 0.00919406,
            "LYD": 0.02005817,
            "MAD": 0.14329816,
            "MDL": 0.2914834,
            "MGA": 47.47159977,
            "MKD": 0.80432609,
            "MMK": 17.6069963,
            "MNT": 30.18455541,
            "MOP": 0.11893112,
            "MRO": 5.14402366,
            "MTL": 0.01017502,
            "MUR": 0.52161497,
            "MVR": 0.22659499,
            "MWK": 10.09208339,
            "MXN": 0.2645612,
            "MYR": 0.05824736,
            "MZN": 0.76721353,
            "NAD": 0.22263582,
            "NGN": 2.96417789,
            "NIO": 0.42035801,
            "NOK": 0.12244516,
            "NPR": 1.58472041,
            "NZD": 0.02183558,
            "OMR": 0.00573033,
            "PAB": 0.01488146,
            "PEN": 0.05010587,
            "PGK": 0.04644763,
            "PHP": 0.68609693,
            "PKR": 1.55826715,
            "PLN": 0.05607753,
            "PYG": 83.56582909,
            "QAR": 0.05419901,
            "RON": 0.058263,
            "RSD": 1.60342103,
            "RUB": 1,
            "RWF": 11.30707992,
            "SAR": 0.05580728,
            "SBD": 0.11605408,
            "SCR": 0.19806431,
            "SDG": 0.09075866,
            "SEK": 0.12131197,
            "SGD": 0.02006889,
            "SHP": 0.01053452,
            "SLL": 59.19099548,
            "SOS": 9.13714028,
            "SRD": 0.07551585,
            "STD": 320.34196517,
            "SVC": 0.13013983,
            "SYP": 3.26671294,
            "SZL": 0.22268047,
            "THB": 0.52217694,
            "TJS": 0.11711111,
            "TMT": 0.0521094,
            "TND": 0.0300473,
            "TOP": 0.03332967,
            "TRY": 0.04243445,
            "TTD": 0.09773308,
            "TWD": 0.4827881,
            "TZS": 32.54996254,
            "UAH": 0.38147514,
            "UGX": 49.83353528,
            "USD": 0.01488146,
            "UYU": 0.4652625,
            "UZS": 43.04223302,
            "VEF": 0.14839045,
            "VND": 332.42198794,
            "VUV": 1.60278254,
            "WST": 0.03759696,
            "XAF": 8.57819815,
            "XAG": 0.0009664837,
            "XAU": 1.19349e-5,
            "XCD": 0.04022488,
            "XDR": 0.01055697,
            "XOF": 8.63875645,
            "XPD": 2.755e-5,
            "XPF": 1.55952332,
            "XPT": 1.539e-5,
            "YER": 3.72350424,
            "ZAR": 0.22267853,
            "ZMK": 78.17341387,
            "ZMW": 0.14644581,
            "ZWL": 4.79759197
          }
        }
  recorded_at: Mon, 11 Apr 2016 00:39:54 GMT
- request:
    method: get
    uri: http://openexchangerates.org/api/historical/2015-04-11.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=RUB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Sat, 11 Apr 2015 23:00:00 GMT
      Etag:
      - '"2db502d35b4f5d6e1cb1283c930096ce"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      strin[...]
[...]
