---
http_interactions:
- request:
    method: get
    uri: https://openexchangerates.org/api/latest.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=RUB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 09 Mar 2016 23:00:12 GMT
      Etag:
      - '"3d32fea1284d99754991e00cea765181"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "disclaimer": "Exchange rates provided for informational purposes only and do not constitute financial advice of any kind. Although every attempt is made to ensure quality, no guarantees are made of accuracy, validity, availability, or fitness for any purpose. All usage subject to acceptance of Terms: https://openexchangerates.org/terms/",
          "license": "Data sourced from various providers; resale prohibited; no warranties given of any kind. All usage subject to License Agreement: https://openexchangerates.org/license/",
          "timestamp": 1457564412,
          "base": "RUB",
          "rates": {
            "AED": 0.05160239,
            "AFN": 0.96308769,
            "ALL": 1.76444546,
            "AMD": 6.89415527,
            "ANG": 0.0251309,
            "AOA": 2.23042021,
            "ARS": 0.21600377,
            "AUD": 0.01879077,
            "AWG": 0.02519529,
            "AZN": 0.02301225,
            "BAM": 0.02496972,
            "BBD": 0.02809884,
            "BDT": 1.10138748,
            "BGN": 0.02497391,
            "BHD": 0.00529605,
            "BIF": 21.7873826,
            "BMD": 0.01404942,
            "BND": 0.01941985,
            "BOB": 0.09605079,
            "BRL": 0.05203534,
            "BSD": 0.01404942,
            "BTC": 3.4108148e-5,
            "BTN": 0.94468199,
            "BWP": 0.15677027,
            "BYR": 295.70092979,
            "BZD": 0.02800639,
            "CAD": 0.01864174,
            "CDF": 13.03786075,
            "CHF": 0.01400484,
            "CLF": 0.00034564,
            "CLP": 9.53891471,
            "CNY": 0.09151806,
            "COP": 44.47938307,
            "CRC": 7.51073372,
            "CUC": 0.01404942,
            "CUP": 0.0140482,
            "CVE": 1.41052888,
            "CZK": 0.34546018,
            "DJF": 2.49721398,
            "DKK": 0.09526582,
            "DOP": 0.64272242,
            "DZD": 1.52859926,
            "EEK": 0.19964927,
            "EGP": 0.11000338,
            "ERN": 0.21076236,
            "ETB": 0.29967888,
            "EUR": 0.01277316,
            "FJD": 0.02955366,
            "FKP": 0.00988381,
            "GBP": 0.00988381,
            "GEL": 0.03415063,
            "GGP": 0.00988381,
            "GHS": 0.05403623,
            "GIP": 0.00988381,
            "GMD": 0.55721428,
            "GNF": 107.23514163,
            "GTQ": 0.10813708,
            "GYD": 2.89788001,
            "HKD": 0.10910959,
            "HNL": 0.31754764,
            "HRK": 0.09664729,
            "HTG": 0.86854807,
            "HUF": 3.95031444,
            "IDR": 184.33399594,
            "ILS": 0.05474527,
            "IMP": 0.00988381,
            "INR": 0.94391989,
            "IQD": 15.29349479,
            "IRR": 424.43997014,
            "ISK": 1.80325697,
            "JEP": 0.00988381,
            "JMD": 1.70629378,
            "JOD": 0.00995469,
            "JPY": 1.59112058,
            "KES": 1.42731742,
            "KGS": 1.02158804,
            "KHR": 56.11847275,
            "KMF": 6.2431316,
            "KPW": 12.64574147,
            "KRW": 17.01522781,
            "KWD": 0.0042246,
            "KYD": 0.01157064,
            "KZT": 4.84031273,
            "LAK": 114.02160532,
            "LBP": 21.16521521,
            "LKR": 2.03452164,
            "LRD": 1.1895428,
            "LSL": 0.21418023,
            "LTL": 0.04344162,
            "LVL": 0.00888478,
            "LYD": 0.0195249,
            "MAD": 0.13816533,
            "MDL": 0.28013024,
            "MGA": 45.11748412,
            "MKD": 0.78633038,
            "MMK": 17.15290078,
            "MNT": 28.70530442,
            "MOP": 0.1123162,
            "MRO": 4.81402402,
            "MTL": 0.00960612,
            "MUR": 0.50296375,
            "MVR": 0.21336385,
            "MWK": 10.06693803,
            "MXN": 0.24971592,
            "MYR": 0.0577458,
            "MZN": 0.70050403,
            "NAD": 0.21456722,
            "NGN": 2.79382531,
            "NIO": 0.39713914,
            "NOK": 0.11976839,
            "NPR": 1.50991916,
            "NZD": 0.02114661,
            "OMR": 0.00540785,
            "PAB": 0.01404942,
            "PEN": 0.04841223,
            "PGK": 0.04281104,
            "PHP": 0.65833526,
            "PKR": 1.47061648,
            "PLN": 0.05518752,
            "PYG": 80.16087971,
            "QAR": 0.05116031,
            "RON": 0.05697621,
            "RSD": 1.57547542,
            "RUB": 1,
            "RWF": 10.68482193,
            "SAR": 0.05269119,
            "SBD": 0.11183562,
            "SCR": 0.1885995,
            "SDG": 0.08566574,
            "SEK": 0.11876454,
            "SGD": 0.01941611,
            "SHP": 0.00988381,
            "SLL": 57.23030795,
            "SOS": 8.6073484,
            "SRD": 0.05609231,
            "STD": 313.09130053,
            "SVC": 0.12275768,
            "SYP": 3.08881159,
            "SZL": 0.21460235,
            "THB": 0.49611954,
            "TJS": 0.11056331,
            "TMT": 0.04919358,
            "TND": 0.02861074,
            "TOP": 0.03166992,
            "TRY": 0.04069964,
            "TTD": 0.09197824,
            "TWD": 0.46205954,
            "TZS": 30.70264006,
            "UAH": 0.36675868,
            "UGX": 47.13261592,
            "USD": 0.01404942,
            "UYU": 0.45179644,
            "UZS": 40.19988259,
            "VEF": 0.08875032,
            "VND": 313.0201168,
            "VUV": 1.58163088,
            "WST": 0.03557584,
            "XAF": 8.38704543,
            "XAG": 0.0009166895,
            "XAU": 1.12255e-5,
            "XCD": 0.03794776,
            "XDR": 0.01010996,
            "XOF": 8.40889565,
            "XPD": 2.48e-5,
            "XPF": 1.52419089,
            "XPT": 1.43e-5,
            "YER": 3.0200912,
            "ZAR": 0.21409572,
            "ZMK": 73.80265485,
            "ZMW": 0.15983059,
            "ZWL": 4.52844769
          }
        }
  recorded_at: Thu, 10 Mar 2016 00:01:47 GMT
- request:
    method: get
    uri: http://openexchangerates.org/api/historical/2015-03-10.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=RUB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 10 Mar 2015 23:00:00 GMT
      Etag:
      - '"456b3ac099708ff62d67a052a8809c20"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      strin[...]
[...]
