---
http_interactions:
- request:
    method: get
    uri: https://openexchangerates.org/api/latest.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=RUB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Sat, 05 Mar 2016 18:00:13 GMT
      Etag:
      - '"a514c356223c652eea5ef694c47d9a3b"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "disclaimer": "Exchange rates provided for informational purposes only and do not constitute financial advice of any kind. Although every attempt is made to ensure quality, no guarantees are made of accuracy, validity, availability, or fitness for any purpose. All usage subject to acceptance of Terms: https://openexchangerates.org/terms/",
          "license": "Data sourced from various providers; resale prohibited; no warranties given of any kind. All usage subject to License Agreement: https://openexchangerates.org/license/",
          "timestamp": 1457200813,
          "base": "RUB",
          "rates": {
            "AED": 0.05097742,
            "AFN": 0.9522373,
            "ALL": 1.7439377,
            "AMD": 6.81111282,
            "ANG": 0.02482604,
            "AOA": 2.20490836,
            "ARS": 0.21094131,
            "AUD": 0.01865522,
            "AWG": 0.02488965,
            "AZN": 0.02248431,
            "BAM": 0.0246865,
            "BBD": 0.02775797,
            "BDT": 1.08692217,
            "BGN": 0.02468791,
            "BHD": 0.00523238,
            "BIF": 21.6707194,
            "BMD": 0.01387899,
            "BND": 0.01911737,
            "BOB": 0.09494573,
            "BRL": 0.05218373,
            "BSD": 0.01387899,
            "BTC": 3.4729679e-5,
            "BTN": 0.93163902,
            "BWP": 0.15565198,
            "BYR": 294.12279453,
            "BZD": 0.02764292,
            "CAD": 0.01850378,
            "CDF": 12.84317027,
            "CHF": 0.01377957,
            "CLF": 0.0003414,
            "CLP": 9.45706533,
            "CNY": 0.09048281,
            "COP": 43.91607503,
            "CRC": 7.42098187,
            "CUC": 0.01387899,
            "CUP": 0.01387049,
            "CVE": 1.39488908,
            "CZK": 0.34128873,
            "DJF": 2.46613636,
            "DKK": 0.09414006,
            "DOP": 0.63410717,
            "DZD": 1.51056755,
            "EEK": 0.19763573,
            "EGP": 0.10868857,
            "ERN": 0.20820562,
            "ETB": 0.29658992,
            "EUR": 0.01261075,
            "FJD": 0.0293337,
            "FKP": 0.00975272,
            "GBP": 0.00975272,
            "GEL": 0.0342346,
            "GGP": 0.00975272,
            "GHS": 0.05369508,
            "GIP": 0.00975272,
            "GMD": 0.54797696,
            "GNF": 105.71301567,
            "GTQ": 0.10641179,
            "GYD": 2.85687613,
            "HKD": 0.10776638,
            "HNL": 0.31366441,
            "HRK": 0.09577539,
            "HTG": 0.85324055,
            "HUF": 3.89305584,
            "IDR": 181.67478077,
            "ILS": 0.0542415,
            "IMP": 0.00975272,
            "INR": 0.9304373,
            "IQD": 15.10797093,
            "IRR": 419.29113103,
            "ISK": 1.78551916,
            "JEP": 0.00975272,
            "JMD": 1.68516298,
            "JOD": 0.00983185,
            "JPY": 1.579004,
            "KES": 1.40661767,
            "KGS": 1.01177951,
            "KHR": 55.39842659,
            "KMF": 6.21312285,
            "KPW": 12.49233724,
            "KRW": 16.68235729,
            "KWD": 0.00417098,
            "KYD": 0.01142536,
            "KZT": 4.78369663,
            "LAK": 113.21949768,
            "LBP": 20.91288023,
            "LKR": 2.00636993,
            "LRD": 1.17487758,
            "LSL": 0.21371835,
            "LTL": 0.042962,
            "LVL": 0.00878905,
            "LYD": 0.01916259,
            "MAD": 0.13645045,
            "MDL": 0.27598587,
            "MGA": 44.48634,
            "MKD": 0.77728863,
            "MMK": 16.99284143,
            "MNT": 28.23217234,
            "MOP": 0.1108712,
            "MRO": 4.76417041,
            "MTL": 0.0094877,
            "MUR": 0.49702542,
            "MVR": 0.21208757,
            "MWK": 10.15935725,
            "MXN": 0.24698601,
            "MYR": 0.05661532,
            "MZN": 0.68683636,
            "NAD": 0.21351378,
            "NGN": 2.76310919,
            "NIO": 0.39153177,
            "NOK": 0.11787448,
            "NPR": 1.48933324,
            "NZD": 0.02035474,
            "OMR": 0.00534322,
            "PAB": 0.01387899,
            "PEN": 0.04798715,
            "PGK": 0.04251585,
            "PHP": 0.64953256,
            "PKR": 1.45259141,
            "PLN": 0.05454785,
            "PYG": 78.80835685,
            "QAR": 0.05054455,
            "RON": 0.05630093,
            "RSD": 1.55737334,
            "RUB": 1,
            "RWF": 10.53306493,
            "SAR": 0.05204995,
            "SBD": 0.11283347,
            "SCR": 0.18276627,
            "SDG": 0.08453262,
            "SEK": 0.11780036,
            "SGD": 0.01909979,
            "SHP": 0.00975272,
            "SLL": 56.5013553,
            "SOS": 8.45712249,
            "SRD": 0.05541185,
            "STD": 310.02533762,
            "SVC": 0.12115906,
            "SYP": 3.05106854,
            "SZL": 0.21354154,
            "THB": 0.4908838,
            "TJS": 0.10922207,
            "TMT": 0.04859681,
            "TND": 0.02830893,
            "TOP": 0.03140869,
            "TRY": 0.04034824,
            "TTD": 0.0905839,
            "TWD": 0.45329229,
            "TZS": 30.30409689,
            "UAH": 0.36312301,
            "UGX": 46.5651342,
            "USD": 0.01387899,
            "UYU": 0.44937842,
            "UZS": 39.67752434,
            "VEF": 0.08772232,
            "VND": 309.21827453,
            "VUV": 1.56036243,
            "WST": 0.03546753,
            "XAF": 8.27742801,
            "XAG": 0.0008895112,
            "XAU": 1.09991e-5,
            "XCD": 0.03748742,
            "XDR": 0.00999184,
            "XOF": 8.35014224,
            "XPD": 2.465e-5,
            "XPF": 1.50784348,
            "XPT": 1.407e-5,
            "YER": 2.98389889,
            "ZAR": 0.21364035,
            "ZMK": 72.90736218,
            "ZMW": 0.15788406,
            "ZWL": 4.47440835
          }
        }
  recorded_at: Sat, 05 Mar 2016 18:38:28 GMT
- request:
    method: get
    uri: http://openexchangerates.org/api/historical/2015-03-05.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=RUB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 05 Mar 2015 23:00:00 GMT
      Etag:
      - '"272f078f46c5482d4ae223bdf3ee2d5f"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      strin[...]
[...]
