---
http_interactions:
- request:
    method: get
    uri: http://openexchangerates.org/api/historical/2015-03-07.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=RUB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Sat, 07 Mar 2015 23:00:00 GMT
      Etag:
      - '"892405e25646eec123d9771354dd2ed1"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "disclaimer": "Exchange rates are provided for informational purposes only, and do not constitute financial advice of any kind. Although every attempt is made to ensure quality, NO guarantees are given whatsoever of accuracy, validity, availability, or fitness for any purpose - please use at your own risk. All usage is subject to your acceptance of the Terms and Conditions of Service, available at: https://openexchangerates.org/terms/",
          "license": "Data sourced from various providers with public-facing APIs; copyright may apply; resale is prohibited; no warranties given of any kind. Bitcoin data provided by http://coindesk.com. All usage is subject to your acceptance of the License Agreement available at: https://openexchangerates.org/license/",
          "timestamp": 1425769200,
          "base": "RUB",
          "rates": {
            "AED": 0.06087313,
            "AFN": 0.95065519,
            "ALL": 2.12452539,
            "AMD": 7.94727032,
            "ANG": 0.02965903,
            "AOA": 1.76221244,
            "ARS": 0.14506073,
            "AUD": 0.02147624,
            "AWG": 0.02970842,
            "AZN": 0.01735518,
            "BAM": 0.02980686,
            "BBD": 0.03314746,
            "BDT": 1.28932135,
            "BGN": 0.0298247,
            "BHD": 0.0062479,
            "BIF": 26.03012375,
            "BMD": 0.01657373,
            "BND": 0.02280373,
            "BOB": 0.1145347,
            "BRL": 0.05061174,
            "BSD": 0.01657373,
            "BTC": 6.0320717e-5,
            "BTN": 1.03201294,
            "BWP": 0.16275476,
            "BYR": 248.05684039,
            "BZD": 0.03311723,
            "CAD": 0.02088776,
            "CDF": 15.37288246,
            "CHF": 0.01630767,
            "CLF": 0.00041269,
            "CLP": 10.39571267,
            "CNY": 0.10344694,
            "COP": 42.72945719,
            "CRC": 8.86293098,
            "CUC": 0.01657373,
            "CUP": 0.01660522,
            "CVE": 1.67687845,
            "CZK": 0.4169124,
            "DJF": 2.96163312,
            "DKK": 0.11360657,
            "DOP": 0.74214753,
            "DZD": 1.58809983,
            "EEK": 0.23787366,
            "EGP": 0.12632358,
            "ERN": 0.25118859,
            "ETB": 0.33804911,
            "EUR": 0.01528446,
            "FJD": 0.03397935,
            "FKP": 0.011021,
            "GBP": 0.011021,
            "GEL": 0.02926092,
            "GGP": 0.011021,
            "GHS": 0.05873782,
            "GIP": 0.011021,
            "GMD": 0.71338282,
            "GNF": 120.04348727,
            "GTQ": 0.12636508,
            "GYD": 3.42976611,
            "HKD": 0.12856078,
            "HNL": 0.34803139,
            "HRK": 0.11596042,
            "HTG": 0.7740997,
            "HUF": 4.66060977,
            "IDR": 215.78060179,
            "ILS": 0.06656306,
            "IMP": 0.011021,
            "INR": 1.03721632,
            "IQD": 19.55813629,
            "IRR": 460.68346094,
            "ISK": 2.26062391,
            "JEP": 0.011021,
            "JMD": 1.91496712,
            "JOD": 0.0117401,
            "JPY": 2.00053235,
            "KES": 1.51047395,
            "KGS": 1.01842726,
            "KHR": 67.30877036,
            "KMF": 7.51794174,
            "KPW": 14.916359,
            "KRW": 18.30753808,
            "KWD": 0.00494026,
            "KYD": 0.0137974,
            "KZT": 3.07956517,
            "LAK": 134.59956202,
            "LBP": 24.94233447,
            "LKR": 2.20761117,
            "LRD": 1.40395298,
            "LSL": 0.19907224,
            "LTL": 0.04862181,
            "LVL": 0.01070347,
            "LYD": 0.02262268,
            "MAD": 0.16332661,
            "MDL": 0.3017304,
            "MGA": 48.60578504,
            "MKD": 0.93788463,
            "MMK": 17.18671171,
            "MNT": 32.85742414,
            "MOP": 0.13338709,
            "MRO": 4.82569074,
            "MTL": 0.01133209,
            "MUR": 0.57213187,
            "MVR": 0.25233458,
            "MWK": 7.33652995,
            "MXN": 0.25613841,
            "MYR": 0.06087802,
            "MZN": 0.56434097,
            "NAD": 0.19907224,
            "NGN": 3.31053836,
            "NIO": 0.44254533,
            "NOK": 0.13064776,
            "NPR": 1.65596265,
            "NZD": 0.0225056,
            "OMR": 0.00638052,
            "PAB": 0.01657373,
            "PEN": 0.05135653,
            "PGK": 0.04385159,
            "PHP": 0.73256046,
            "PKR": 1.68774956,
            "PLN": 0.0630136,
            "PYG": 77.4935231,
            "QAR": 0.06034907,
            "RON": 0.06778966,
            "RSD": 1.83818933,
            "RUB": 1,
            "RWF": 11.44701444,
            "SAR": 0.06214614,
            "SBD": 0.12819227,
            "SCR": 0.22950277,
            "SDG": 0.09912882,
            "SEK": 0.14004146,
            "SGD": 0.02281999,
            "SHP": 0.011021,
            "SLL": 72.80840567,
            "SOS": 11.64168655,
            "SRD": 0.05440328,
            "STD": 372.62445933,
            "SVC": 0.1460834,
            "SYP": 3.13101835,
            "SZL": 0.19858165,
            "THB": 0.53957509,
            "TJS": 0.09051827,
            "TMT": 0.05800806,
            "TND": 0.03282829,
            "TOP": 0.03309,
            "TRY": 0.04344032,
            "TTD": 0.10518271,
            "TWD": 0.52265878,
            "TZS": 30.20885899,
            "UAH": 0.38249207,
            "UGX": 49.0848206,
            "USD": 0.01657373,
            "UYU": 0.4103903,
            "UZS": 40.84651612,
            "VEF": 0.10479866,
            "VND": 353.93536642,
            "VUV": 1.76166343,
            "WST": 0.04130217,
            "XAF": 9.99029588,
            "XAG": 0.0010461191,
            "XAU": 1.41927e-5,
            "XCD": 0.04476598,
            "XDR": 0.0119332,
            "XOF": 9.97825009,
            "XPF": 1.82241244,
            "YER": 3.56436674,
            "ZAR": 0.19904141,
            "ZMK": 87.06306264,
            "ZMW": 0.11605385,
            "ZWL": 5.34262555
          }
        }
  recorded_at: Mon, 07 Mar 2016 20:00:04 GMT
[...]
