---
http_interactions:
- request:
    method: get
    uri: https://openexchangerates.org/api/latest.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=RUB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 01 Mar 2016 20:00:10 GMT
      Etag:
      - '"6703038398f1030ecb091ff79278420c"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "disclaimer": "Exchange rates provided for informational purposes only and do not constitute financial advice of any kind. Although every attempt is made to ensure quality, no guarantees are made of accuracy, validity, availability, or fitness for any purpose. All usage subject to acceptance of Terms: https://openexchangerates.org/terms/",
          "license": "Data sourced from various providers; resale prohibited; no warranties given of any kind. All usage subject to License Agreement: https://openexchangerates.org/license/",
          "timestamp": 1456862410,
          "base": "RUB",
          "rates": {
            "AED": 0.04977715,
            "AFN": 0.93006261,
            "ALL": 1.7207202,
            "AMD": 6.66445503,
            "ANG": 0.02424187,
            "AOA": 2.15308885,
            "ARS": 0.21347478,
            "AUD": 0.01888152,
            "AWG": 0.02430296,
            "AZN": 0.02112952,
            "BAM": 0.02436477,
            "BBD": 0.02710368,
            "BDT": 1.06447477,
            "BGN": 0.02437875,
            "BHD": 0.00511175,
            "BIF": 21.29112304,
            "BMD": 0.01355184,
            "BND": 0.01901144,
            "BOB": 0.09297035,
            "BRL": 0.05353975,
            "BSD": 0.01355184,
            "BTC": 3.136259e-5,
            "BTN": 0.92253889,
            "BWP": 0.15345949,
            "BYR": 290.5710514,
            "BZD": 0.02706797,
            "CAD": 0.01819348,
            "CDF": 12.50977596,
            "CHF": 0.01352144,
            "CLF": 0.0003334,
            "CLP": 9.39718847,
            "CNY": 0.08880302,
            "COP": 44.22470636,
            "CRC": 7.26647099,
            "CUC": 0.01355184,
            "CUP": 0.01355387,
            "CVE": 1.37643304,
            "CZK": 0.336885,
            "DJF": 2.4090255,
            "DKK": 0.09294498,
            "DOP": 0.61922168,
            "DZD": 1.47195645,
            "EEK": 0.19472094,
            "EGP": 0.10617088,
            "ERN": 0.20325724,
            "ETB": 0.2902576,
            "EUR": 0.01246997,
            "FJD": 0.02889275,
            "FKP": 0.00970557,
            "GBP": 0.00970557,
            "GEL": 0.03342798,
            "GGP": 0.00970557,
            "GHS": 0.05326215,
            "GIP": 0.00970557,
            "GMD": 0.5320728,
            "GNF": 103.580695,
            "GTQ": 0.10426629,
            "GYD": 2.80256977,
            "HKD": 0.10532038,
            "HNL": 0.30693883,
            "HRK": 0.09484041,
            "HTG": 0.8331902,
            "HUF": 3.86162869,
            "IDR": 180.73860135,
            "ILS": 0.05272951,
            "IMP": 0.00970557,
            "INR": 0.91936048,
            "IQD": 14.75185281,
            "IRR": 409.36713866,
            "ISK": 1.7575663,
            "JEP": 0.00970557,
            "JMD": 1.64525002,
            "JOD": 0.00960343,
            "JPY": 1.54353535,
            "KES": 1.37803488,
            "KGS": 1.00256124,
            "KHR": 54.40439437,
            "KMF": 6.13636048,
            "KPW": 12.1954343,
            "KRW": 16.71872151,
            "KWD": 0.00407242,
            "KYD": 0.01118978,
            "KZT": 4.72523702,
            "LAK": 110.27211816,
            "LBP": 20.4768947,
            "LKR": 1.96103493,
            "LRD": 1.14741337,
            "LSL": 0.21256532,
            "LTL": 0.04214132,
            "LVL": 0.00863408,
            "LYD": 0.01842637,
            "MAD": 0.13424773,
            "MDL": 0.27147502,
            "MGA": 43.44561054,
            "MKD": 0.76768938,
            "MMK": 16.83304242,
            "MNT": 27.50797198,
            "MOP": 0.10858745,
            "MRO": 4.66375655,
            "MTL": 0.00926591,
            "MUR": 0.48705865,
            "MVR": 0.20742398,
            "MWK": 10.16033796,
            "MXN": 0.24319599,
            "MYR": 0.05636268,
            "MZN": 0.65973734,
            "NAD": 0.21298448,
            "NGN": 2.70037308,
            "NIO": 0.38204338,
            "NOK": 0.1174958,
            "NPR": 1.47660146,
            "NZD": 0.02045117,
            "OMR": 0.00521782,
            "PAB": 0.01355184,
            "PEN": 0.04774379,
            "PGK": 0.04126433,
            "PHP": 0.64062722,
            "PKR": 1.42058088,
            "PLN": 0.05403299,
            "PYG": 77.61844448,
            "QAR": 0.04934537,
            "RON": 0.05568346,
            "RSD": 1.53891824,
            "RUB": 1,
            "RWF": 10.3647029,
            "SAR": 0.05082201,
            "SBD": 0.10955026,
            "SCR": 0.18174735,
            "SDG": 0.08276839,
            "SEK": 0.11673443,
            "SGD": 0.0189931,
            "SHP": 0.00970557,
            "SLL": 55.20341105,
            "SOS": 8.26716822,
            "SRD": 0.05410571,
            "STD": 304.63209945,
            "SVC": 0.11863962,
            "SYP": 2.97933085,
            "SZL": 0.21302513,
            "THB": 0.48257213,
            "TJS": 0.10664754,
            "TMT": 0.04745402,
            "TND": 0.02779597,
            "TOP": 0.03082742,
            "TRY": 0.0398572,
            "TTD": 0.08825144,
            "TWD": 0.44850078,
            "TZS": 29.70772842,
            "UAH": 0.36823067,
            "UGX": 45.37774145,
            "USD": 0.01355184,
            "UYU": 0.43802833,
            "UZS": 38.67443705,
            "VEF": 0.08565435,
            "VND": 302.78938831,
            "VUV": 1.52912163,
            "WST": 0.03601654,
            "XAF": 8.17208115,
            "XAG": 0.0009183064,
            "XAU": 1.0977e-5,
            "XCD": 0.03660378,
            "XDR": 0.00980932,
            "XOF": 8.21859811,
            "XPD": 2.735e-5,
            "XPF": 1.48892805,
            "XPT": 1.447e-5,
            "YER": 2.91429562,
            "ZAR": 0.21240378,
            "ZMK": 71.18882351,
            "ZMW": 0.15441913,
            "ZWL": 4.36893966
          }
        }
  recorded_at: Tue, 01 Mar 2016 20:31:43 GMT
- request:
    method: get
    uri: http://openexchangerates.org/api/historical/2013-03-01.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=RUB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 01 Mar 2013 23:00:00 GMT
      Etag:
      - '"93010ac607e27e18229c07a796044f1e"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      strin[...]
