---
http_interactions:
- request:
    method: get
    uri: http://openexchangerates.org/api/historical/2014-09-10.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=SEK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e9fca99291b2c362c44437b3f2031d89"
      Last-Modified:
      - Wed, 10 Sep 2014 23:00:54 GMT
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "disclaimer": "Exchange rates provided for informational purposes only and do not constitute financial advice of any kind. Although every attempt is made to ensure quality, no guarantees are made of accuracy, validity, availability, or fitness for any purpose. All usage subject to acceptance of Terms: https://openexchangerates.org/terms/",
          "license": "Data sourced from various providers; resale prohibited; no warranties given of any kind. All usage subject to License Agreement: https://openexchangerates.org/license/",
          "timestamp": 1410390054,
          "base": "SEK",
          "rates": {
            "AED": 0.517212,
            "AFN": 7.997834,
            "ALL": 15.300172,
            "AMD": 57.694853,
            "ANG": 0.251642,
            "AOA": 13.763961,
            "ARS": 1.183189,
            "AUD": 0.153718,
            "AWG": 0.252074,
            "AZN": 0.11039,
            "BAM": 0.21338,
            "BBD": 0.281643,
            "BDT": 10.928636,
            "BGN": 0.213351,
            "BHD": 0.053091,
            "BIF": 217.345558,
            "BMD": 0.140822,
            "BND": 0.178029,
            "BOB": 0.975028,
            "BRL": 0.322007,
            "BSD": 0.140822,
            "BTC": 0.000293805811,
            "BTN": 8.566862,
            "BWP": 1.279455,
            "BYR": 1479.156258,
            "BZD": 0.281502,
            "CAD": 0.154275,
            "CDF": 130.169346,
            "CHF": 0.131866,
            "CLF": 0.003443,
            "CLP": 83.102446,
            "CNY": 0.863938,
            "COP": 276.776224,
            "CRC": 76.398471,
            "CUP": 0.140992,
            "CVE": 11.972484,
            "CZK": 3.012462,
            "DJF": 25.178463,
            "DKK": 0.811556,
            "DOP": 6.143086,
            "DZD": 11.394596,
            "EEK": 1.707035,
            "EGP": 1.007069,
            "ERN": 2.120247,
            "ETB": 2.809417,
            "EUR": 0.108982,
            "FJD": 0.264478,
            "FKP": 0.086907,
            "GBP": 0.086907,
            "GEL": 0.246573,
            "GGP": 0.086907,
            "GHS": 0.513459,
            "GIP": 0.086907,
            "GMD": 5.574435,
            "GNF": 991.831461,
            "GTQ": 1.092482,
            "GYD": 28.949557,
            "HKD": 1.091441,
            "HNL": 2.972724,
            "HRK": 0.830598,
            "HTG": 6.300908,
            "HUF": 34.376079,
            "IDR": 1663.695802,
            "ILS": 0.509127,
            "IMP": 0.086907,
            "INR": 8.569731,
            "IQD": 164.099303,
            "IRR": 3743.692839,
            "ISK": 16.688757,
            "JEP": 0.086907,
            "JMD": 15.8734,
            "JOD": 0.099751,
            "JPY": 15.026091,
            "KES": 12.491045,
            "KGS": 7.592392,
            "KHR": 574.290058,
            "KMF": 53.628648,
            "KPW": 126.739357,
            "KRW": 145.401021,
            "KWD": 0.040381,
            "KYD": 0.116466,
            "KZT": 25.660383,
            "LAK": 1133.325626,
            "LBP": 213.20611,
            "LKR": 18.337791,
            "LRD": 12.886456,
            "LSL": 1.539333,
            "LTL": 0.376494,
            "LVL": 0.076588,
            "LYD": 0.172845,
            "MAD": 1.212043,
            "MDL": 2.009757,
            "MGA": 364.642273,
            "MKD": 6.679987,
            "MMK": 137.268823,
            "MNT": 257.421716,
            "MOP": 1.125802,
            "MRO": 40.962512,
            "MTL": 0.096285,
            "MUR": 4.391823,
            "MVR": 2.167133,
            "MWK": 55.695442,
            "MXN": 1.856929,
            "MYR": 0.45086,
            "MZN": 4.28862,
            "NAD": 1.539304,
            "NGN": 22.938275,
            "NIO": 3.7051,
            "NOK": 0.892884,
            "NPR": 13.738411,
            "NZD": 0.171673,
            "OMR": 0.054217,
            "PAB": 0.140822,
            "PEN": 0.402795,
            "PGK": 0.349874,
            "PHP": 6.185927,
            "PKR": 14.383464,
            "PLN": 0.457467,
            "PYG": 603.660958,
            "QAR": 0.512799,
            "RON": 0.48184,
            "RSD": 12.972777,
            "RUB": 5.24936,
            "RWF": 97.24846,
            "SAR": 0.528111,
            "SBD": 1.024061,
            "SCR": 1.841154,
            "SDG": 0.803456,
            "SEK": 1,
            "SGD": 0.177847,
            "SHP": 0.086907,
            "SLL": 615.389988,
            "SOS": 117.26681,
            "SRD": 0.462951,
            "STD": 2675.650891,
            "SVC": 1.231555,
            "SYP": 21.702354,
            "SZL": 1.53964,
            "THB": 4.528362,
            "TJS": 0.7014,
            "TMT": 0.401355,
            "TND": 0.248672,
            "TOP": 0.266191,
            "TRY": 0.308799,
            "TTD": 0.893742,
            "TWD": 4.227843,
            "TZS": 234.748984,
            "UAH": 1.824621,
            "UGX": 367.155468,
            "USD": 0.140822,
            "UYU": 3.404853,
            "UZS": 332.09842,
            "VEF": 0.886241,
            "VND": 2986.406406,
            "VUV": 13.487884,
            "WST": 0.329207,
            "XAF": 71.589622,
            "XAG": 0.00744642,
            "XAU": 0.00011265,
            "XCD": 0.380432,
            "XDR": 0.09389,
            "XOF": 71.55561,
            "XPF": 13.011086,
            "YER": 30.271695,
            "ZAR": 1.537726,
            "ZMK": 739.745977,
            "ZMW": 0.864541,
            "ZWL": 45.394518
          }
        }
  recorded_at: Sat, 10 Sep 2016 19:35:39 GMT
recorded_with: VCR 3.0.1
