---
http_interactions:
- request:
    method: get
    uri: http://openexchangerates.org/api/historical/2014-04-11.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=SEK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 11 Apr 2014 23:00:00 GMT
      Etag:
      - '"aa9d6f7beeb01f0dc8f9208bd681e23b"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "disclaimer": "Exchange rates are provided for informational purposes only, and do not constitute financial advice of any kind. Although every attempt is made to ensure quality, NO guarantees are given whatsoever of accuracy, validity, availability, or fitness for any purpose - please use at your own risk. All usage is subject to your acceptance of the Terms and Conditions of Service, available at: https://openexchangerates.org/terms/",
          "license": "Data sourced from various providers with public-facing APIs; copyright may apply; resale is prohibited; no warranties given of any kind. Bitcoin data provided by http://coindesk.com. All usage is subject to your acceptance of the License Agreement available at: https://openexchangerates.org/license/",
          "timestamp": 1397257200,
          "base": "SEK",
          "rates": {
            "AED": 0.56281332,
            "AFN": 8.67806459,
            "ALL": 15.47479482,
            "AMD": 64.03432064,
            "ANG": 0.2741281,
            "AOA": 15.01339443,
            "ARS": 1.22595978,
            "AUD": 0.16308815,
            "AWG": 0.27312905,
            "AZN": 0.12016146,
            "BAM": 0.21604562,
            "BBD": 0.30645616,
            "BDT": 11.90362904,
            "BGN": 0.21609158,
            "BHD": 0.05777174,
            "BIF": 237.5957094,
            "BMD": 0.15322808,
            "BND": 0.19120551,
            "BOB": 1.05858584,
            "BRL": 0.33904179,
            "BSD": 0.15322808,
            "BTC": 0.000365632535,
            "BTN": 9.22514629,
            "BWP": 1.33554069,
            "BYR": 1521.69094126,
            "BZD": 0.30853546,
            "CAD": 0.1679962,
            "CDF": 141.50891458,
            "CHF": 0.13429614,
            "CLF": 0.00355413,
            "CLP": 84.00116515,
            "CNY": 0.95034843,
            "COP": 295.14894719,
            "CRC": 84.25356274,
            "CUP": 0.15324156,
            "CVE": 12.12608556,
            "CZK": 3.03023542,
            "DJF": 27.33562864,
            "DKK": 0.82416664,
            "DOP": 6.60303462,
            "DZD": 12.06533814,
            "EEK": 1.7800391,
            "EGP": 1.06887817,
            "ERN": 2.29112753,
            "ETB": 2.97700552,
            "EUR": 0.11035502,
            "FJD": 0.28100574,
            "FKP": 0.09157615,
            "GBP": 0.09157615,
            "GEL": 0.26913439,
            "GHS": 0.42451977,
            "GIP": 0.09157615,
            "GMD": 6.03735333,
            "GNF": 1072.31920964,
            "GTQ": 1.1894656,
            "GYD": 31.2931958,
            "HKD": 1.18797684,
            "HNL": 2.93343052,
            "HRK": 0.84084337,
            "HTG": 6.8377877,
            "HUF": 33.81452584,
            "IDR": 1748.06933892,
            "ILS": 0.53132265,
            "INR": 9.23390404,
            "IQD": 178.24179789,
            "IRR": 3878.56020967,
            "ISK": 17.13610883,
            "JEP": 0.09157615,
            "JMD": 16.75973485,
            "JOD": 0.10851429,
            "JPY": 15.57520503,
            "KES": 13.27800523,
            "KGS": 8.3413229,
            "KHR": 612.93193915,
            "KMF": 54.35890414,
            "KPW": 137.90527103,
            "KRW": 158.86380521,
            "KWD": 0.04307839,
            "KYD": 0.12663029,
            "KZT": 27.88432322,
            "LAK": 1231.48130135,
            "LBP": 231.05951547,
            "LKR": 20.01204694,
            "LRD": 12.96054162,
            "LSL": 1.60241635,
            "LTL": 0.38124602,
            "LVL": 0.07804871,
            "LYD": 0.19015804,
            "MAD": 1.24255928,
            "MDL": 2.04739069,
            "MGA": 360.18686057,
            "MKD": 6.80850735,
            "MMK": 147.22291728,
            "MNT": 271.46907988,
            "MOP": 1.22337421,
            "MRO": 45.35230889,
            "MTL": 0.10476786,
            "MUR": 4.6239714,
            "MVR": 2.35389741,
            "MWK": 60.53134288,
            "MXN": 1.99719317,
            "MYR": 0.4957955,
            "MZN": 4.80082725,
            "NAD": 1.60408347,
            "NGN": 24.68435383,
            "NIO": 3.94030449,
            "NOK": 0.90931656,
            "NPR": 14.76680295,
            "NZD": 0.17642206,
            "OMR": 0.05899603,
            "PAB": 0.15322808,
            "PEN": 0.42598126,
            "PGK": 0.41722198,
            "PHP": 6.80089344,
            "PKR": 14.86910262,
            "PLN": 0.46136071,
            "PYG": 680.07192725,
            "QAR": 0.55794649,
            "RON": 0.49271362,
            "RSD": 12.75213106,
            "RUB": 5.46104567,
            "RWF": 104.28689567,
            "SAR": 0.57464667,
            "SBD": 1.11270722,
            "SCR": 1.84156401,
            "SDG": 0.87150431,
            "SEK": 1,
            "SGD": 0.19129514,
            "SHP": 0.09157615,
            "SLL": 663.32435366,
            "SOS": 150.49700294,
            "SRD": 0.50003425,
            "STD": 2713.08254182,
            "SVC": 1.34035266,
            "SYP": 22.01979446,
            "SZL": 1.60420298,
            "THB": 4.94564157,
            "TJS": 0.7401644,
            "TMT": 0.43671535,
            "TND": 0.24216824,
            "TOP": 0.27897976,
            "TRY": 0.32398407,
            "TTD": 0.98680262,
            "TWD": 4.60774455,
            "TZS": 249.87847742,
            "UAH": 1.92143414,
            "UGX": 385.77824817,
            "USD": 0.15322808,
            "UYU": 3.48571815,
            "UZS": 347.85225519,
            "VEF": 0.96406189,
            "VND": 3230.69401548,
            "VUV": 14.43408519,
            "WST": 0.35258838,
            "XAF": 72.46861912,
            "XAG": 0.007674793,
            "XAU": 0.0001161837,
            "XCD": 0.41387211,
            "XDR": 0.09870325,
            "XOF": 72.52867564,
            "XPF": 13.1985105,
            "YER": 32.94878689,
            "ZAR": 1.60415089,
            "ZMK": 804.75766213,
            "ZMW": 0.93372472,
            "ZWL": 49.3938383
          }
        }
  recorded_at: Mon, 11 Apr 2016 00:39:57 GMT
recorded_with: VCR 3.0.1
