---
http_interactions:
- request:
    method: get
    uri: https://openexchangerates.org/api/latest.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Sun, 03 Jul 2016 16:00:22 GMT
      Etag:
      - '"bed92cb7d1662c60a8615d0aa3d7ce0f"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "disclaimer": "Exchange rates provided for informational purposes only and do not constitute financial advice of any kind. Although every attempt is made to ensure quality, no guarantees are made of accuracy, validity, availability, or fitness for any purpose. All usage subject to acceptance of Terms: https://openexchangerates.org/terms/",
          "license": "Data sourced from various providers; resale prohibited; no warranties given of any kind. All usage subject to License Agreement: https://openexchangerates.org/license/",
          "timestamp": 1467561622,
          "base": "USD",
          "rates": {
            "AED": 3.67301,
            "AFN": 68.495,
            "ALL": 123.032999,
            "AMD": 476.8075,
            "ANG": 1.78385,
            "AOA": 165.846832,
            "ARS": 15.046,
            "AUD": 1.333463,
            "AWG": 1.793333,
            "AZN": 1.553975,
            "BAM": 1.756771,
            "BBD": 2,
            "BDT": 78.26098,
            "BGN": 1.755922,
            "BHD": 0.377203,
            "BIF": 1655.690015,
            "BMD": 1,
            "BND": 1.343,
            "BOB": 6.88463,
            "BRL": 3.235876,
            "BSD": 1,
            "BTC": 0.001525085367,
            "BTN": 67.336467,
            "BWP": 10.843388,
            "BYN": 2.00325,
            "BYR": 20030.49675,
            "BZD": 2.00115,
            "CAD": 1.291146,
            "CDF": 943.1425,
            "CHF": 0.973204,
            "CLF": 0.025103,
            "CLP": 660.884994,
            "CNY": 6.65626,
            "COP": 2927.203333,
            "CRC": 546.003997,
            "CUC": 1,
            "CUP": 24.728383,
            "CVE": 98.979601,
            "CZK": 24.32847,
            "DJF": 177.309999,
            "DKK": 6.681126,
            "DOP": 45.93396,
            "DZD": 110.18958,
            "EEK": 14.047375,
            "EGP": 8.877703,
            "ERN": 15.0015,
            "ETB": 21.8847,
            "EUR": 0.8978,
            "FJD": 2.0767,
            "FKP": 0.753323,
            "GBP": 0.753323,
            "GEL": 2.31392,
            "GGP": 0.753323,
            "GHS": 3.94205,
            "GIP": 0.753323,
            "GMD": 42.64762,
            "GNF": 8991.499903,
            "GTQ": 7.63431,
            "GYD": 205.121669,
            "HKD": 7.758496,
            "HNL": 22.7542,
            "HRK": 6.747027,
            "HTG": 63.001225,
            "HUF": 284.4922,
            "IDR": 13123.8,
            "ILS": 3.848944,
            "IMP": 0.753323,
            "INR": 67.21368,
            "IQD": 1167.083231,
            "IRR": 30412.5,
            "ISK": 122.58,
            "JEP": 0.753323,
            "JMD": 126.381,
            "JOD": 0.70862,
            "JPY": 102.523201,
            "KES": 101.071311,
            "KGS": 67.4025,
            "KHR": 4069.575,
            "KMF": 437.183085,
            "KPW": 899.91,
            "KRW": 1147.486667,
            "KWD": 0.301688,
            "KYD": 0.824122,
            "KZT": 337.385998,
            "LAK": 8081.725,
            "LBP": 1508.383341,
            "LKR": 145.833001,
            "LRD": 90.49095,
            "LSL": 14.57066,
            "LTL": 3.074128,
            "LVL": 0.627498,
            "LYD": 1.378163,
            "MAD": 9.758615,
            "MDL": 19.78342,
            "MGA": 3208.466667,
            "MKD": 55.2266,
            "MMK": 1171.925,
            "MNT": 1979.166667,
            "MOP": 7.98702,
            "MRO": 355.038333,
            "MTL": 0.683738,
            "MUR": 35.366038,
            "MVR": 15.213333,
            "MWK": 708.317003,
            "MXN": 18.36088,
            "MYR": 4.00096,
            "MZN": 63.500001,
            "NAD": 14.57246,
            "NGN": 282.258,
            "NIO": 28.52258,
            "NOK": 8.341492,
            "NPR": 107.6784,
            "NZD": 1.393738,
            "OMR": 0.384915,
            "PAB": 1,
            "PEN": 3.2862,
            "PGK": 3.16275,
            "PHP": 46.96168,
            "PKR": 104.675,
            "PLN": 3.962613,
            "PYG": 5608.25,
            "QAR": 3.641311,
            "RON": 4.055627,
            "RSD": 110.66408,
            "RUB": 63.83498,
            "RWF": 752.65375,
            "SAR": 3.750739,
            "SBD": 7.90181,
            "SCR": 13.24178,
            "SDG": 6.071625,
            "SEK": 8.435798,
            "SGD": 1.345524,
            "SHP": 0.753323,
            "SLL": 5521.5,
            "SOS": 586.916667,
            "SRD": 7.0375,
            "STD": 21997,
            "SVC": 8.739613,
            "SYP": 216.556666,
            "SZL": 14.59706,
            "THB": 35.07202,
            "TJS": 7.868,
            "TMT": 3.471733,
            "TND": 2.19148,
            "TOP": 2.25815,
            "TRY": 2.902439,
            "TTD": 6.64331,
            "TWD": 32.19609,
            "TZS": 2195.366634,
            "UAH": 24.8032,
            "UGX": 3393.4,
            "USD": 1,
            "UYU": 30.46776,
            "UZS": 2947.5,
            "VEF": 9.9765,
            "VND": 22290.666667,
            "VUV": 108.360001,
            "WST": 2.580333,
            "XAF": 590.296458,
            "XAG": 0.0506085,
            "XAU": 0.000742,
            "XCD": 2.70302,
            "XDR": 0.715614,
            "XOF": 592.252462,
            "XPD": 0.001678,
            "XPF": 107.0875,
            "XPT": 0.000945,
            "YER": 250.027001,
            "ZAR": 14.55803,
            "ZMK": 5253.075255,
            "ZMW": 9.6247,
            "ZWL": 322.387247
          }
        }
  recorded_at: Sun, 03 Jul 2016 16:55:54 GMT
- request:
    method: get
    uri: http://openexchangerates.org/api/historical/2015-07-03.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 03 Jul 2015 23:00:00 GMT
      Etag:
      - '"f31a6102fa183537d998e70a3e0322e5"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      strin[...]
[...]
