---
http_interactions:
- request:
    method: get
    uri: https://openexchangerates.org/api/latest.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 09 Mar 2016 05:00:11 GMT
      Etag:
      - '"ee0a0907652c2b4b2a7e28863f663426"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "disclaimer": "Exchange rates provided for informational purposes only and do not constitute financial advice of any kind. Although every attempt is made to ensure quality, no guarantees are made of accuracy, validity, availability, or fitness for any purpose. All usage subject to acceptance of Terms: https://openexchangerates.org/terms/",
          "license": "Data sourced from various providers; resale prohibited; no warranties given of any kind. All usage subject to License Agreement: https://openexchangerates.org/license/",
          "timestamp": 1457499611,
          "base": "USD",
          "rates": {
            "AED": 3.67316,
            "AFN": 68.550002,
            "ALL": 125.5345,
            "AMD": 490.722503,
            "ANG": 1.788825,
            "AOA": 158.765335,
            "ARS": 15.44133,
            "AUD": 1.346641,
            "AWG": 1.793333,
            "AZN": 1.629063,
            "BAM": 1.780603,
            "BBD": 2,
            "BDT": 78.47117,
            "BGN": 1.781176,
            "BHD": 0.377045,
            "BIF": 1550.342476,
            "BMD": 1,
            "BND": 1.385453,
            "BOB": 6.841428,
            "BRL": 3.760376,
            "BSD": 1,
            "BTC": 0.002437936238,
            "BTN": 67.420768,
            "BWP": 11.185963,
            "BYR": 21147.2,
            "BZD": 1.994308,
            "CAD": 1.341984,
            "CDF": 928.5,
            "CHF": 0.997281,
            "CLF": 0.024598,
            "CLP": 681.800405,
            "CNY": 6.51692,
            "COP": 3179.216631,
            "CRC": 534.890904,
            "CUC": 1,
            "CUP": 1.000313,
            "CVE": 100.257667,
            "CZK": 24.62927,
            "DJF": 177.752501,
            "DKK": 6.795286,
            "DOP": 45.82344,
            "DZD": 108.65566,
            "EEK": 14.23105,
            "EGP": 7.830316,
            "ERN": 14.9985,
            "ETB": 21.34612,
            "EUR": 0.911442,
            "FJD": 2.097117,
            "FKP": 0.705129,
            "GBP": 0.705129,
            "GEL": 2.462375,
            "GGP": 0.705129,
            "GHS": 3.861304,
            "GIP": 0.705129,
            "GMD": 39.44296,
            "GNF": 7640.785049,
            "GTQ": 7.693588,
            "GYD": 206.263336,
            "HKD": 7.766425,
            "HNL": 22.61089,
            "HRK": 6.896095,
            "HTG": 61.85635,
            "HUF": 282.344798,
            "IDR": 13169.233333,
            "ILS": 3.908262,
            "IMP": 0.705129,
            "INR": 67.44818,
            "IQD": 1088.549988,
            "IRR": 30210.5,
            "ISK": 128.801001,
            "JEP": 0.705129,
            "JMD": 121.2817,
            "JOD": 0.708364,
            "JPY": 112.713699,
            "KES": 101.65263,
            "KGS": 72.871649,
            "KHR": 3996.987549,
            "KMF": 444.919644,
            "KPW": 900.09,
            "KRW": 1212.316659,
            "KWD": 0.300598,
            "KYD": 0.823567,
            "KZT": 345.642492,
            "LAK": 8126.177451,
            "LBP": 1506.483317,
            "LKR": 144.987801,
            "LRD": 84.66847,
            "LSL": 15.429413,
            "LTL": 3.094333,
            "LVL": 0.632995,
            "LYD": 1.390105,
            "MAD": 9.843738,
            "MDL": 19.9617,
            "MGA": 3213.208301,
            "MKD": 56.07199,
            "MMK": 1222.222476,
            "MNT": 2043.833333,
            "MOP": 7.997686,
            "MRO": 342.834333,
            "MTL": 0.683602,
            "MUR": 35.789812,
            "MVR": 15.22,
            "MWK": 719.885703,
            "MXN": 17.91104,
            "MYR": 4.128271,
            "MZN": 49.68,
            "NAD": 15.43413,
            "NGN": 199.024001,
            "NIO": 28.35086,
            "NOK": 8.572623,
            "NPR": 107.826399,
            "NZD": 1.487107,
            "OMR": 0.384988,
            "PAB": 1,
            "PEN": 3.459313,
            "PGK": 3.067025,
            "PHP": 46.96264,
            "PKR": 104.6942,
            "PLN": 3.93639,
            "PYG": 5697.57,
            "QAR": 3.641474,
            "RON": 4.065884,
            "RSD": 112.40264,
            "RUB": 72.16642,
            "RWF": 763.213256,
            "SAR": 3.750178,
            "SBD": 7.955157,
            "SCR": 13.424007,
            "SDG": 6.10032,
            "SEK": 8.507042,
            "SGD": 1.38673,
            "SHP": 0.705129,
            "SLL": 4074.5,
            "SOS": 613.225494,
            "SRD": 3.9925,
            "STD": 22262.5,
            "SVC": 8.741125,
            "SYP": 219.866667,
            "SZL": 15.41253,
            "THB": 35.37098,
            "TJS": 7.8696,
            "TMT": 3.501667,
            "TND": 2.038816,
            "TOP": 2.255649,
            "TRY": 2.917941,
            "TTD": 6.540535,
            "TWD": 32.86556,
            "TZS": 2185.648317,
            "UAH": 26.26072,
            "UGX": 3366.773333,
            "USD": 1,
            "UYU": 32.19132,
            "UZS": 2861.319947,
            "VEF": 6.31701,
            "VND": 22286.433333,
            "VUV": 112.613749,
            "WST": 2.541923,
            "XAF": 597.658798,
            "XAG": 0.0653015,
            "XAU": 0.0007985,
            "XCD": 2.70102,
            "XDR": 0.719461,
            "XOF": 599.236518,
            "XPD": 0.001763,
            "XPF": 108.567062,
            "XPT": 0.001011,
            "YER": 214.892,
            "ZAR": 15.43705,
            "ZMK": 5252.024745,
            "ZMW": 11.376838,
            "ZWL": 322.387247
          }
        }
  recorded_at: Wed, 09 Mar 2016 05:05:56 GMT
- request:
    method: get
    uri: http://openexchangerates.org/api/historical/2015-03-09.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 09 Mar 2015 23:00:00 GMT
      Etag:
      - '"66c4b8079fed8c88855a5b6c9e2a9401"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      strin[...]
[...]
