---
http_interactions:
- request:
    method: get
    uri: https://openexchangerates.org/api/latest.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 09 Mar 2016 23:00:12 GMT
      Etag:
      - '"a83fb9ea94e9a0c0827d4e1a9861af3a"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "disclaimer": "Exchange rates provided for informational purposes only and do not constitute financial advice of any kind. Although every attempt is made to ensure quality, no guarantees are made of accuracy, validity, availability, or fitness for any purpose. All usage subject to acceptance of Terms: https://openexchangerates.org/terms/",
          "license": "Data sourced from various providers; resale prohibited; no warranties given of any kind. All usage subject to License Agreement: https://openexchangerates.org/license/",
          "timestamp": 1457564412,
          "base": "USD",
          "rates": {
            "AED": 3.67292,
            "AFN": 68.550002,
            "ALL": 125.588501,
            "AMD": 490.707503,
            "ANG": 1.78875,
            "AOA": 158.755335,
            "ARS": 15.37457,
            "AUD": 1.337477,
            "AWG": 1.793333,
            "AZN": 1.63795,
            "BAM": 1.777278,
            "BBD": 2,
            "BDT": 78.39381,
            "BGN": 1.777576,
            "BHD": 0.376959,
            "BIF": 1550.767525,
            "BMD": 1,
            "BND": 1.382253,
            "BOB": 6.836638,
            "BRL": 3.703736,
            "BSD": 1,
            "BTC": 0.00242772658,
            "BTN": 67.239933,
            "BWP": 11.158488,
            "BYR": 21047.2,
            "BZD": 1.99342,
            "CAD": 1.326869,
            "CDF": 928,
            "CHF": 0.996827,
            "CLF": 0.024602,
            "CLP": 678.954394,
            "CNY": 6.51401,
            "COP": 3165.923327,
            "CRC": 534.593905,
            "CUC": 1,
            "CUP": 0.999913,
            "CVE": 100.397667,
            "CZK": 24.58893,
            "DJF": 177.745001,
            "DKK": 6.780766,
            "DOP": 45.74726,
            "DZD": 108.8016,
            "EEK": 14.2105,
            "EGP": 7.829746,
            "ERN": 15.0015,
            "ETB": 21.33034,
            "EUR": 0.909159,
            "FJD": 2.10355,
            "FKP": 0.703503,
            "GBP": 0.703503,
            "GEL": 2.43075,
            "GGP": 0.703503,
            "GHS": 3.846154,
            "GIP": 0.703503,
            "GMD": 39.66102,
            "GNF": 7632.710098,
            "GTQ": 7.696908,
            "GYD": 206.263336,
            "HKD": 7.766128,
            "HNL": 22.60219,
            "HRK": 6.879095,
            "HTG": 61.820925,
            "HUF": 281.172799,
            "IDR": 13120.4,
            "ILS": 3.896622,
            "IMP": 0.703503,
            "INR": 67.185689,
            "IQD": 1088.549988,
            "IRR": 30210.5,
            "ISK": 128.351,
            "JEP": 0.703503,
            "JMD": 121.44942,
            "JOD": 0.708548,
            "JPY": 113.2517,
            "KES": 101.59263,
            "KGS": 72.7139,
            "KHR": 3994.362549,
            "KMF": 444.369382,
            "KPW": 900.09,
            "KRW": 1211.098332,
            "KWD": 0.300696,
            "KYD": 0.823567,
            "KZT": 344.520493,
            "LAK": 8115.752403,
            "LBP": 1506.483317,
            "LKR": 144.8118,
            "LRD": 84.66847,
            "LSL": 15.244775,
            "LTL": 3.092058,
            "LVL": 0.632395,
            "LYD": 1.38973,
            "MAD": 9.834238,
            "MDL": 19.93892,
            "MGA": 3211.34165,
            "MKD": 55.96889,
            "MMK": 1220.897525,
            "MNT": 2043.166667,
            "MOP": 7.994366,
            "MRO": 342.649333,
            "MTL": 0.683738,
            "MUR": 35.799612,
            "MVR": 15.186667,
            "MWK": 716.53768,
            "MXN": 17.77411,
            "MYR": 4.110191,
            "MZN": 49.86,
            "NAD": 15.27232,
            "NGN": 198.857001,
            "NIO": 28.2673,
            "NOK": 8.524793,
            "NPR": 107.472001,
            "NZD": 1.505159,
            "OMR": 0.384916,
            "PAB": 1,
            "PEN": 3.445853,
            "PGK": 3.047175,
            "PHP": 46.85854,
            "PKR": 104.674541,
            "PLN": 3.9281,
            "PYG": 5705.636667,
            "QAR": 3.641454,
            "RON": 4.055414,
            "RSD": 112.13812,
            "RUB": 71.177321,
            "RWF": 760.517,
            "SAR": 3.750418,
            "SBD": 7.96016,
            "SCR": 13.424007,
            "SDG": 6.097458,
            "SEK": 8.453342,
            "SGD": 1.381987,
            "SHP": 0.703503,
            "SLL": 4073.5,
            "SOS": 612.648,
            "SRD": 3.9925,
            "STD": 22285,
            "SVC": 8.737563,
            "SYP": 219.853334,
            "SZL": 15.27482,
            "THB": 35.31246,
            "TJS": 7.8696,
            "TMT": 3.501467,
            "TND": 2.036436,
            "TOP": 2.25418,
            "TRY": 2.896891,
            "TTD": 6.546765,
            "TWD": 32.88816,
            "TZS": 2185.331667,
            "UAH": 26.1049,
            "UGX": 3354.773333,
            "USD": 1,
            "UYU": 32.15766,
            "UZS": 2861.319947,
            "VEF": 6.31701,
            "VND": 22279.933333,
            "VUV": 112.576249,
            "WST": 2.532193,
            "XAF": 596.967425,
            "XAG": 0.0652475,
            "XAU": 0.000799,
            "XCD": 2.70102,
            "XDR": 0.7196,
            "XOF": 598.522665,
            "XPD": 0.001765,
            "XPF": 108.487824,
            "XPT": 0.001018,
            "YER": 214.962001,
            "ZAR": 15.23876,
            "ZMK": 5253.075255,
            "ZMW": 11.376313,
            "ZWL": 322.322775
          }
        }
  recorded_at: Thu, 10 Mar 2016 00:01:37 GMT
- request:
    method: get
    uri: http://openexchangerates.org/api/historical/2015-03-10.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 10 Mar 2015 23:00:00 GMT
      Etag:
      - '"e34eb96d30bfe103d423071c96114328"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      strin[...]
[...]
