---
http_interactions:
- request:
    method: get
    uri: https://openexchangerates.org/api/latest.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=RUB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5ef766a931f2b70a28265e02c68b596b"
      Last-Modified:
      - Sat, 10 Sep 2016 19:00:14 GMT
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "disclaimer": "Exchange rates provided for informational purposes only and do not constitute financial advice of any kind. Although every attempt is made to ensure quality, no guarantees are made of accuracy, validity, availability, or fitness for any purpose. All usage subject to acceptance of Terms: https://openexchangerates.org/terms/",
          "license": "Data sourced from various providers; resale prohibited; no warranties given of any kind. All usage subject to License Agreement: https://openexchangerates.org/license/",
          "timestamp": 1473534014,
          "base": "RUB",
          "rates": {
            "AED": 0.0568,
            "AFN": 1.032741,
            "ALL": 1.888235,
            "AMD": 7.337393,
            "ANG": 0.027469,
            "AOA": 2.560469,
            "ARS": 0.233135,
            "AUD": 0.020501,
            "AWG": 0.027681,
            "AZN": 0.025589,
            "BAM": 0.026933,
            "BBD": 0.030928,
            "BDT": 1.214357,
            "BGN": 0.026914,
            "BHD": 0.00583,
            "BIF": 25.763009,
            "BMD": 0.015464,
            "BND": 0.020953,
            "BOB": 0.107178,
            "BRL": 0.050491,
            "BSD": 0.015464,
            "BTC": 2.4814508e-05,
            "BTN": 1.029821,
            "BWP": 0.165674,
            "BYN": 0.030056,
            "BYR": 309.689004,
            "BZD": 0.030958,
            "CAD": 0.020151,
            "CDF": 15.115267,
            "CHF": 0.015079,
            "CLF": 0.000392,
            "CLP": 10.375063,
            "CNY": 0.103304,
            "COP": 44.753853,
            "CRC": 8.528942,
            "CUC": 0.015464,
            "CUP": 0.382404,
            "CVE": 1.521344,
            "CZK": 0.371885,
            "DJF": 2.739943,
            "DKK": 0.102426,
            "DOP": 0.712882,
            "DZD": 1.683937,
            "EEK": 0.215206,
            "EGP": 0.137164,
            "ERN": 0.238148,
            "ETB": 0.341511,
            "EUR": 0.013769,
            "FJD": 0.031536,
            "FKP": 0.011654,
            "GBP": 0.011654,
            "GEL": 0.03568,
            "GGP": 0.011654,
            "GHS": 0.061085,
            "GIP": 0.011654,
            "GMD": 0.658067,
            "GNF": 141.47462,
            "GTQ": 0.116684,
            "GYD": 3.184693,
            "HKD": 0.119951,
            "HNL": 0.353766,
            "HRK": 0.102944,
            "HTG": 1.002658,
            "HUF": 4.248799,
            "IDR": 202.525771,
            "ILS": 0.058159,
            "IMP": 0.011654,
            "INR": 1.033054,
            "IQD": 18.013937,
            "IRR": 465.192665,
            "ISK": 1.771573,
            "JEP": 0.011654,
            "JMD": 1.969306,
            "JOD": 0.010957,
            "JPY": 1.587287,
            "KES": 1.565626,
            "KGS": 1.067231,
            "KHR": 63.090421,
            "KMF": 6.787475,
            "KPW": 13.916346,
            "KRW": 17.040286,
            "KWD": 0.004659,
            "KYD": 0.012759,
            "KZT": 5.227739,
            "LAK": 125.108868,
            "LBP": 23.347135,
            "LKR": 2.250723,
            "LRD": 1.411104,
            "LSL": 0.222072,
            "LTL": 0.046924,
            "LVL": 0.009643,
            "LYD": 0.02127,
            "MAD": 0.150029,
            "MDL": 0.305534,
            "MGA": 46.935123,
            "MKD": 0.849259,
            "MMK": 18.910417,
            "MNT": 34.374236,
            "MOP": 0.123697,
            "MRO": 5.500728,
            "MTL": 0.010573,
            "MUR": 0.544199,
            "MVR": 0.236138,
            "MWK": 11.118835,
            "MXN": 0.291692,
            "MYR": 0.063276,
            "MZN": 1.171719,
            "NAD": 0.220693,
            "NGN": 4.868688,
            "NIO": 0.447514,
            "NOK": 0.127465,
            "NPR": 1.650243,
            "NZD": 0.021122,
            "OMR": 0.005955,
            "PAB": 0.015464,
            "PEN": 0.052315,
            "PGK": 0.048983,
            "PHP": 0.730467,
            "PKR": 1.613361,
            "PLN": 0.059742,
            "PYG": 85.972703,
            "QAR": 0.056309,
            "RON": 0.06116,
            "RSD": 1.694844,
            "RUB": 1,
            "RWF": 12.294584,
            "SAR": 0.058006,
            "SBD": 0.120317,
            "SCR": 0.204637,
            "SDG": 0.094097,
            "SEK": 0.131226,
            "SGD": 0.020996,
            "SHP": 0.011654,
            "SLL": 87.372467,
            "SOS": 9.013537,
            "SRD": 0.113778,
            "STD": 336.915965,
            "SVC": 0.135413,
            "SYP": 3.314174,
            "SZL": 0.22203,
            "THB": 0.538295,
            "TJS": 0.121907,
            "TMT": 0.053686,
            "TND": 0.03403,
            "TOP": 0.034724,
            "TRY": 0.045901,
            "TTD": 0.103618,
            "TWD": 0.487753,
            "TZS": 33.783531,
            "UAH": 0.413155,
            "UGX": 52.327267,
            "USD": 0.015464,
            "UYU": 0.448915,
            "UZS": 46.221195,
            "VEF": 0.1543,
            "VND": 345.010161,
            "VUV": 1.638685,
            "WST": 0.039047,
            "XAF": 9.052825,
            "XAG": 0.00081883,
            "XAU": 1.165e-05,
            "XCD": 0.041738,
            "XDR": 0.01103,
            "XOF": 9.080525,
            "XPD": 2.301e-05,
            "XPF": 1.640414,
            "XPT": 1.364e-05,
            "YER": 3.868049,
            "ZAR": 0.222358,
            "ZMK": 81.234362,
            "ZMW": 0.158056,
            "ZWL": 4.985446
          }
        }
  recorded_at: Sat, 10 Sep 2016 19:35:41 GMT
- request:
    method: get
    uri: http://openexchangerates.org/api/historical/2015-09-10.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=RUB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0206f1954277734615595798742df99a"
      Last-Modified:
      - Thu, 10 Sep 2015 23:00:10 GMT
    body:
      encoding: ASCII-8BIT
      [...]
[...]
