---
http_interactions:
- request:
    method: get
    uri: https://openexchangerates.org/api/latest.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=RUB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 09 Mar 2016 04:00:12 GMT
      Etag:
      - '"7bb23c081fd4d0af8bbbbc5bf8a8b45f"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "disclaimer": "Exchange rates provided for informational purposes only and do not constitute financial advice of any kind. Although every attempt is made to ensure quality, no guarantees are made of accuracy, validity, availability, or fitness for any purpose. All usage subject to acceptance of Terms: https://openexchangerates.org/terms/",
          "license": "Data sourced from various providers; resale prohibited; no warranties given of any kind. All usage subject to License Agreement: https://openexchangerates.org/license/",
          "timestamp": 1457496012,
          "base": "RUB",
          "rates": {
            "AED": 0.05079485,
            "AFN": 0.94804706,
            "ALL": 1.7358112,
            "AMD": 6.78600455,
            "ANG": 0.02473704,
            "AOA": 2.19540312,
            "ARS": 0.21354154,
            "AUD": 0.01863728,
            "AWG": 0.02480181,
            "AZN": 0.02252753,
            "BAM": 0.02461451,
            "BBD": 0.02766002,
            "BDT": 1.08526381,
            "BGN": 0.02461473,
            "BHD": 0.00521409,
            "BIF": 21.44124857,
            "BMD": 0.01383001,
            "BND": 0.01915511,
            "BOB": 0.094617,
            "BRL": 0.05200838,
            "BSD": 0.01383001,
            "BTC": 3.366784e-5,
            "BTN": 0.93134086,
            "BWP": 0.15468605,
            "BYR": 292.46594143,
            "BZD": 0.0275813,
            "CAD": 0.0185615,
            "CDF": 12.84116226,
            "CHF": 0.01379052,
            "CLF": 0.00034019,
            "CLP": 9.42897301,
            "CNY": 0.09010222,
            "COP": 43.96859088,
            "CRC": 7.39693687,
            "CUC": 0.01383001,
            "CUP": 0.01383434,
            "CVE": 1.38637991,
            "CZK": 0.34055274,
            "DJF": 2.45807645,
            "DKK": 0.0939595,
            "DOP": 0.63368653,
            "DZD": 1.50283171,
            "EEK": 0.19676021,
            "EGP": 0.10827715,
            "ERN": 0.20747086,
            "ETB": 0.29519267,
            "EUR": 0.01260163,
            "FJD": 0.028999,
            "FKP": 0.00974995,
            "GBP": 0.00974995,
            "GEL": 0.03405086,
            "GGP": 0.00974995,
            "GHS": 0.05339744,
            "GIP": 0.00974995,
            "GMD": 0.54608782,
            "GNF": 105.672117,
            "GTQ": 0.10639353,
            "GYD": 2.85262355,
            "HKD": 0.10740755,
            "HNL": 0.31268334,
            "HRK": 0.09536185,
            "HTG": 0.85538668,
            "HUF": 3.90455416,
            "IDR": 182.08449999,
            "ILS": 0.05404687,
            "IMP": 0.00974995,
            "INR": 0.93261539,
            "IQD": 15.05465485,
            "IRR": 417.81145133,
            "ISK": 1.78059968,
            "JEP": 0.00974995,
            "JMD": 1.67718856,
            "JOD": 0.00979994,
            "JPY": 1.5585506,
            "KES": 1.40577091,
            "KGS": 1.00781548,
            "KHR": 55.27836907,
            "KMF": 6.1516892,
            "KPW": 12.44825174,
            "KRW": 16.77559194,
            "KWD": 0.00415711,
            "KYD": 0.01138994,
            "KZT": 4.77813621,
            "LAK": 112.38509772,
            "LBP": 20.83467606,
            "LKR": 2.00424198,
            "LRD": 1.1709656,
            "LSL": 0.21334914,
            "LTL": 0.04278877,
            "LVL": 0.00875267,
            "LYD": 0.01922309,
            "MAD": 0.1360217,
            "MDL": 0.27606051,
            "MGA": 44.43869594,
            "MKD": 0.77523514,
            "MMK": 16.9033464,
            "MNT": 28.26623098,
            "MOP": 0.11059727,
            "MRO": 4.74140151,
            "MTL": 0.00945422,
            "MUR": 0.49507849,
            "MVR": 0.21049272,
            "MWK": 9.9551951,
            "MXN": 0.24775643,
            "MYR": 0.05711158,
            "MZN": 0.68707479,
            "NAD": 0.21342233,
            "NGN": 2.75225455,
            "NIO": 0.39206081,
            "NOK": 0.11858696,
            "NPR": 1.4896578,
            "NZD": 0.02053809,
            "OMR": 0.00532417,
            "PAB": 0.01383001,
            "PEN": 0.04783845,
            "PGK": 0.04241698,
            "PHP": 0.64963557,
            "PKR": 1.44797693,
            "PLN": 0.05444169,
            "PYG": 78.79743767,
            "QAR": 0.05036217,
            "RON": 0.05620479,
            "RSD": 1.55415267,
            "RUB": 1,
            "RWF": 10.55417348,
            "SAR": 0.05186444,
            "SBD": 0.1100419,
            "SCR": 0.18569127,
            "SDG": 0.08435883,
            "SEK": 0.11764195,
            "SGD": 0.01918204,
            "SHP": 0.00974995,
            "SLL": 56.35036687,
            "SOS": 8.48001443,
            "SRD": 0.05521631,
            "STD": 307.89054915,
            "SVC": 0.12088983,
            "SYP": 3.04034282,
            "SZL": 0.2131236,
            "THB": 0.48923348,
            "TJS": 0.10883663,
            "TMT": 0.04842162,
            "TND": 0.02821842,
            "TOP": 0.03119564,
            "TRY": 0.04035072,
            "TTD": 0.09044846,
            "TWD": 0.45452127,
            "TZS": 30.22753332,
            "UAH": 0.36317269,
            "UGX": 46.56250153,
            "USD": 0.01383001,
            "UYU": 0.44518989,
            "UZS": 39.57207725,
            "VEF": 0.0873643,
            "VND": 308.14548229,
            "VUV": 1.55744903,
            "WST": 0.03515481,
            "XAF": 8.26236391,
            "XAG": 0.0009038809,
            "XAU": 1.10433e-5,
            "XCD": 0.03735513,
            "XDR": 0.00994877,
            "XOF": 8.283991,
            "XPD": 2.438e-5,
            "XPF": 1.50094931,
            "XPT": 1.398e-5,
            "YER": 2.9717091,
            "ZAR": 0.2134327,
            "ZMK": 72.65007187,
            "ZMW": 0.15732551,
            "ZWL": 4.45861815
          }
        }
  recorded_at: Wed, 09 Mar 2016 04:46:12 GMT
- request:
    method: get
    uri: http://openexchangerates.org/api/historical/2015-03-09.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=RUB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 09 Mar 2015 23:00:00 GMT
      Etag:
      - '"c16ad7c69cc31069ea723245ec385658"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      strin[...]
[...]
