---
http_interactions:
- request:
    method: get
    uri: https://openexchangerates.org/api/latest.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=RUB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 18 Mar 2016 18:17:23 GMT
      Etag:
      - '"9de404684194141bdbf46f8c7a4d7d94"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "disclaimer": "Exchange rates provided for informational purposes only and do not constitute financial advice of any kind. Although every attempt is made to ensure quality, no guarantees are made of accuracy, validity, availability, or fitness for any purpose. All usage subject to acceptance of Terms: https://openexchangerates.org/terms/",
          "license": "Data sourced from various providers; resale prohibited; no warranties given of any kind. All usage subject to License Agreement: https://openexchangerates.org/license/",
          "timestamp": 1458325043,
          "base": "RUB",
          "rates": {
            "AED": 0.05370376,
            "AFN": 1.00027942,
            "ALL": 1.79279579,
            "AMD": 7.11556761,
            "ANG": 0.02615407,
            "AOA": 2.32278011,
            "ARS": 0.21565811,
            "AUD": 0.01923399,
            "AWG": 0.02622181,
            "AZN": 0.02349528,
            "BAM": 0.02536743,
            "BBD": 0.02924366,
            "BDT": 1.14404228,
            "BGN": 0.02535741,
            "BHD": 0.00551299,
            "BIF": 22.72528514,
            "BMD": 0.01462183,
            "BND": 0.01984837,
            "BOB": 0.09972603,
            "BRL": 0.0530108,
            "BSD": 0.01462183,
            "BTC": 3.5800878e-5,
            "BTN": 0.97365844,
            "BWP": 0.16200934,
            "BYR": 297.45445629,
            "BZD": 0.02911872,
            "CAD": 0.01904359,
            "CDF": 13.54462926,
            "CHF": 0.01416554,
            "CLF": 0.00035967,
            "CLP": 9.85459761,
            "CNY": 0.09462825,
            "COP": 45.17675282,
            "CRC": 7.80137828,
            "CUC": 0.01462183,
            "CUP": 0.01461964,
            "CVE": 1.42721226,
            "CZK": 0.35060781,
            "DJF": 2.5987544,
            "DKK": 0.09665458,
            "DOP": 0.66734385,
            "DZD": 1.61006444,
            "EEK": 0.20297257,
            "EGP": 0.12979729,
            "ERN": 0.21934939,
            "ETB": 0.31224656,
            "EUR": 0.01296639,
            "FJD": 0.03033153,
            "FKP": 0.0100936,
            "GBP": 0.0100936,
            "GEL": 0.03346718,
            "GGP": 0.0100936,
            "GHS": 0.05625093,
            "GIP": 0.0100936,
            "GMD": 0.576126,
            "GNF": 111.38398839,
            "GTQ": 0.11306715,
            "GYD": 3.00530771,
            "HKD": 0.1134011,
            "HNL": 0.32996617,
            "HRK": 0.09769449,
            "HTG": 0.90480508,
            "HUF": 4.02192019,
            "IDR": 191.61031535,
            "ILS": 0.05638168,
            "IMP": 0.0100936,
            "INR": 0.97180487,
            "IQD": 15.91659339,
            "IRR": 442.34692662,
            "ISK": 1.82891464,
            "JEP": 0.0100936,
            "JMD": 1.77609035,
            "JOD": 0.01035919,
            "JPY": 1.63204191,
            "KES": 1.48392526,
            "KGS": 1.05360815,
            "KHR": 58.34194402,
            "KMF": 6.41759445,
            "KPW": 13.1609634,
            "KRW": 17.01827512,
            "KWD": 0.00439684,
            "KYD": 0.01202999,
            "KZT": 5.05909622,
            "LAK": 118.33966626,
            "LBP": 22.01996494,
            "LKR": 2.11744722,
            "LRD": 1.23800802,
            "LSL": 0.22407992,
            "LTL": 0.04432352,
            "LVL": 0.00910238,
            "LYD": 0.01992444,
            "MAD": 0.14162214,
            "MDL": 0.28792534,
            "MGA": 46.61580877,
            "MKD": 0.79962068,
            "MMK": 17.67245591,
            "MNT": 29.88945848,
            "MOP": 0.11664728,
            "MRO": 5.01158853,
            "MTL": 0.0099975,
            "MUR": 0.51762779,
            "MVR": 0.22351905,
            "MWK": 9.92910562,
            "MXN": 0.25413429,
            "MYR": 0.05928988,
            "MZN": 0.73423523,
            "NAD": 0.22381782,
            "NGN": 2.90689887,
            "NIO": 0.41279358,
            "NOK": 0.1224628,
            "NPR": 1.55633594,
            "NZD": 0.02152018,
            "OMR": 0.00562919,
            "PAB": 0.01462183,
            "PEN": 0.04926618,
            "PGK": 0.04478447,
            "PHP": 0.67914981,
            "PKR": 1.52827899,
            "PLN": 0.05532598,
            "PYG": 83.23564818,
            "QAR": 0.05324519,
            "RON": 0.05802624,
            "RSD": 1.59395001,
            "RUB": 1,
            "RWF": 11.00190571,
            "SAR": 0.05483472,
            "SBD": 0.11503811,
            "SCR": 0.19414881,
            "SDG": 0.08902348,
            "SEK": 0.12019504,
            "SGD": 0.01984451,
            "SHP": 0.0100936,
            "SLL": 59.31345534,
            "SOS": 8.97626501,
            "SRD": 0.05837766,
            "STD": 318.03943478,
            "SVC": 0.12763215,
            "SYP": 3.21235277,
            "SZL": 0.22381782,
            "THB": 0.50972461,
            "TJS": 0.11506796,
            "TMT": 0.05119542,
            "TND": 0.02931278,
            "TOP": 0.03285771,
            "TRY": 0.04187799,
            "TTD": 0.09604817,
            "TWD": 0.47332854,
            "TZS": 31.89740158,
            "UAH": 0.3887762,
            "UGX": 49.09710928,
            "USD": 0.01462183,
            "UYU": 0.47159878,
            "UZS": 41.8304243,
            "VEF": 0.09252124,
            "VND": 325.62962699,
            "VUV": 1.58278877,
            "WST": 0.03679807,
            "XAF": 8.5154395,
            "XAG": 0.0009240778,
            "XAU": 1.16682e-5,
            "XCD": 0.03949386,
            "XDR": 0.01039845,
            "XOF": 8.57494742,
            "XPD": 2.48e-5,
            "XPF": 1.54788125,
            "XPT": 1.508e-5,
            "YER": 3.1434596,
            "ZAR": 0.22384721,
            "ZMK": 76.80957588,
            "ZMW": 0.16576477,
            "ZWL": 4.71294898
          }
        }
  recorded_at: Fri, 18 Mar 2016 18:30:53 GMT
- request:
    method: get
    uri: http://openexchangerates.org/api/historical/2015-03-18.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=RUB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 18 Mar 2015 23:00:00 GMT
      Etag:
      - '"cfcfb115ca853a1d20a084ed9d8231cf"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      strin[...]
[...]
