---
http_interactions:
- request:
    method: get
    uri: https://openexchangerates.org/api/latest.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=RUB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Sat, 16 Apr 2016 15:00:09 GMT
      Etag:
      - '"96fe5e73c8633738c4ffc8dd6de4cfd0"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "disclaimer": "Exchange rates provided for informational purposes only and do not constitute financial advice of any kind. Although every attempt is made to ensure quality, no guarantees are made of accuracy, validity, availability, or fitness for any purpose. All usage subject to acceptance of Terms: https://openexchangerates.org/terms/",
          "license": "Data sourced from various providers; resale prohibited; no warranties given of any kind. All usage subject to License Agreement: https://openexchangerates.org/license/",
          "timestamp": 1460818809,
          "base": "RUB",
          "rates": {
            "AED": 0.05529599,
            "AFN": 1.02929047,
            "ALL": 1.85798594,
            "AMD": 7.26912851,
            "ANG": 0.02692836,
            "AOA": 2.49568183,
            "ARS": 0.21206635,
            "AUD": 0.01948965,
            "AWG": 0.02699811,
            "AZN": 0.02291854,
            "BAM": 0.02610066,
            "BBD": 0.03010942,
            "BDT": 1.17963821,
            "BGN": 0.02609156,
            "BHD": 0.00567522,
            "BIF": 23.41142713,
            "BMD": 0.01505471,
            "BND": 0.0204486,
            "BOB": 0.10307849,
            "BRL": 0.05311769,
            "BSD": 0.01505471,
            "BTC": 3.5000125e-5,
            "BTN": 1.0027761,
            "BWP": 0.16260309,
            "BYR": 300.14309501,
            "BZD": 0.03002699,
            "CAD": 0.01930379,
            "CDF": 13.97149993,
            "CHF": 0.01456999,
            "CLF": 0.00037038,
            "CLP": 10.02122858,
            "CNY": 0.09751484,
            "COP": 45.11906296,
            "CRC": 8.05321989,
            "CUC": 0.01505471,
            "CUP": 0.01505207,
            "CVE": 1.47125327,
            "CZK": 0.36063389,
            "DJF": 2.67440879,
            "DKK": 0.09929398,
            "DOP": 0.69076439,
            "DZD": 1.63929731,
            "EEK": 0.20885849,
            "EGP": 0.13366526,
            "ERN": 0.22579805,
            "ETB": 0.3242426,
            "EUR": 0.01334216,
            "FJD": 0.03111959,
            "FKP": 0.01060038,
            "GBP": 0.01060038,
            "GEL": 0.03376621,
            "GGP": 0.01060038,
            "GHS": 0.05778197,
            "GIP": 0.01060038,
            "GMD": 0.64217336,
            "GNF": 114.32880987,
            "GTQ": 0.11654011,
            "GYD": 3.10404514,
            "HKD": 0.11676248,
            "HNL": 0.33970634,
            "HRK": 0.10007893,
            "HTG": 0.93476682,
            "HUF": 4.15228738,
            "IDR": 198.47249907,
            "ILS": 0.05685354,
            "IMP": 0.01060038,
            "INR": 1.00303503,
            "IQD": 16.3878031,
            "IRR": 455.25439447,
            "ISK": 1.86948018,
            "JEP": 0.01060038,
            "JMD": 1.83507417,
            "JOD": 0.01066461,
            "JPY": 1.63862075,
            "KES": 1.52397267,
            "KGS": 1.03160135,
            "KHR": 60.55786729,
            "KMF": 6.55557644,
            "KPW": 13.55059285,
            "KRW": 17.27249321,
            "KWD": 0.00454201,
            "KYD": 0.01241098,
            "KZT": 5.02787062,
            "LAK": 122.24382302,
            "LBP": 22.71168426,
            "LKR": 2.18613189,
            "LRD": 1.3623149,
            "LSL": 0.21929622,
            "LTL": 0.04562447,
            "LVL": 0.00936829,
            "LYD": 0.02034816,
            "MAD": 0.14586677,
            "MDL": 0.2961892,
            "MGA": 47.88990668,
            "MKD": 0.82216821,
            "MMK": 17.7417107,
            "MNT": 30.13701792,
            "MOP": 0.12023978,
            "MRO": 5.20516557,
            "MTL": 0.01029348,
            "MUR": 0.52886534,
            "MVR": 0.22938358,
            "MWK": 10.23580196,
            "MXN": 0.26403039,
            "MYR": 0.0587308,
            "MZN": 0.78781293,
            "NAD": 0.21926611,
            "NGN": 2.99484676,
            "NIO": 0.42376386,
            "NOK": 0.12419052,
            "NPR": 1.60380824,
            "NZD": 0.0217561,
            "OMR": 0.00579674,
            "PAB": 0.01505471,
            "PEN": 0.04929398,
            "PGK": 0.04704107,
            "PHP": 0.69469261,
            "PKR": 1.57607747,
            "PLN": 0.05731162,
            "PYG": 84.02253791,
            "QAR": 0.05482037,
            "RON": 0.05972579,
            "RSD": 1.639708,
            "RUB": 1,
            "RWF": 11.44823654,
            "SAR": 0.05645326,
            "SBD": 0.11921741,
            "SCR": 0.21180906,
            "SDG": 0.0918431,
            "SEK": 0.12242729,
            "SGD": 0.02044481,
            "SHP": 0.01060038,
            "SLL": 59.58653748,
            "SOS": 9.21108438,
            "SRD": 0.07639501,
            "STD": 326.90133445,
            "SVC": 0.13160631,
            "SYP": 3.3053466,
            "SZL": 0.21928117,
            "THB": 0.52766047,
            "TJS": 0.11847454,
            "TMT": 0.05271105,
            "TND": 0.03030448,
            "TOP": 0.03356101,
            "TRY": 0.04297528,
            "TTD": 0.0991194,
            "TWD": 0.48689518,
            "TZS": 32.95666452,
            "UAH": 0.38333263,
            "UGX": 50.32176882,
            "USD": 0.01505471,
            "UYU": 0.47106304,
            "UZS": 43.64653572,
            "VEF": 0.15012291,
            "VND": 335.99651133,
            "VUV": 1.61787936,
            "WST": 0.03782411,
            "XAF": 8.77444317,
            "XAG": 0.0009252323,
            "XAU": 1.21793e-5,
            "XCD": 0.04069318,
            "XDR": 0.01070878,
            "XOF": 8.79901517,
            "XPD": 2.645e-5,
            "XPF": 1.59303998,
            "XPT": 1.524e-5,
            "YER": 3.75937157,
            "ZAR": 0.21919039,
            "ZMK": 79.08351833,
            "ZMW": 0.13876971,
            "ZWL": 4.85344613
          }
        }
  recorded_at: Sat, 16 Apr 2016 15:54:51 GMT
- request:
    method: get
    uri: http://openexchangerates.org/api/historical/2015-04-16.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=RUB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 16 Apr 2015 23:00:00 GMT
      Etag:
      - '"f2a7dd7118f94f2888d2e96502f034ae"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      strin[...]
[...]
