---
http_interactions:
- request:
    method: get
    uri: https://openexchangerates.org/api/latest.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=RUB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Sun, 03 Jul 2016 16:00:22 GMT
      Etag:
      - '"ab084bdc16d01eb473390be5b82fcf28"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "disclaimer": "Exchange rates provided for informational purposes only and do not constitute financial advice of any kind. Although every attempt is made to ensure quality, no guarantees are made of accuracy, validity, availability, or fitness for any purpose. All usage subject to acceptance of Terms: https://openexchangerates.org/terms/",
          "license": "Data sourced from various providers; resale prohibited; no warranties given of any kind. All usage subject to License Agreement: https://openexchangerates.org/license/",
          "timestamp": 1467561622,
          "base": "RUB",
          "rates": {
            "AED": 0.05753914,
            "AFN": 1.07300104,
            "ALL": 1.92736019,
            "AMD": 7.46937651,
            "ANG": 0.02794471,
            "AOA": 2.59805567,
            "ARS": 0.23570149,
            "AUD": 0.02088922,
            "AWG": 0.02809326,
            "AZN": 0.02434363,
            "BAM": 0.02752051,
            "BBD": 0.03133078,
            "BDT": 1.22598895,
            "BGN": 0.02750721,
            "BHD": 0.00590903,
            "BIF": 25.9370335,
            "BMD": 0.01566539,
            "BND": 0.02103862,
            "BOB": 0.10785043,
            "BRL": 0.05069127,
            "BSD": 0.01566539,
            "BTC": 2.389106e-5,
            "BTN": 1.05485217,
            "BWP": 0.16986593,
            "BYN": 0.0313817,
            "BYR": 313.78558825,
            "BZD": 0.0313488,
            "CAD": 0.02022631,
            "CDF": 14.7746972,
            "CHF": 0.01524562,
            "CLF": 0.00039325,
            "CLP": 10.35302265,
            "CNY": 0.10427292,
            "COP": 45.85578836,
            "CRC": 8.55336677,
            "CUC": 0.01566539,
            "CUP": 0.38737982,
            "CVE": 1.55055427,
            "CZK": 0.38111503,
            "DJF": 2.77763068,
            "DKK": 0.10466246,
            "DOP": 0.7195735,
            "DZD": 1.72616299,
            "EEK": 0.22005764,
            "EGP": 0.1390727,
            "ERN": 0.23500438,
            "ETB": 0.34283241,
            "EUR": 0.01406439,
            "FJD": 0.03253232,
            "FKP": 0.0118011,
            "GBP": 0.0118011,
            "GEL": 0.03624846,
            "GGP": 0.0118011,
            "GHS": 0.06175376,
            "GIP": 0.0118011,
            "GMD": 0.6680917,
            "GNF": 140.85537276,
            "GTQ": 0.11959446,
            "GYD": 3.2133114,
            "HKD": 0.12153988,
            "HNL": 0.35645347,
            "HRK": 0.10569482,
            "HTG": 0.9869389,
            "HUF": 4.4566819,
            "IDR": 205.58947461,
            "ILS": 0.06029522,
            "IMP": 0.0118011,
            "INR": 1.05292866,
            "IQD": 18.28281658,
            "IRR": 476.42374134,
            "ISK": 1.92026378,
            "JEP": 0.0118011,
            "JMD": 1.97980794,
            "JOD": 0.01110081,
            "JPY": 1.60606616,
            "KES": 1.58332173,
            "KGS": 1.0558866,
            "KHR": 63.7514886,
            "KMF": 6.8486445,
            "KPW": 14.09744313,
            "KRW": 17.97582872,
            "KWD": 0.00472606,
            "KYD": 0.01291019,
            "KZT": 5.28528399,
            "LAK": 126.60339206,
            "LBP": 23.62941668,
            "LKR": 2.28453116,
            "LRD": 1.41757623,
            "LSL": 0.2282551,
            "LTL": 0.04815742,
            "LVL": 0.00983,
            "LYD": 0.02158946,
            "MAD": 0.15287253,
            "MDL": 0.30991503,
            "MGA": 50.26188881,
            "MKD": 0.86514635,
            "MMK": 18.35866479,
            "MNT": 31.00442214,
            "MOP": 0.1251198,
            "MRO": 5.56181474,
            "MTL": 0.01071102,
            "MUR": 0.55402286,
            "MVR": 0.23832283,
            "MWK": 11.09606368,
            "MXN": 0.28763039,
            "MYR": 0.06267661,
            "MZN": 0.99475242,
            "NAD": 0.2282833,
            "NGN": 4.42168228,
            "NIO": 0.4468174,
            "NOK": 0.13067274,
            "NPR": 1.68682437,
            "NZD": 0.02183345,
            "OMR": 0.00602984,
            "PAB": 0.01566539,
            "PEN": 0.05147961,
            "PGK": 0.04954572,
            "PHP": 0.73567314,
            "PKR": 1.63977493,
            "PLN": 0.06207589,
            "PYG": 87.855436,
            "QAR": 0.05704257,
            "RON": 0.06353299,
            "RSD": 1.73359622,
            "RUB": 1,
            "RWF": 11.79061621,
            "SAR": 0.0587568,
            "SBD": 0.12378495,
            "SCR": 0.20743768,
            "SDG": 0.09511439,
            "SEK": 0.13215008,
            "SGD": 0.02107816,
            "SHP": 0.0118011,
            "SLL": 86.49646322,
            "SOS": 9.1942798,
            "SRD": 0.1102452,
            "STD": 344.59163299,
            "SVC": 0.13690947,
            "SYP": 3.39244511,
            "SZL": 0.22866867,
            "THB": 0.54941695,
            "TJS": 0.12325531,
            "TMT": 0.05438606,
            "TND": 0.03433039,
            "TOP": 0.03537481,
            "TRY": 0.04546785,
            "TTD": 0.10407006,
            "TWD": 0.50436438,
            "TZS": 34.39127942,
            "UAH": 0.38855186,
            "UGX": 53.15894201,
            "USD": 0.01566539,
            "UYU": 0.47728941,
            "UZS": 46.17374361,
            "VEF": 0.15628579,
            "VND": 349.19203651,
            "VUV": 1.69750192,
            "WST": 0.04042193,
            "XAF": 9.24722555,
            "XAG": 0.000792802,
            "XAU": 1.16237e-5,
            "XCD": 0.04234387,
            "XDR": 0.01121037,
            "XOF": 9.27786712,
            "XPD": 2.629e-5,
            "XPF": 1.67756769,
            "XPT": 1.48e-5,
            "YER": 3.91677104,
            "ZAR": 0.22805725,
            "ZMK": 82.29148431,
            "ZMW": 0.1507747,
            "ZWL": 5.05032268
          }
        }
  recorded_at: Sun, 03 Jul 2016 16:55:59 GMT
- request:
    method: get
    uri: http://openexchangerates.org/api/historical/2015-07-03.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=RUB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 03 Jul 2015 23:00:00 GMT
      Etag:
      - '"be1696136021442847c5bce83575c146"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      strin[...]
[...]
