---
http_interactions:
- request:
    method: get
    uri: https://openexchangerates.org/api/latest.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=RUB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 11 Apr 2016 23:00:12 GMT
      Etag:
      - '"f8bd8187f0bccfd743bda6f977f041be"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "disclaimer": "Exchange rates provided for informational purposes only and do not constitute financial advice of any kind. Although every attempt is made to ensure quality, no guarantees are made of accuracy, validity, availability, or fitness for any purpose. All usage subject to acceptance of Terms: https://openexchangerates.org/terms/",
          "license": "Data sourced from various providers; resale prohibited; no warranties given of any kind. All usage subject to License Agreement: https://openexchangerates.org/license/",
          "timestamp": 1460415612,
          "base": "RUB",
          "rates": {
            "AED": 0.05496707,
            "AFN": 1.02459539,
            "ALL": 1.82469709,
            "AMD": 7.23539111,
            "ANG": 0.02673009,
            "AOA": 2.43631086,
            "ARS": 0.21714284,
            "AUD": 0.01970806,
            "AWG": 0.0268357,
            "AZN": 0.02283025,
            "BAM": 0.02566479,
            "BBD": 0.0299283,
            "BDT": 1.17289864,
            "BGN": 0.02566292,
            "BHD": 0.0056422,
            "BIF": 23.2243614,
            "BMD": 0.01496415,
            "BND": 0.02014755,
            "BOB": 0.10270899,
            "BRL": 0.05255649,
            "BSD": 0.01496415,
            "BTC": 3.5409307e-5,
            "BTN": 0.99475786,
            "BWP": 0.16216931,
            "BYR": 299.23811525,
            "BZD": 0.02985498,
            "CAD": 0.0193375,
            "CDF": 13.84183911,
            "CHF": 0.01428301,
            "CLF": 0.00036815,
            "CLP": 10.18683047,
            "CNY": 0.09668095,
            "COP": 45.89574815,
            "CRC": 8.00938191,
            "CUC": 0.01496415,
            "CUP": 0.0149636,
            "CVE": 1.44525412,
            "CZK": 0.35445194,
            "DJF": 2.65873674,
            "DKK": 0.09765311,
            "DOP": 0.68573189,
            "DZD": 1.61578107,
            "EEK": 0.2053044,
            "EGP": 0.13257785,
            "ERN": 0.22443981,
            "ETB": 0.32255286,
            "EUR": 0.01311693,
            "FJD": 0.03100422,
            "FKP": 0.01051607,
            "GBP": 0.01051607,
            "GEL": 0.03403072,
            "GGP": 0.01051607,
            "GHS": 0.05729564,
            "GIP": 0.01051607,
            "GMD": 0.63787474,
            "GNF": 113.74587548,
            "GTQ": 0.1156226,
            "GYD": 3.08216608,
            "HKD": 0.11604907,
            "HNL": 0.3377738,
            "HRK": 0.09827906,
            "HTG": 0.92917872,
            "HUF": 4.09293303,
            "IDR": 196.32117336,
            "ILS": 0.05631771,
            "IMP": 0.01051607,
            "INR": 0.99335665,
            "IQD": 16.28922572,
            "IRR": 452.44108689,
            "ISK": 1.84686048,
            "JEP": 0.01051607,
            "JMD": 1.82122689,
            "JOD": 0.01060022,
            "JPY": 1.61567032,
            "KES": 1.51319284,
            "KGS": 1.04709921,
            "KHR": 60.17646025,
            "KMF": 6.46784279,
            "KPW": 13.46908212,
            "KRW": 17.16385553,
            "KWD": 0.0045093,
            "KYD": 0.0123382,
            "KZT": 5.04884435,
            "LAK": 121.44118981,
            "LBP": 22.57591489,
            "LKR": 2.16748236,
            "LRD": 1.26714128,
            "LSL": 0.22122746,
            "LTL": 0.04514514,
            "LVL": 0.00924315,
            "LYD": 0.02017355,
            "MAD": 0.14398286,
            "MDL": 0.29375495,
            "MGA": 47.57801709,
            "MKD": 0.80785522,
            "MMK": 17.61392749,
            "MNT": 30.26000611,
            "MOP": 0.11954815,
            "MRO": 5.17759603,
            "MTL": 0.01023156,
            "MUR": 0.52429033,
            "MVR": 0.22810353,
            "MWK": 10.24665197,
            "MXN": 0.2645385,
            "MYR": 0.05821249,
            "MZN": 0.77828548,
            "NAD": 0.22124541,
            "NGN": 2.97954193,
            "NIO": 0.42042319,
            "NOK": 0.1228182,
            "NPR": 1.59168281,
            "NZD": 0.02183243,
            "OMR": 0.00576163,
            "PAB": 0.01496415,
            "PEN": 0.04937721,
            "PGK": 0.0467076,
            "PHP": 0.68991347,
            "PKR": 1.56649215,
            "PLN": 0.05616677,
            "PYG": 83.85243941,
            "QAR": 0.0544945,
            "RON": 0.05861287,
            "RSD": 1.61178415,
            "RUB": 1,
            "RWF": 11.30025288,
            "SAR": 0.05611664,
            "SBD": 0.1187587,
            "SCR": 0.2015273,
            "SDG": 0.09126373,
            "SEK": 0.12154981,
            "SGD": 0.02013042,
            "SHP": 0.01051607,
            "SLL": 59.50494401,
            "SOS": 9.190233,
            "SRD": 0.07593548,
            "STD": 321.76290261,
            "SVC": 0.13085214,
            "SYP": 3.28446637,
            "SZL": 0.22127803,
            "THB": 0.5245216,
            "TJS": 0.11776188,
            "TMT": 0.05239847,
            "TND": 0.0299898,
            "TOP": 0.03353082,
            "TRY": 0.04242299,
            "TTD": 0.09842101,
            "TWD": 0.48481034,
            "TZS": 32.73906727,
            "UAH": 0.38278835,
            "UGX": 50.10296832,
            "USD": 0.01496415,
            "UYU": 0.46547606,
            "UZS": 43.28141022,
            "VEF": 0.14921503,
            "VND": 334.27417934,
            "VUV": 1.61343469,
            "WST": 0.0376722,
            "XAF": 8.61479247,
            "XAG": 0.0009373693,
            "XAU": 1.18591e-5,
            "XCD": 0.0404484,
            "XDR": 0.0105971,
            "XOF": 8.69737542,
            "XPD": 2.735e-5,
            "XPF": 1.56602247,
            "XPT": 1.513e-5,
            "YER": 3.73922695,
            "ZAR": 0.22155921,
            "ZMK": 78.6078081,
            "ZMW": 0.14672537,
            "ZWL": 4.82425125
          }
        }
  recorded_at: Tue, 12 Apr 2016 00:00:43 GMT
- request:
    method: get
    uri: http://openexchangerates.org/api/historical/2015-04-12.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=RUB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Sun, 12 Apr 2015 23:00:00 GMT
      Etag:
      - '"b7f3daf39b99eaf7af47aacb0ecb950c"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      strin[...]
[...]
