---
http_interactions:
- request:
    method: get
    uri: https://openexchangerates.org/api/latest.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=RUB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 16 Mar 2016 04:00:07 GMT
      Etag:
      - '"3d7153387340c310270357b4c687b13a"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "disclaimer": "Exchange rates provided for informational purposes only and do not constitute financial advice of any kind. Although every attempt is made to ensure quality, no guarantees are made of accuracy, validity, availability, or fitness for any purpose. All usage subject to acceptance of Terms: https://openexchangerates.org/terms/",
          "license": "Data sourced from various providers; resale prohibited; no warranties given of any kind. All usage subject to License Agreement: https://openexchangerates.org/license/",
          "timestamp": 1458100807,
          "base": "RUB",
          "rates": {
            "AED": 0.05180906,
            "AFN": 0.96508268,
            "ALL": 1.74861786,
            "AMD": 6.88693416,
            "ANG": 0.02523045,
            "AOA": 2.24083871,
            "ARS": 0.20531168,
            "AUD": 0.01891829,
            "AWG": 0.02529545,
            "AZN": 0.02323174,
            "BAM": 0.02484927,
            "BBD": 0.02821054,
            "BDT": 1.10512916,
            "BGN": 0.02484297,
            "BHD": 0.00531695,
            "BIF": 21.94593396,
            "BMD": 0.01410527,
            "BND": 0.0194468,
            "BOB": 0.09631465,
            "BRL": 0.05291435,
            "BSD": 0.01410527,
            "BTC": 3.4057378e-5,
            "BTN": 0.95002813,
            "BWP": 0.15849795,
            "BYR": 291.41138887,
            "BZD": 0.02813136,
            "CAD": 0.01883866,
            "CDF": 13.11028592,
            "CHF": 0.0139298,
            "CLF": 0.00034702,
            "CLP": 9.68098963,
            "CNY": 0.0919486,
            "COP": 44.59144238,
            "CRC": 7.53253107,
            "CUC": 0.01410527,
            "CUP": 0.01410316,
            "CVE": 1.40215947,
            "CZK": 0.34352374,
            "DJF": 2.50627584,
            "DKK": 0.09475989,
            "DOP": 0.6445363,
            "DZD": 1.55268774,
            "EEK": 0.19880217,
            "EGP": 0.12618216,
            "ERN": 0.21155792,
            "ETB": 0.30133811,
            "EUR": 0.01270741,
            "FJD": 0.02972333,
            "FKP": 0.00998162,
            "GBP": 0.00998162,
            "GEL": 0.03280322,
            "GGP": 0.00998162,
            "GHS": 0.05438721,
            "GIP": 0.00998162,
            "GMD": 0.55605323,
            "GNF": 107.61356303,
            "GTQ": 0.10899654,
            "GYD": 2.90871865,
            "HKD": 0.10946675,
            "HNL": 0.31860325,
            "HRK": 0.09604731,
            "HTG": 0.87397287,
            "HUF": 3.9488456,
            "IDR": 185.57859427,
            "ILS": 0.05492586,
            "IMP": 0.00998162,
            "INR": 0.95030051,
            "IQD": 15.35429344,
            "IRR": 426.07089233,
            "ISK": 1.78453692,
            "JEP": 0.00998162,
            "JMD": 1.71616867,
            "JOD": 0.00999291,
            "JPY": 1.59899195,
            "KES": 1.43171046,
            "KGS": 1.01830471,
            "KHR": 56.48244476,
            "KMF": 6.2391091,
            "KPW": 12.69347514,
            "KRW": 16.82594374,
            "KWD": 0.00424559,
            "KYD": 0.01162785,
            "KZT": 4.85829696,
            "LAK": 114.56241939,
            "LBP": 21.28003583,
            "LKR": 2.04321211,
            "LRD": 1.19427178,
            "LSL": 0.22419678,
            "LTL": 0.04343314,
            "LVL": 0.00887079,
            "LYD": 0.01945355,
            "MAD": 0.1379853,
            "MDL": 0.27820956,
            "MGA": 45.15678144,
            "MKD": 0.78240292,
            "MMK": 17.13134663,
            "MNT": 28.84763169,
            "MOP": 0.11271382,
            "MRO": 4.88957836,
            "MTL": 0.00964239,
            "MUR": 0.50248056,
            "MVR": 0.21496434,
            "MWK": 9.76571437,
            "MXN": 0.2522237,
            "MYR": 0.0583573,
            "MZN": 0.71217519,
            "NAD": 0.22349281,
            "NGN": 2.80820306,
            "NIO": 0.39575062,
            "NOK": 0.12060029,
            "NPR": 1.51942552,
            "NZD": 0.02136846,
            "OMR": 0.00543068,
            "PAB": 0.01410527,
            "PEN": 0.04728952,
            "PGK": 0.04319669,
            "PHP": 0.65983206,
            "PKR": 1.47625492,
            "PLN": 0.05449649,
            "PYG": 80.75794696,
            "QAR": 0.05136161,
            "RON": 0.05683863,
            "RSD": 1.56559601,
            "RUB": 1,
            "RWF": 10.82538342,
            "SAR": 0.05289739,
            "SBD": 0.11235268,
            "SCR": 0.1871259,
            "SDG": 0.0860008,
            "SEK": 0.11751727,
            "SGD": 0.01946704,
            "SHP": 0.00998162,
            "SLL": 57.26740347,
            "SOS": 8.64119633,
            "SRD": 0.0563153,
            "STD": 311.09846934,
            "SVC": 0.12330215,
            "SYP": 3.09938426,
            "SZL": 0.22439555,
            "THB": 0.49460418,
            "TJS": 0.11100285,
            "TMT": 0.0493882,
            "TND": 0.02853965,
            "TOP": 0.03189059,
            "TRY": 0.04083361,
            "TTD": 0.0925177,
            "TWD": 0.4630284,
            "TZS": 30.81395359,
            "UAH": 0.37900837,
            "UGX": 47.40450375,
            "USD": 0.01410527,
            "UYU": 0.45386604,
            "UZS": 40.3526429,
            "VEF": 0.08925229,
            "VND": 314.60680307,
            "VUV": 1.54271709,
            "WST": 0.03614101,
            "XAF": 8.34017568,
            "XAG": 0.0009239799,
            "XAU": 1.14323e-5,
            "XCD": 0.03809862,
            "XDR": 0.01012224,
            "XOF": 8.39754013,
            "XPD": 2.473e-5,
            "XPF": 1.51666706,
            "XPT": 1.47e-5,
            "YER": 3.03274629,
            "ZAR": 0.22437242,
            "ZMK": 74.09605421,
            "ZMW": 0.16057829,
            "ZWL": 4.54645035
          }
        }
  recorded_at: Wed, 16 Mar 2016 04:07:26 GMT
- request:
    method: get
    uri: http://openexchangerates.org/api/historical/2015-03-16.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=RUB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 16 Mar 2015 23:00:00 GMT
      Etag:
      - '"2de4f80ed8df993b0d8ccfba8df64e74"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      strin[...]
[...]
