---
http_interactions:
- request:
    method: get
    uri: https://openexchangerates.org/api/latest.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 17 Mar 2016 18:00:17 GMT
      Etag:
      - '"a058ae32bee4f99714e0616ca863781d"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "disclaimer": "Exchange rates provided for informational purposes only and do not constitute financial advice of any kind. Although every attempt is made to ensure quality, no guarantees are made of accuracy, validity, availability, or fitness for any purpose. All usage subject to acceptance of Terms: https://openexchangerates.org/terms/",
          "license": "Data sourced from various providers; resale prohibited; no warranties given of any kind. All usage subject to License Agreement: https://openexchangerates.org/license/",
          "timestamp": 1458237617,
          "base": "USD",
          "rates": {
            "AED": 3.673012,
            "AFN": 68.42,
            "ALL": 123.239399,
            "AMD": 486.937503,
            "ANG": 1.7887,
            "AOA": 158.860332,
            "ARS": 14.72838,
            "AUD": 1.307684,
            "AWG": 1.793333,
            "AZN": 1.618875,
            "BAM": 1.735434,
            "BBD": 2,
            "BDT": 78.44434,
            "BGN": 1.734444,
            "BHD": 0.377032,
            "BIF": 1562.129988,
            "BMD": 1,
            "BND": 1.358645,
            "BOB": 6.83104,
            "BRL": 3.676734,
            "BSD": 1,
            "BTC": 0.002387364159,
            "BTN": 66.905984,
            "BWP": 11.105813,
            "BYR": 20483.85,
            "BZD": 1.995335,
            "CAD": 1.306674,
            "CDF": 927.77,
            "CHF": 0.970719,
            "CLF": 0.024602,
            "CLP": 673.555101,
            "CNY": 6.48482,
            "COP": 3108.795,
            "CRC": 534.6984,
            "CUC": 1,
            "CUP": 1.000438,
            "CVE": 97.849083,
            "CZK": 23.97618,
            "DJF": 177.728751,
            "DKK": 6.610777,
            "DOP": 45.74926,
            "DZD": 109.81738,
            "EEK": 13.957175,
            "EGP": 8.889312,
            "ERN": 14.9985,
            "ETB": 21.3959,
            "EUR": 0.883459,
            "FJD": 2.088683,
            "FKP": 0.690478,
            "GBP": 0.690478,
            "GEL": 2.3022,
            "GGP": 0.690478,
            "GHS": 3.878544,
            "GIP": 0.690478,
            "GMD": 39.54538,
            "GNF": 7640.650098,
            "GTQ": 7.740649,
            "GYD": 205.905502,
            "HKD": 7.756282,
            "HNL": 22.5947,
            "HRK": 6.688192,
            "HTG": 61.734313,
            "HUF": 275.510202,
            "IDR": 13090.85,
            "ILS": 3.864052,
            "IMP": 0.690478,
            "INR": 66.702609,
            "IQD": 1088.549988,
            "IRR": 30247.5,
            "ISK": 125.103701,
            "JEP": 0.690478,
            "JMD": 121.6676,
            "JOD": 0.708624,
            "JPY": 111.6874,
            "KES": 101.52709,
            "KGS": 72.163001,
            "KHR": 4003.309976,
            "KMF": 437.932218,
            "KPW": 900.09,
            "KRW": 1172.481681,
            "KWD": 0.300796,
            "KYD": 0.824255,
            "KZT": 347.123389,
            "LAK": 8120.212598,
            "LBP": 1508.605008,
            "LKR": 145.183801,
            "LRD": 84.66847,
            "LSL": 15.13995,
            "LTL": 3.06414,
            "LVL": 0.624789,
            "LYD": 1.365405,
            "MAD": 9.686998,
            "MDL": 19.77491,
            "MGA": 3177.04165,
            "MKD": 54.62587,
            "MMK": 1206.665,
            "MNT": 2043.833333,
            "MOP": 7.990196,
            "MRO": 346.365667,
            "MTL": 0.683602,
            "MUR": 35.478525,
            "MVR": 15.218333,
            "MWK": 678.120007,
            "MXN": 17.49139,
            "MYR": 4.057482,
            "MZN": 49.465001,
            "NAD": 15.38321,
            "NGN": 198.983999,
            "NIO": 28.13894,
            "NOK": 8.380289,
            "NPR": 106.921,
            "NZD": 1.459734,
            "OMR": 0.385005,
            "PAB": 1,
            "PEN": 3.357642,
            "PGK": 3.0631,
            "PHP": 46.27402,
            "PKR": 104.5601,
            "PLN": 3.796766,
            "PYG": 5717.526686,
            "QAR": 3.641375,
            "RON": 3.969694,
            "RSD": 109.041679,
            "RUB": 68.62726,
            "RWF": 753.091996,
            "SAR": 3.750185,
            "SBD": 7.965297,
            "SCR": 13.31306,
            "SDG": 6.100765,
            "SEK": 8.206674,
            "SGD": 1.355635,
            "SHP": 0.690478,
            "SLL": 4057.5,
            "SOS": 614.543128,
            "SRD": 3.9925,
            "STD": 21869.525,
            "SVC": 8.745716,
            "SYP": 219.715665,
            "SZL": 15.38621,
            "THB": 34.80549,
            "TJS": 7.8696,
            "TMT": 3.501367,
            "TND": 2.002434,
            "TOP": 2.261303,
            "TRY": 2.856923,
            "TTD": 6.552341,
            "TWD": 32.43558,
            "TZS": 2187.078301,
            "UAH": 26.57809,
            "UGX": 3369.308333,
            "USD": 1,
            "UYU": 32.3053,
            "UZS": 2861.319947,
            "VEF": 6.327581,
            "VND": 22301.233333,
            "VUV": 109.391667,
            "WST": 2.544184,
            "XAF": 582.225243,
            "XAG": 0.062462,
            "XAU": 0.0007905,
            "XCD": 2.70102,
            "XDR": 0.71009,
            "XOF": 587.164543,
            "XPD": 0.001674,
            "XPF": 105.998625,
            "XPT": 0.001044,
            "YER": 215.016001,
            "ZAR": 15.146713,
            "ZMK": 5253.075255,
            "ZMW": 11.35595,
            "ZWL": 322.322775
          }
        }
  recorded_at: Thu, 17 Mar 2016 18:25:49 GMT
- request:
    method: get
    uri: http://openexchangerates.org/api/historical/2015-03-17.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 17 Mar 2015 23:00:00 GMT
      Etag:
      - '"413aa58225a5806099a05f7a24708cab"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      strin[...]
[...]
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=World+expense+trends%3A+http%3A%2F%2Fwww.example.com%2Fdisplay_map%3Futf8%3D%25E2%259C%2593%26country%3D148%26region%3Dworld%26commit%3DSubmit
    headers:
      Authorization:
      - OAuth oauth_consumer_key="Ps5UAcArCyIKYNjWiwCNBTrHI", oauth_nonce="65973b35bb7f1985893d09bcdb353faa",
        oauth_signature="Xhk%2BnlWbKm%2B0T4dy%2F7oO9YTkxNg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1458239150", oauth_token="3767014753-dBYdtNN0vMZ9C8RNVQTS2A5IC1j1p4jtP0xW8Y8",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 17 Mar 2016 18:25:51 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 3be4e10e7f1f51ee5b490344071c3265
      X-Response-Time:
      - '144'
      X-Transaction:
      - e1ede9e0d10510ff
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"Thu Mar 17 18:25:50 +0000 2016","id":710532614436683776,"id_str":"710532614436683776","text":"World
        expense trends: https:\/\/t.co\/iLXTCpmIOs","truncated":false,"source":"\u003ca
        href=\"http:\/\/127.0.0.1:3000\" rel=\"nofollow\"\u003eRamble Map\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":3767014753,"id_str":"3767014753","name":"Steven
        Olson","screen_name":"oSteveOscar","location":"Denver, CO","description":"Current
        Turing student, photographer, traveler, former commercial fisherman. Life-long
        cereal enthusiast.","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":56,"friends_count":84,"listed_count":4,"created_at":"Sat
        Oct 03 05:59:31 +0000 2015","favourites_count":84,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":64,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/676288331215335424\/xFUgQmzk_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/676288331215335424\/xFUgQmzk_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/3767014753\/1455767878","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/iLXTCpmIOs","expanded_url":"http:\/\/www.example.com\/display_map?utf8=%E2%9C%93&country=148&region=world&commit=Submit","display_url":"example.com\/display_map?ut\u2026","indices":[22,45]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"}'
  recorded_at: Thu, 17 Mar 2016 18:25:51 GMT
recorded_with: VCR 3.0.1
