---
http_interactions:
- request:
    method: get
    uri: https://openexchangerates.org/api/latest.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5ef766a931f2b70a28265e02c68b596b"
      Last-Modified:
      - Sat, 10 Sep 2016 19:00:14 GMT
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "disclaimer": "Exchange rates provided for informational purposes only and do not constitute financial advice of any kind. Although every attempt is made to ensure quality, no guarantees are made of accuracy, validity, availability, or fitness for any purpose. All usage subject to acceptance of Terms: https://openexchangerates.org/terms/",
          "license": "Data sourced from various providers; resale prohibited; no warranties given of any kind. All usage subject to License Agreement: https://openexchangerates.org/license/",
          "timestamp": 1473534014,
          "base": "USD",
          "rates": {
            "AED": 3.673012,
            "AFN": 66.782901,
            "ALL": 122.104,
            "AMD": 474.477503,
            "ANG": 1.776325,
            "AOA": 165.574501,
            "ARS": 15.07585,
            "AUD": 1.325725,
            "AWG": 1.79,
            "AZN": 1.65475,
            "BAM": 1.741673,
            "BBD": 2,
            "BDT": 78.527231,
            "BGN": 1.740382,
            "BHD": 0.376999,
            "BIF": 1665.982486,
            "BMD": 1,
            "BND": 1.354924,
            "BOB": 6.930723,
            "BRL": 3.265046,
            "BSD": 1,
            "BTC": 0.001604647058,
            "BTN": 66.594101,
            "BWP": 10.713425,
            "BYN": 1.9436,
            "BYR": 20026.25,
            "BZD": 2.001948,
            "CAD": 1.30305,
            "CDF": 977.439,
            "CHF": 0.975113,
            "CLF": 0.025357,
            "CLP": 670.910505,
            "CNY": 6.680223,
            "COP": 2894.038333,
            "CRC": 551.529802,
            "CUC": 1,
            "CUP": 24.728383,
            "CVE": 98.378734,
            "CZK": 24.04819,
            "DJF": 177.18025,
            "DKK": 6.623478,
            "DOP": 46.099,
            "DZD": 108.892939,
            "EEK": 13.916425,
            "EGP": 8.869813,
            "ERN": 15.4,
            "ETB": 22.08405,
            "EUR": 0.89035,
            "FJD": 2.0393,
            "FKP": 0.75363,
            "GBP": 0.75363,
            "GEL": 2.3073,
            "GGP": 0.75363,
            "GHS": 3.950072,
            "GIP": 0.75363,
            "GMD": 42.55433,
            "GNF": 9148.5525,
            "GTQ": 7.545425,
            "GYD": 205.940332,
            "HKD": 7.756718,
            "HNL": 22.87653,
            "HRK": 6.656948,
            "HTG": 64.837587,
            "HUF": 274.751501,
            "IDR": 13096.466667,
            "ILS": 3.760862,
            "IMP": 0.75363,
            "INR": 66.80315,
            "IQD": 1164.8835,
            "IRR": 30082,
            "ISK": 114.56,
            "JEP": 0.75363,
            "JMD": 127.3465,
            "JOD": 0.70855,
            "JPY": 102.643,
            "KES": 101.2423,
            "KGS": 69.01325,
            "KHR": 4079.785,
            "KMF": 438.916667,
            "KPW": 899.91,
            "KRW": 1101.921667,
            "KWD": 0.301299,
            "KYD": 0.825063,
            "KZT": 338.055298,
            "LAK": 8090.25,
            "LBP": 1509.758333,
            "LKR": 145.544501,
            "LRD": 91.25,
            "LSL": 14.36044,
            "LTL": 3.0344,
            "LVL": 0.623577,
            "LYD": 1.375429,
            "MAD": 9.701754,
            "MDL": 19.75755,
            "MGA": 3035.091667,
            "MKD": 54.91789,
            "MMK": 1222.855,
            "MNT": 2222.833333,
            "MOP": 7.998965,
            "MRO": 355.708333,
            "MTL": 0.683738,
            "MUR": 35.191,
            "MVR": 15.27,
            "MWK": 719.006996,
            "MXN": 18.86246,
            "MYR": 4.091765,
            "MZN": 75.770001,
            "NAD": 14.27124,
            "NGN": 314.837,
            "NIO": 28.93877,
            "NOK": 8.242606,
            "NPR": 106.714101,
            "NZD": 1.365875,
            "OMR": 0.385053,
            "PAB": 1,
            "PEN": 3.383016,
            "PGK": 3.1675,
            "PHP": 47.23614,
            "PKR": 104.3291,
            "PLN": 3.863248,
            "PYG": 5559.483333,
            "QAR": 3.641282,
            "RON": 3.954949,
            "RSD": 109.59826,
            "RUB": 64.66568,
            "RWF": 795.03766,
            "SAR": 3.751002,
            "SBD": 7.780378,
            "SCR": 13.233,
            "SDG": 6.084845,
            "SEK": 8.485844,
            "SGD": 1.357722,
            "SHP": 0.75363,
            "SLL": 5650,
            "SOS": 582.8665,
            "SRD": 7.3575,
            "STD": 21786.9,
            "SVC": 8.756583,
            "SYP": 214.313335,
            "SZL": 14.35774,
            "THB": 34.80923,
            "TJS": 7.8832,
            "TMT": 3.471667,
            "TND": 2.200544,
            "TOP": 2.24545,
            "TRY": 2.968217,
            "TTD": 6.700543,
            "TWD": 31.54087,
            "TZS": 2184.635,
            "UAH": 26.71694,
            "UGX": 3383.778333,
            "USD": 1,
            "UYU": 29.02937,
            "UZS": 2988.925,
            "VEF": 9.97789,
            "VND": 22310.316667,
            "VUV": 105.966666,
            "WST": 2.525,
            "XAF": 585.407054,
            "XAG": 0.05295038,
            "XAU": 0.00075304,
            "XCD": 2.69902,
            "XDR": 0.713234,
            "XOF": 587.198342,
            "XPD": 0.001488,
            "XPF": 106.078501,
            "XPT": 0.000882,
            "YER": 250.129999,
            "ZAR": 14.37896,
            "ZMK": 5253.075255,
            "ZMW": 10.220825,
            "ZWL": 322.387247
          }
        }
  recorded_at: Sat, 10 Sep 2016 19:35:44 GMT
- request:
    method: get
    uri: http://openexchangerates.org/api/historical/2015-09-10.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0206f1954277734615595798742df99a"
      Last-Modified:
      - Thu, 10 Sep 2015 23:00:10 GMT
    body:
      encoding: ASCII-8BIT
      [...]
[...]
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=World+expense+trends%3A+http%3A%2F%2Fwww.example.com%2Fdisplay_map%3Futf8%3D%25E2%259C%2593%26country%3D148%26region%3Dworld%26commit%3DSubmit
    headers:
      Authorization:
      - OAuth oauth_consumer_key="Ps5UAcArCyIKYNjWiwCNBTrHI", oauth_nonce="091fe701b00b038a7fe26043879d8055",
        oauth_signature="wbci6tBwlbvUHxGDK5Ota5pk24w%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1473536145", oauth_token="3767014753-dBYdtNN0vMZ9C8RNVQTS2A5IC1j1p4jtP0xW8Y8",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 10 Sep 2016 19:35:45 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 6d6ba5e7e4b1cc14efa70da77991d304
      X-Response-Time:
      - '135'
      X-Transaction:
      - 00dfcee20020a627
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"Sat Sep 10 19:35:45 +0000 2016","id":774692859752525824,"id_str":"774692859752525824","text":"World
        expense trends: https:\/\/t.co\/iLXTCpmIOs","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/iLXTCpmIOs","expanded_url":"http:\/\/www.example.com\/display_map?utf8=%E2%9C%93&country=148&region=world&commit=Submit","display_url":"example.com\/display_map?ut\u2026","indices":[22,45]}]},"source":"\u003ca
        href=\"http:\/\/127.0.0.1:3000\" rel=\"nofollow\"\u003eRamble Map\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":3767014753,"id_str":"3767014753","name":"Steven
        Olson","screen_name":"oSteveOscar","location":"Denver, CO","description":"Software
        developer, photographer, traveler, former commercial fisherman. Life-long
        cereal enthusiast.","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":99,"friends_count":109,"listed_count":17,"created_at":"Sat
        Oct 03 05:59:31 +0000 2015","favourites_count":176,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":160,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/676288331215335424\/xFUgQmzk_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/676288331215335424\/xFUgQmzk_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/3767014753\/1455767878","profile_link_color":"FAB81E","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"}'
  recorded_at: Sat, 10 Sep 2016 19:35:45 GMT
recorded_with: VCR 3.0.1
