---
http_interactions:
- request:
    method: get
    uri: https://openexchangerates.org/api/latest.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 18 Mar 2016 18:17:23 GMT
      Etag:
      - '"c33773ff1d2fbb47c430f0a3ad6c32e8"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "disclaimer": "Exchange rates provided for informational purposes only and do not constitute financial advice of any kind. Although every attempt is made to ensure quality, no guarantees are made of accuracy, validity, availability, or fitness for any purpose. All usage subject to acceptance of Terms: https://openexchangerates.org/terms/",
          "license": "Data sourced from various providers; resale prohibited; no warranties given of any kind. All usage subject to License Agreement: https://openexchangerates.org/license/",
          "timestamp": 1458325043,
          "base": "USD",
          "rates": {
            "AED": 3.672848,
            "AFN": 68.41,
            "ALL": 122.6109,
            "AMD": 486.640002,
            "ANG": 1.7887,
            "AOA": 158.856999,
            "ARS": 14.74905,
            "AUD": 1.31543,
            "AWG": 1.793333,
            "AZN": 1.606863,
            "BAM": 1.734901,
            "BBD": 2,
            "BDT": 78.24207,
            "BGN": 1.734216,
            "BHD": 0.377038,
            "BIF": 1554.202476,
            "BMD": 1,
            "BND": 1.357448,
            "BOB": 6.820352,
            "BRL": 3.625456,
            "BSD": 1,
            "BTC": 0.002448453924,
            "BTN": 66.589367,
            "BWP": 11.079963,
            "BYR": 20343.175,
            "BZD": 1.991455,
            "CAD": 1.302408,
            "CDF": 926.32925,
            "CHF": 0.968794,
            "CLF": 0.024598,
            "CLP": 673.964701,
            "CNY": 6.47171,
            "COP": 3089.678333,
            "CRC": 533.543204,
            "CUC": 1,
            "CUP": 0.99985,
            "CVE": 97.608317,
            "CZK": 23.97838,
            "DJF": 177.731126,
            "DKK": 6.610293,
            "DOP": 45.64024,
            "DZD": 110.11374,
            "EEK": 13.881475,
            "EGP": 8.876952,
            "ERN": 15.0015,
            "ETB": 21.35482,
            "EUR": 0.886783,
            "FJD": 2.0744,
            "FKP": 0.69031,
            "GBP": 0.69031,
            "GEL": 2.28885,
            "GGP": 0.69031,
            "GHS": 3.847051,
            "GIP": 0.69031,
            "GMD": 39.40177,
            "GNF": 7617.650098,
            "GTQ": 7.732763,
            "GYD": 205.535669,
            "HKD": 7.755602,
            "HNL": 22.56668,
            "HRK": 6.681413,
            "HTG": 61.880425,
            "HUF": 275.062701,
            "IDR": 13104.4,
            "ILS": 3.855993,
            "IMP": 0.69031,
            "INR": 66.4626,
            "IQD": 1088.549988,
            "IRR": 30252.5,
            "ISK": 125.0811,
            "JEP": 0.69031,
            "JMD": 121.4684,
            "JOD": 0.708474,
            "JPY": 111.616799,
            "KES": 101.486969,
            "KGS": 72.057199,
            "KHR": 3990.057476,
            "KMF": 438.904996,
            "KPW": 900.09,
            "KRW": 1163.894982,
            "KWD": 0.300704,
            "KYD": 0.822742,
            "KZT": 345.996093,
            "LAK": 8093.355098,
            "LBP": 1505.965,
            "LKR": 144.8141,
            "LRD": 84.66847,
            "LSL": 15.325025,
            "LTL": 3.031325,
            "LVL": 0.62252,
            "LYD": 1.36265,
            "MAD": 9.685664,
            "MDL": 19.69147,
            "MGA": 3188.09665,
            "MKD": 54.68677,
            "MMK": 1208.634988,
            "MNT": 2044.166667,
            "MOP": 7.977611,
            "MRO": 342.747,
            "MTL": 0.683738,
            "MUR": 35.401025,
            "MVR": 15.286667,
            "MWK": 679.06037,
            "MXN": 17.38047,
            "MYR": 4.054888,
            "MZN": 50.215001,
            "NAD": 15.3071,
            "NGN": 198.805401,
            "NIO": 28.23132,
            "NOK": 8.37534,
            "NPR": 106.4392,
            "NZD": 1.471784,
            "OMR": 0.384985,
            "PAB": 1,
            "PEN": 3.369358,
            "PGK": 3.06285,
            "PHP": 46.44766,
            "PKR": 104.52036,
            "PLN": 3.783793,
            "PYG": 5692.560059,
            "QAR": 3.641486,
            "RON": 3.968466,
            "RSD": 109.01166,
            "RUB": 68.39089,
            "RWF": 752.430123,
            "SAR": 3.750195,
            "SBD": 7.867559,
            "SCR": 13.27801,
            "SDG": 6.088395,
            "SEK": 8.220246,
            "SGD": 1.357184,
            "SHP": 0.69031,
            "SLL": 4056.5,
            "SOS": 613.894753,
            "SRD": 3.9925,
            "STD": 21751,
            "SVC": 8.728876,
            "SYP": 219.695665,
            "SZL": 15.3071,
            "THB": 34.86052,
            "TJS": 7.8696,
            "TMT": 3.5013,
            "TND": 2.004727,
            "TOP": 2.247168,
            "TRY": 2.864073,
            "TTD": 6.56882,
            "TWD": 32.37136,
            "TZS": 2181.491683,
            "UAH": 26.58875,
            "UGX": 3357.795,
            "USD": 1,
            "UYU": 32.25306,
            "UZS": 2860.819947,
            "VEF": 6.32761,
            "VND": 22270.1,
            "VUV": 108.248333,
            "WST": 2.516653,
            "XAF": 582.378486,
            "XAG": 0.0631985,
            "XAU": 0.000798,
            "XCD": 2.70102,
            "XDR": 0.711159,
            "XOF": 586.448286,
            "XPD": 0.001696,
            "XPF": 105.860976,
            "XPT": 0.001031,
            "YER": 214.984,
            "ZAR": 15.30911,
            "ZMK": 5253.075255,
            "ZMW": 11.3368,
            "ZWL": 322.322775
          }
        }
  recorded_at: Fri, 18 Mar 2016 18:30:50 GMT
- request:
    method: get
    uri: http://openexchangerates.org/api/historical/2015-03-18.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 18 Mar 2015 23:00:00 GMT
      Etag:
      - '"92528f77a258f97a43c133d12165c794"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      strin[...]
[...]
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=World+expense+trends%3A+http%3A%2F%2Fwww.example.com%2Fdisplay_map%3Futf8%3D%25E2%259C%2593%26country%3D148%26region%3Dworld%26commit%3DSubmit
    headers:
      Authorization:
      - OAuth oauth_consumer_key="Ps5UAcArCyIKYNjWiwCNBTrHI", oauth_nonce="f45c86b4e39c1c738762a2eda69d163a",
        oauth_signature="UG63tFvJnDKaXPIViJSecmGZSQg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1458325851", oauth_token="3767014753-dBYdtNN0vMZ9C8RNVQTS2A5IC1j1p4jtP0xW8Y8",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 18 Mar 2016 18:30:52 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 8d4b831696cf0ca88c186d9140de1cfe
      X-Response-Time:
      - '120'
      X-Transaction:
      - b803a5dccd3fc58a
      X-Tsa-Request-Body-Time:
      - '1'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"Fri Mar 18 18:30:52 +0000 2016","id":710896265958035456,"id_str":"710896265958035456","text":"World
        expense trends: https:\/\/t.co\/iLXTCpmIOs","truncated":false,"source":"\u003ca
        href=\"http:\/\/127.0.0.1:3000\" rel=\"nofollow\"\u003eRamble Map\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":3767014753,"id_str":"3767014753","name":"Steven
        Olson","screen_name":"oSteveOscar","location":"Denver, CO","description":"Current
        Turing student, photographer, traveler, former commercial fisherman. Life-long
        cereal enthusiast.","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":55,"friends_count":83,"listed_count":4,"created_at":"Sat
        Oct 03 05:59:31 +0000 2015","favourites_count":84,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":64,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/676288331215335424\/xFUgQmzk_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/676288331215335424\/xFUgQmzk_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/3767014753\/1455767878","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/iLXTCpmIOs","expanded_url":"http:\/\/www.example.com\/display_map?utf8=%E2%9C%93&country=148&region=world&commit=Submit","display_url":"example.com\/display_map?ut\u2026","indices":[22,45]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"}'
  recorded_at: Fri, 18 Mar 2016 18:30:52 GMT
recorded_with: VCR 3.0.1
