---
http_interactions:
- request:
    method: get
    uri: https://openexchangerates.org/api/latest.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Sat, 16 Apr 2016 15:00:09 GMT
      Etag:
      - '"deec59725e810ee4c97011ce44ac9101"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "disclaimer": "Exchange rates provided for informational purposes only and do not constitute financial advice of any kind. Although every attempt is made to ensure quality, no guarantees are made of accuracy, validity, availability, or fitness for any purpose. All usage subject to acceptance of Terms: https://openexchangerates.org/terms/",
          "license": "Data sourced from various providers; resale prohibited; no warranties given of any kind. All usage subject to License Agreement: https://openexchangerates.org/license/",
          "timestamp": 1460818809,
          "base": "USD",
          "rates": {
            "AED": 3.673003,
            "AFN": 68.370002,
            "ALL": 123.415601,
            "AMD": 482.8475,
            "ANG": 1.7887,
            "AOA": 165.774168,
            "ARS": 14.08638,
            "AUD": 1.294588,
            "AWG": 1.793333,
            "AZN": 1.52235,
            "BAM": 1.733721,
            "BBD": 2,
            "BDT": 78.35676,
            "BGN": 1.733116,
            "BHD": 0.376973,
            "BIF": 1555.09,
            "BMD": 1,
            "BND": 1.358286,
            "BOB": 6.846927,
            "BRL": 3.528311,
            "BSD": 1,
            "BTC": 0.00232486231,
            "BTN": 66.608801,
            "BWP": 10.800813,
            "BYR": 19936.825,
            "BZD": 1.994525,
            "CAD": 1.282243,
            "CDF": 928.0485,
            "CHF": 0.967803,
            "CLF": 0.024602,
            "CLP": 665.654096,
            "CNY": 6.477365,
            "COP": 2997.006686,
            "CRC": 534.930299,
            "CUC": 1,
            "CUP": 0.999825,
            "CVE": 97.727116,
            "CZK": 23.95489,
            "DJF": 177.645999,
            "DKK": 6.595543,
            "DOP": 45.88361,
            "DZD": 108.88934,
            "EEK": 13.8733,
            "EGP": 8.878635,
            "ERN": 14.9985,
            "ETB": 21.53762,
            "EUR": 0.886245,
            "FJD": 2.0671,
            "FKP": 0.704124,
            "GBP": 0.704124,
            "GEL": 2.2429,
            "GGP": 0.704124,
            "GHS": 3.838133,
            "GIP": 0.704124,
            "GMD": 42.65598,
            "GNF": 7594.222598,
            "GTQ": 7.741107,
            "GYD": 206.184336,
            "HKD": 7.755878,
            "HNL": 22.56479,
            "HRK": 6.647683,
            "HTG": 62.091325,
            "HUF": 275.813198,
            "IDR": 13183.416667,
            "ILS": 3.776462,
            "IMP": 0.704124,
            "INR": 66.626,
            "IQD": 1088.549988,
            "IRR": 30240,
            "ISK": 124.179099,
            "JEP": 0.704124,
            "JMD": 121.893701,
            "JOD": 0.70839,
            "JPY": 108.8444,
            "KES": 101.22897,
            "KGS": 68.523501,
            "KHR": 4022.52,
            "KMF": 435.450232,
            "KPW": 900.09,
            "KRW": 1147.314998,
            "KWD": 0.3017,
            "KYD": 0.824392,
            "KZT": 333.973289,
            "LAK": 8119.972598,
            "LBP": 1508.61,
            "LKR": 145.212499,
            "LRD": 90.49095,
            "LSL": 14.56662,
            "LTL": 3.030578,
            "LVL": 0.622283,
            "LYD": 1.351614,
            "MAD": 9.689113,
            "MDL": 19.67419,
            "MGA": 3181.058317,
            "MKD": 54.61203,
            "MMK": 1178.482488,
            "MNT": 2001.833333,
            "MOP": 7.986855,
            "MRO": 345.75,
            "MTL": 0.683738,
            "MUR": 35.129563,
            "MVR": 15.236667,
            "MWK": 679.907004,
            "MXN": 17.53806,
            "MYR": 3.901158,
            "MZN": 52.330001,
            "NAD": 14.56462,
            "NGN": 198.930899,
            "NIO": 28.14826,
            "NOK": 8.249281,
            "NPR": 106.532,
            "NZD": 1.445136,
            "OMR": 0.385045,
            "PAB": 1,
            "PEN": 3.274323,
            "PGK": 3.124675,
            "PHP": 46.14454,
            "PKR": 104.69,
            "PLN": 3.80689,
            "PYG": 5581.146667,
            "QAR": 3.64141,
            "RON": 3.96725,
            "RSD": 108.91662,
            "RUB": 66.4244,
            "RWF": 760.442243,
            "SAR": 3.749874,
            "SBD": 7.918945,
            "SCR": 14.06929,
            "SDG": 6.100623,
            "SEK": 8.132159,
            "SGD": 1.358034,
            "SHP": 0.704124,
            "SLL": 3958,
            "SOS": 611.840753,
            "SRD": 5.074493,
            "STD": 21714.225,
            "SVC": 8.74187,
            "SYP": 219.555665,
            "SZL": 14.56562,
            "THB": 35.04953,
            "TJS": 7.8696,
            "TMT": 3.5013,
            "TND": 2.012957,
            "TOP": 2.22927,
            "TRY": 2.854607,
            "TTD": 6.583947,
            "TWD": 32.34172,
            "TZS": 2189.126667,
            "UAH": 25.46264,
            "UGX": 3342.593301,
            "USD": 1,
            "UYU": 31.29008,
            "UZS": 2899.194947,
            "VEF": 9.971824,
            "VND": 22318.366667,
            "VUV": 107.466666,
            "WST": 2.512444,
            "XAF": 582.837123,
            "XAG": 0.061458,
            "XAU": 0.000809,
            "XCD": 2.70302,
            "XDR": 0.711324,
            "XOF": 584.469303,
            "XPD": 0.001757,
            "XPF": 105.816725,
            "XPT": 0.001012,
            "YER": 249.714001,
            "ZAR": 14.55959,
            "ZMK": 5253.075255,
            "ZMW": 9.217695,
            "ZWL": 322.387247
          }
        }
  recorded_at: Sat, 16 Apr 2016 15:54:53 GMT
- request:
    method: get
    uri: http://openexchangerates.org/api/historical/2015-04-16.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 16 Apr 2015 23:00:00 GMT
      Etag:
      - '"028a4465d7fe090e1af52594d8c05f17"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      strin[...]
[...]
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=World+expense+trends%3A+http%3A%2F%2Fwww.example.com%2Fdisplay_map%3Futf8%3D%25E2%259C%2593%26country%3D148%26region%3Dworld%26commit%3DSubmit
    headers:
      Authorization:
      - OAuth oauth_consumer_key="Ps5UAcArCyIKYNjWiwCNBTrHI", oauth_nonce="10bb263b5cc1d41fc46cbd8ad291f8ff",
        oauth_signature="yt1iFhm00%2B2OMRs5r9wBVX97mDY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1460822094", oauth_token="3767014753-dBYdtNN0vMZ9C8RNVQTS2A5IC1j1p4jtP0xW8Y8",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 16 Apr 2016 15:54:55 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - a3d42cafbf23247a22fc5a4d38f8aa01
      X-Response-Time:
      - '242'
      X-Transaction:
      - 846f13efa5952f40
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"Sat Apr 16 15:54:55 +0000 2016","id":721366267353956352,"id_str":"721366267353956352","text":"World
        expense trends: https:\/\/t.co\/iLXTCpmIOs","entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/iLXTCpmIOs","expanded_url":"http:\/\/www.example.com\/display_map?utf8=%E2%9C%93&country=148&region=world&commit=Submit","display_url":"example.com\/display_map?ut\u2026","indices":[22,45]}]},"truncated":false,"source":"\u003ca
        href=\"http:\/\/127.0.0.1:3000\" rel=\"nofollow\"\u003eRamble Map\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":3767014753,"id_str":"3767014753","name":"Steven
        Olson","screen_name":"oSteveOscar","location":"Denver, CO","description":"Turing
        student, webdev, photographer, traveler, former commercial fisherman. Life-long
        cereal enthusiast.","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":66,"friends_count":96,"listed_count":12,"created_at":"Sat
        Oct 03 05:59:31 +0000 2015","favourites_count":118,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":86,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/676288331215335424\/xFUgQmzk_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/676288331215335424\/xFUgQmzk_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/3767014753\/1455767878","profile_link_color":"FAB81E","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"}'
  recorded_at: Sat, 16 Apr 2016 15:54:55 GMT
recorded_with: VCR 3.0.1
