---
http_interactions:
- request:
    method: get
    uri: https://openexchangerates.org/api/latest.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=AFN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 09 Mar 2016 04:00:12 GMT
      Etag:
      - '"ff6b7143aea4055c7a907c6f694245d3"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "disclaimer": "Exchange rates provided for informational purposes only and do not constitute financial advice of any kind. Although every attempt is made to ensure quality, no guarantees are made of accuracy, validity, availability, or fitness for any purpose. All usage subject to acceptance of Terms: https://openexchangerates.org/terms/",
          "license": "Data sourced from various providers; resale prohibited; no warranties given of any kind. All usage subject to License Agreement: https://openexchangerates.org/license/",
          "timestamp": 1457496012,
          "base": "AFN",
          "rates": {
            "AED": 0.05357841,
            "AFN": 1,
            "ALL": 1.83093357,
            "AMD": 7.1578773,
            "ANG": 0.02609263,
            "AOA": 2.31571111,
            "ARS": 0.22524361,
            "AUD": 0.0196586,
            "AWG": 0.02616095,
            "AZN": 0.02376204,
            "BAM": 0.02596338,
            "BBD": 0.02917578,
            "BDT": 1.14473622,
            "BGN": 0.02596362,
            "BHD": 0.00549982,
            "BIF": 22.61622802,
            "BMD": 0.01458789,
            "BND": 0.02020481,
            "BOB": 0.09980201,
            "BRL": 0.05485844,
            "BSD": 0.01458789,
            "BTC": 3.5512836e-5,
            "BTN": 0.98237829,
            "BWP": 0.16316284,
            "BYR": 308.49306175,
            "BZD": 0.02909275,
            "CAD": 0.01957867,
            "CDF": 13.54485737,
            "CHF": 0.01454624,
            "CLF": 0.00035883,
            "CLP": 9.94568031,
            "CNY": 0.09503982,
            "COP": 46.37806766,
            "CRC": 7.80228867,
            "CUC": 0.01458789,
            "CUP": 0.01459246,
            "CVE": 1.46235347,
            "CZK": 0.35921502,
            "DJF": 2.59277893,
            "DKK": 0.09910847,
            "DOP": 0.66841253,
            "DZD": 1.58518682,
            "EEK": 0.20754266,
            "EGP": 0.11421073,
            "ERN": 0.21884026,
            "ETB": 0.31136921,
            "EUR": 0.0132922,
            "FJD": 0.03058814,
            "FKP": 0.01028424,
            "GBP": 0.01028424,
            "GEL": 0.03591685,
            "GGP": 0.01028424,
            "GHS": 0.05632362,
            "GIP": 0.01028424,
            "GMD": 0.5760134,
            "GNF": 111.46294422,
            "GTQ": 0.11222389,
            "GYD": 3.00894719,
            "HKD": 0.11329348,
            "HNL": 0.32981837,
            "HRK": 0.10058767,
            "HTG": 0.90226183,
            "HUF": 4.11852356,
            "IDR": 192.06272233,
            "ILS": 0.05700863,
            "IMP": 0.01028424,
            "INR": 0.98372267,
            "IQD": 15.87964925,
            "IRR": 440.70749991,
            "ISK": 1.87817646,
            "JEP": 0.01028424,
            "JMD": 1.76909842,
            "JOD": 0.01033698,
            "JPY": 1.64395911,
            "KES": 1.48280709,
            "KGS": 1.06304372,
            "KHR": 58.30762119,
            "KMF": 6.48880149,
            "KPW": 13.13041537,
            "KRW": 17.69489362,
            "KWD": 0.00438492,
            "KYD": 0.01201411,
            "KZT": 5.03997785,
            "LAK": 118.54379597,
            "LBP": 21.97641536,
            "LKR": 2.11407435,
            "LRD": 1.23513446,
            "LSL": 0.22504066,
            "LTL": 0.04513359,
            "LVL": 0.00923231,
            "LYD": 0.02027651,
            "MAD": 0.14347568,
            "MDL": 0.29118861,
            "MGA": 46.87393446,
            "MKD": 0.81771799,
            "MMK": 17.82964902,
            "MNT": 29.81521916,
            "MOP": 0.116658,
            "MRO": 5.00123009,
            "MTL": 0.00997231,
            "MUR": 0.52220877,
            "MVR": 0.22202771,
            "MWK": 10.50073934,
            "MXN": 0.26133347,
            "MYR": 0.0602413,
            "MZN": 0.72472646,
            "NAD": 0.22511786,
            "NGN": 2.90307798,
            "NIO": 0.41354572,
            "NOK": 0.12508553,
            "NPR": 1.57129098,
            "NZD": 0.02166357,
            "OMR": 0.00561593,
            "PAB": 0.01458789,
            "PEN": 0.05046,
            "PGK": 0.04474143,
            "PHP": 0.68523557,
            "PKR": 1.52732599,
            "PLN": 0.05742509,
            "PYG": 83.11553368,
            "QAR": 0.05312201,
            "RON": 0.05928481,
            "RSD": 1.63932017,
            "RUB": 1.05479995,
            "RWF": 11.1325417,
            "SAR": 0.05470661,
            "SBD": 0.11607219,
            "SCR": 0.19586714,
            "SDG": 0.08898169,
            "SEK": 0.12408872,
            "SGD": 0.02023322,
            "SHP": 0.01028424,
            "SLL": 59.43836442,
            "SOS": 8.94471883,
            "SRD": 0.05824216,
            "STD": 324.76293728,
            "SVC": 0.12751458,
            "SYP": 3.20695347,
            "SZL": 0.22480277,
            "THB": 0.51604346,
            "TJS": 0.11480087,
            "TMT": 0.05107513,
            "TND": 0.02976478,
            "TOP": 0.03290516,
            "TRY": 0.04256194,
            "TTD": 0.09540503,
            "TWD": 0.47942902,
            "TZS": 31.88400078,
            "UAH": 0.38307453,
            "UGX": 49.1141245,
            "USD": 0.01458789,
            "UYU": 0.46958627,
            "UZS": 41.74062529,
            "VEF": 0.09215186,
            "VND": 325.03184074,
            "VUV": 1.64279717,
            "WST": 0.0370813,
            "XAF": 8.71514107,
            "XAG": 0.0009534135,
            "XAU": 1.16484e-5,
            "XCD": 0.03940219,
            "XDR": 0.01049396,
            "XOF": 8.73795333,
            "XPD": 2.572e-5,
            "XPF": 1.58320127,
            "XPT": 1.475e-5,
            "YER": 3.13455862,
            "ZAR": 0.2251288,
            "ZMK": 76.63129251,
            "ZMW": 0.16594694,
            "ZWL": 4.70295022
          }
        }
  recorded_at: Wed, 09 Mar 2016 04:41:01 GMT
- request:
    method: get
    uri: http://openexchangerates.org/api/historical/2015-03-09.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=AFN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 09 Mar 2015 23:00:00 GMT
      Etag:
      - '"bdf4d1a632c792860afb452502f1e1ca"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      strin[...]
[...]
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=View+my+RambleMap%3A+http%3A%2F%2Fwww.example.com%2Fdisplay_map%3Futf8%3D%25E2%259C%2593%26country%3D2%26region%3Dworld%26commit%3DSubmit
    headers:
      Authorization:
      - OAuth oauth_consumer_key="Ps5UAcArCyIKYNjWiwCNBTrHI", oauth_nonce="de95e4350ecd13833fa93183dd4d6ab9",
        oauth_signature="wDLE7RrWUwhzAUh%2FpRzk01ivCA4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1457498462", oauth_token="3767014753-dBYdtNN0vMZ9C8RNVQTS2A5IC1j1p4jtP0xW8Y8",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 09 Mar 2016 04:41:02 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - b8cd27093c2b141890e502411ee1a11a
      X-Response-Time:
      - '126'
      X-Transaction:
      - cc483ef1ff4d7312
      X-Tsa-Request-Body-Time:
      - '3'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"Wed Mar 09 04:41:02 +0000 2016","id":707425943187423233,"id_str":"707425943187423233","text":"View
        my RambleMap: https:\/\/t.co\/olxTjcXA05","truncated":false,"source":"\u003ca
        href=\"http:\/\/127.0.0.1:3000\" rel=\"nofollow\"\u003eRamble Map\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":3767014753,"id_str":"3767014753","name":"Steven
        Olson","screen_name":"oSteveOscar","location":"Denver, CO","description":"Current
        Turing student, photographer, traveler, former commercial fisherman. Life-long
        cereal enthusiast.","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":52,"friends_count":78,"listed_count":3,"created_at":"Sat
        Oct 03 05:59:31 +0000 2015","favourites_count":74,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":60,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/676288331215335424\/xFUgQmzk_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/676288331215335424\/xFUgQmzk_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/3767014753\/1455767878","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/olxTjcXA05","expanded_url":"http:\/\/www.example.com\/display_map?utf8=%E2%9C%93&country=2&region=world&commit=Submit","display_url":"example.com\/display_map?ut\u2026","indices":[19,42]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"}'
  recorded_at: Wed, 09 Mar 2016 04:41:02 GMT
recorded_with: VCR 3.0.1
