---
http_interactions:
- request:
    method: get
    uri: https://openexchangerates.org/api/latest.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=GBP
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 16 Mar 2016 04:00:07 GMT
      Etag:
      - '"bdd1987201ca5ef1a33bdb6a3d5db299"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "disclaimer": "Exchange rates provided for informational purposes only and do not constitute financial advice of any kind. Although every attempt is made to ensure quality, no guarantees are made of accuracy, validity, availability, or fitness for any purpose. All usage subject to acceptance of Terms: https://openexchangerates.org/terms/",
          "license": "Data sourced from various providers; resale prohibited; no warranties given of any kind. All usage subject to License Agreement: https://openexchangerates.org/license/",
          "timestamp": 1458100807,
          "base": "GBP",
          "rates": {
            "AED": 5.19044389,
            "AFN": 96.68594026,
            "ALL": 175.18370753,
            "AMD": 689.96130301,
            "ANG": 2.52769016,
            "AOA": 224.49641067,
            "ARS": 20.5689661,
            "AUD": 1.89531154,
            "AWG": 2.53420184,
            "AZN": 2.3274505,
            "BAM": 2.4895019,
            "BBD": 2.82624793,
            "BDT": 110.71637048,
            "BGN": 2.48887024,
            "BHD": 0.53267425,
            "BIF": 2198.63365044,
            "BMD": 1.41312396,
            "BND": 1.94825988,
            "BOB": 9.64919622,
            "BRL": 5.30117628,
            "BSD": 1.41312396,
            "BTC": 0.003412007776,
            "BTN": 95.17771306,
            "BWP": 15.87897441,
            "BYR": 29194.7878336,
            "BZD": 2.81831465,
            "CAD": 1.88733445,
            "CDF": 1313.4422004,
            "CHF": 1.3955447,
            "CLF": 0.03476568,
            "CLP": 969.88123682,
            "CNY": 9.21178771,
            "COP": 4467.35353959,
            "CRC": 754.6398484,
            "CUC": 1.41312396,
            "CUP": 1.412912,
            "CVE": 140.47408472,
            "CZK": 34.41561672,
            "DJF": 251.08899007,
            "DKK": 9.49343463,
            "DOP": 64.57228977,
            "DZD": 155.55462431,
            "EEK": 19.91681646,
            "EGP": 12.64144664,
            "ERN": 21.19473979,
            "ETB": 30.18928796,
            "EUR": 1.27308055,
            "FJD": 2.97780548,
            "FKP": 1,
            "GBP": 1,
            "GEL": 3.28636109,
            "GGP": 1,
            "GHS": 5.44873328,
            "GIP": 1,
            "GMD": 55.70769248,
            "GNF": 10781.1680007,
            "GTQ": 10.91972043,
            "GYD": 291.40736125,
            "HKD": 10.96682833,
            "HNL": 31.91897995,
            "HRK": 9.62241328,
            "HTG": 87.55818538,
            "HUF": 395.61154353,
            "IDR": 18592.0245163,
            "ILS": 5.50269765,
            "IMP": 1,
            "INR": 95.20500189,
            "IQD": 1538.25607502,
            "IRR": 42685.5290453,
            "ISK": 178.78222629,
            "JEP": 1,
            "JMD": 171.93281443,
            "JOD": 1.0011305,
            "JPY": 160.19356972,
            "KES": 143.43462465,
            "KGS": 102.01794102,
            "KHR": 5658.64291488,
            "KMF": 625.05953209,
            "KPW": 1271.68438724,
            "KRW": 1685.69203648,
            "KWD": 0.42534042,
            "KYD": 1.1649257,
            "KZT": 486.72411016,
            "LAK": 11477.3329235,
            "LBP": 2131.92124519,
            "LKR": 204.69736678,
            "LRD": 119.64704403,
            "LSL": 22.46095256,
            "LTL": 4.35130968,
            "LVL": 0.88871225,
            "LYD": 1.94893677,
            "MAD": 13.82393323,
            "MDL": 27.87217446,
            "MGA": 4523.99152408,
            "MKD": 78.38433298,
            "MMK": 1716.28855002,
            "MNT": 2890.07402933,
            "MOP": 11.29213229,
            "MRO": 489.8580093,
            "MTL": 0.96601437,
            "MUR": 50.34056288,
            "MVR": 21.53600922,
            "MWK": 978.36930864,
            "MXN": 25.26880444,
            "MYR": 5.84647397,
            "MZN": 71.3486304,
            "NAD": 22.39042637,
            "NGN": 281.33729715,
            "NIO": 39.64792016,
            "NOK": 12.0822311,
            "NPR": 152.22227875,
            "NZD": 2.14077965,
            "OMR": 0.54406827,
            "PAB": 1.41312396,
            "PEN": 4.73765778,
            "PGK": 4.32762149,
            "PHP": 66.1046814,
            "PKR": 147.89727154,
            "PLN": 5.45968216,
            "PYG": 8090.66226479,
            "QAR": 5.14561677,
            "RON": 5.69432716,
            "RSD": 156.84782775,
            "RUB": 100.18410038,
            "RWF": 1084.53129928,
            "SAR": 5.29947771,
            "SBD": 11.25595208,
            "SCR": 18.74703951,
            "SDG": 8.61591291,
            "SEK": 11.77336177,
            "SGD": 1.95028771,
            "SHP": 1,
            "SLL": 5737.28329744,
            "SOS": 865.71048058,
            "SRD": 5.64189743,
            "STD": 31167.1202795,
            "SVC": 12.35291499,
            "SYP": 310.50902421,
            "SZL": 22.4808663,
            "THB": 49.55147445,
            "TJS": 11.12072035,
            "TMT": 4.94791225,
            "TND": 2.85921894,
            "TOP": 3.19493056,
            "TRY": 4.090878,
            "TTD": 9.26880303,
            "TWD": 46.38808341,
            "TZS": 3087.06821997,
            "UAH": 37.97061267,
            "UGX": 4749.17756185,
            "USD": 1.41312396,
            "UYU": 45.47016047,
            "UZS": 4042.69322633,
            "VEF": 8.94166059,
            "VND": 31518.5995376,
            "VUV": 154.55572372,
            "WST": 3.62075427,
            "XAF": 835.5529978,
            "XAG": 0.0925680984,
            "XAU": 0.001145337,
            "XCD": 3.81687609,
            "XDR": 1.01408743,
            "XOF": 841.30000339,
            "XPD": 0.00247721,
            "XPF": 151.9459254,
            "XPT": 0.00147248,
            "YER": 303.83295886,
            "ZAR": 22.47854878,
            "ZMK": 7423.24653219,
            "ZMW": 16.08739183,
            "ZWL": 455.48203778
          }
        }
  recorded_at: Wed, 16 Mar 2016 04:07:31 GMT
- request:
    method: get
    uri: http://openexchangerates.org/api/historical/2015-03-16.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=GBP
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 16 Mar 2015 23:00:00 GMT
      Etag:
      - '"5c4419d2e4764d98529e2c040833cc96"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      strin[...]
[...]
