---
http_interactions:
- request:
    method: get
    uri: https://openexchangerates.org/api/latest.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=GBP
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Sun, 03 Jul 2016 16:00:22 GMT
      Etag:
      - '"6548aaad5e41256dfac35c21c8d8c758"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "disclaimer": "Exchange rates provided for informational purposes only and do not constitute financial advice of any kind. Although every attempt is made to ensure quality, no guarantees are made of accuracy, validity, availability, or fitness for any purpose. All usage subject to acceptance of Terms: https://openexchangerates.org/terms/",
          "license": "Data sourced from various providers; resale prohibited; no warranties given of any kind. All usage subject to License Agreement: https://openexchangerates.org/license/",
          "timestamp": 1467561622,
          "base": "GBP",
          "rates": {
            "AED": 4.87574387,
            "AFN": 90.92381356,
            "ALL": 163.3203805,
            "AMD": 632.93899164,
            "ANG": 2.36797496,
            "AOA": 220.15368175,
            "ARS": 19.97284034,
            "AUD": 1.77010791,
            "AWG": 2.38056318,
            "AZN": 2.06282697,
            "BAM": 2.33202889,
            "BBD": 2.65490367,
            "BDT": 103.88768165,
            "BGN": 2.33090188,
            "BHD": 0.50071882,
            "BIF": 2197.84875147,
            "BMD": 1.32745184,
            "BND": 1.78276782,
            "BOB": 9.13901474,
            "BRL": 4.29546954,
            "BSD": 1.32745184,
            "BTC": 0.002024477372,
            "BTN": 89.3859168,
            "BWP": 14.39407532,
            "BYN": 2.65921789,
            "BYR": 26589.5197014,
            "BZD": 2.65643024,
            "CAD": 1.71393413,
            "CDF": 1251.97624392,
            "CHF": 1.29188144,
            "CLF": 0.03332302,
            "CLP": 877.29299915,
            "CNY": 8.83586456,
            "COP": 3885.72144087,
            "CRC": 724.79400868,
            "CUC": 1.32745184,
            "CUP": 32.82573743,
            "CVE": 131.39065315,
            "CZK": 32.29487219,
            "DJF": 235.37048384,
            "DKK": 8.86887298,
            "DOP": 60.97511957,
            "DZD": 146.27136036,
            "EEK": 18.64721374,
            "EGP": 11.78472315,
            "ERN": 19.91376873,
            "ETB": 29.05088521,
            "EUR": 1.19178626,
            "FJD": 2.75671923,
            "FKP": 1,
            "GBP": 1,
            "GEL": 3.07161735,
            "GGP": 1,
            "GHS": 5.23288151,
            "GIP": 1,
            "GMD": 56.6126615,
            "GNF": 11935.7830612,
            "GTQ": 10.13417883,
            "GYD": 272.28913627,
            "HKD": 10.29902977,
            "HNL": 30.20510458,
            "HRK": 8.95635338,
            "HTG": 83.63109184,
            "HUF": 377.64969342,
            "IDR": 17421.2124149,
            "ILS": 5.10928778,
            "IMP": 1,
            "INR": 89.22292297,
            "IQD": 1549.24677861,
            "IRR": 40371.1289845,
            "ISK": 162.71904615,
            "JEP": 1,
            "JMD": 167.76469058,
            "JOD": 0.94065892,
            "JPY": 136.09461147,
            "KES": 134.16729743,
            "KGS": 89.47357243,
            "KHR": 5402.16480846,
            "KMF": 580.33948917,
            "KPW": 1194.58718239,
            "KRW": 1523.23328373,
            "KWD": 0.40047629,
            "KYD": 1.09398226,
            "KZT": 447.86366273,
            "LAK": 10728.1006952,
            "LBP": 2002.3062365,
            "LKR": 193.58628503,
            "LRD": 120.12237778,
            "LSL": 19.34184938,
            "LTL": 4.08075686,
            "LVL": 0.83297337,
            "LYD": 1.82944501,
            "MAD": 12.95409141,
            "MDL": 26.26153722,
            "MGA": 4259.08497019,
            "MKD": 73.31065161,
            "MMK": 1555.67399376,
            "MNT": 2627.2484273,
            "MOP": 10.60238437,
            "MRO": 471.29628725,
            "MTL": 0.90762926,
            "MUR": 46.9467121,
            "MVR": 20.19496683,
            "MWK": 940.25670662,
            "MXN": 24.37318388,
            "MYR": 5.3110817,
            "MZN": 84.29319296,
            "NAD": 19.34423879,
            "NGN": 374.68390053,
            "NIO": 37.86235121,
            "NOK": 11.07292888,
            "NPR": 142.93788986,
            "NZD": 1.85012007,
            "OMR": 0.51095612,
            "PAB": 1.32745184,
            "PEN": 4.36227223,
            "PGK": 4.1983983,
            "PHP": 62.33936837,
            "PKR": 138.95102101,
            "PLN": 5.26017791,
            "PYG": 7444.68176333,
            "QAR": 4.83366498,
            "RON": 5.38364951,
            "RSD": 146.90123626,
            "RUB": 84.73786145,
            "RWF": 999.11160286,
            "SAR": 4.97892537,
            "SBD": 10.4892722,
            "SCR": 17.57782518,
            "SDG": 8.05978976,
            "SEK": 11.19811555,
            "SGD": 1.78611831,
            "SHP": 1,
            "SLL": 7329.5253165,
            "SOS": 779.10360762,
            "SRD": 9.3419423,
            "STD": 29199.9580525,
            "SVC": 11.60141533,
            "SYP": 287.46854404,
            "SZL": 19.37689411,
            "THB": 46.55641737,
            "TJS": 10.44439105,
            "TMT": 4.60855835,
            "TND": 2.90908415,
            "TOP": 2.99758537,
            "TRY": 3.85284798,
            "TTD": 8.81867406,
            "TWD": 42.73875881,
            "TZS": 2914.2434706,
            "UAH": 32.9250534,
            "UGX": 4504.57506276,
            "USD": 1.32745184,
            "UYU": 40.44448397,
            "UZS": 3912.66428876,
            "VEF": 13.24332325,
            "VND": 29589.786409,
            "VUV": 143.84268236,
            "WST": 3.42526778,
            "XAF": 783.59011739,
            "XAG": 0.0671803463,
            "XAU": 0.0009849693,
            "XCD": 3.58812886,
            "XDR": 0.94994312,
            "XOF": 786.18661849,
            "XPD": 0.00222746,
            "XPF": 142.15349857,
            "XPT": 0.00125444,
            "YER": 331.89880171,
            "ZAR": 19.32508366,
            "ZMK": 6973.20439572,
            "ZMW": 12.77632569,
            "ZWL": 427.95354317
          }
        }
  recorded_at: Sun, 03 Jul 2016 16:56:08 GMT
- request:
    method: get
    uri: http://openexchangerates.org/api/historical/2015-07-03.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=GBP
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 03 Jul 2015 23:00:00 GMT
      Etag:
      - '"19a1d1ec00b84c4eaae872a0876e465f"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      strin[...]
[...]
