---
http_interactions:
- request:
    method: get
    uri: https://openexchangerates.org/api/latest.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=GBP
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 09 Mar 2016 14:00:14 GMT
      Etag:
      - '"8a4e88eb5257739290ee06a16b8ce62e"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "disclaimer": "Exchange rates provided for informational purposes only and do not constitute financial advice of any kind. Although every attempt is made to ensure quality, no guarantees are made of accuracy, validity, availability, or fitness for any purpose. All usage subject to acceptance of Terms: https://openexchangerates.org/terms/",
          "license": "Data sourced from various providers; resale prohibited; no warranties given of any kind. All usage subject to License Agreement: https://openexchangerates.org/license/",
          "timestamp": 1457532014,
          "base": "GBP",
          "rates": {
            "AED": 5.2171801,
            "AFN": 97.36884254,
            "ALL": 178.45485523,
            "AMD": 696.98973757,
            "ANG": 2.54068043,
            "AOA": 225.49231418,
            "ARS": 21.86909821,
            "AUD": 1.89998352,
            "AWG": 2.54726117,
            "AZN": 2.32694482,
            "BAM": 2.52957001,
            "BBD": 2.84081225,
            "BDT": 111.34891708,
            "BGN": 2.53125746,
            "BHD": 0.5354718,
            "BIF": 2211.20657818,
            "BMD": 1.42040612,
            "BND": 1.96291604,
            "BOB": 9.71060362,
            "BRL": 5.30109201,
            "BSD": 1.42040612,
            "BTC": 0.003453690313,
            "BTN": 95.50801251,
            "BWP": 15.85863976,
            "BYR": 29895.5717419,
            "BZD": 2.83146597,
            "CAD": 1.90304024,
            "CDF": 1317.42667864,
            "CHF": 1.42122286,
            "CLF": 0.03493915,
            "CLP": 965.30287888,
            "CNY": 9.25417315,
            "COP": 4529.43367414,
            "CRC": 760.56768519,
            "CUC": 1.42040612,
            "CUP": 1.42028255,
            "CVE": 142.60072668,
            "CZK": 35.01757042,
            "DJF": 252.46298564,
            "DKK": 9.66030419,
            "DOP": 64.91741759,
            "DZD": 154.55314023,
            "EEK": 20.21756361,
            "EGP": 11.12525425,
            "ERN": 21.30822245,
            "ETB": 30.29660921,
            "EUR": 1.2960311,
            "FJD": 2.98434428,
            "FKP": 1,
            "GBP": 1,
            "GEL": 3.45346892,
            "GGP": 1,
            "GHS": 5.48067111,
            "GIP": 1,
            "GMD": 56.27191687,
            "GNF": 10841.5481546,
            "GTQ": 10.9248662,
            "GYD": 292.97770531,
            "HKD": 11.03082849,
            "HNL": 32.10159029,
            "HRK": 9.79491466,
            "HTG": 87.8088318,
            "HUF": 400.76020136,
            "IDR": 18654.0515664,
            "ILS": 5.54694442,
            "IMP": 1,
            "INR": 95.47653063,
            "IQD": 1546.18306762,
            "IRR": 42911.1791643,
            "ISK": 182.78354147,
            "JEP": 1,
            "JMD": 172.19114689,
            "JOD": 1.00734634,
            "JPY": 160.19539107,
            "KES": 144.24185823,
            "KGS": 103.28326875,
            "KHR": 5673.61702016,
            "KMF": 632.05369277,
            "KPW": 1278.23767372,
            "KRW": 1720.67761894,
            "KWD": 0.4271843,
            "KYD": 1.16979961,
            "KZT": 489.35333597,
            "LAK": 11527.6644021,
            "LBP": 2142.61159279,
            "LKR": 205.79383657,
            "LRD": 120.23956286,
            "LSL": 21.83146455,
            "LTL": 4.39560015,
            "LVL": 0.89920514,
            "LYD": 1.97394549,
            "MAD": 13.99210538,
            "MDL": 28.31826756,
            "MGA": 4556.20118632,
            "MKD": 79.72820529,
            "MMK": 1736.05228799,
            "MNT": 2903.0733796,
            "MOP": 11.35490551,
            "MRO": 486.70121047,
            "MTL": 0.97118564,
            "MUR": 50.85144398,
            "MVR": 21.57123479,
            "MWK": 1017.80862584,
            "MXN": 25.33761633,
            "MYR": 5.84723106,
            "MZN": 70.78593912,
            "NAD": 21.83505108,
            "NGN": 282.60826478,
            "NIO": 40.22862857,
            "NOK": 12.16279985,
            "NPR": 152.65104741,
            "NZD": 2.09943979,
            "OMR": 0.54675409,
            "PAB": 1.42040612,
            "PEN": 4.91429696,
            "PGK": 4.32822603,
            "PHP": 66.57599741,
            "PKR": 148.68035891,
            "PLN": 5.5893407,
            "PYG": 8104.9651063,
            "QAR": 5.17222992,
            "RON": 5.77780587,
            "RSD": 159.78182562,
            "RUB": 101.95939343,
            "RWF": 1079.96958342,
            "SAR": 5.32677579,
            "SBD": 11.30181499,
            "SCR": 19.06754173,
            "SDG": 8.66065361,
            "SEK": 12.03790212,
            "SGD": 1.96522278,
            "SHP": 1,
            "SLL": 5787.4447462,
            "SOS": 870.18766406,
            "SRD": 5.67097144,
            "STD": 31653.7504403,
            "SVC": 12.41081696,
            "SYP": 312.27155182,
            "SZL": 21.83860209,
            "THB": 50.16911355,
            "TJS": 11.17802802,
            "TMT": 4.97336312,
            "TND": 2.89713987,
            "TOP": 3.20265502,
            "TRY": 4.13302814,
            "TTD": 9.29540044,
            "TWD": 46.64437576,
            "TZS": 3103.34827648,
            "UAH": 37.07782689,
            "UGX": 4773.66301859,
            "USD": 1.42040612,
            "UYU": 45.68628342,
            "UZS": 4064.2363712,
            "VEF": 8.97271968,
            "VND": 31648.6843247,
            "VUV": 159.95725856,
            "WST": 3.61146069,
            "XAF": 849.39363005,
            "XAG": 0.0925060793,
            "XAU": 0.0011349045,
            "XCD": 3.83654535,
            "XDR": 1.02178477,
            "XOF": 851.61145217,
            "XPD": 0.00250418,
            "XPF": 154.30511034,
            "XPT": 0.00143603,
            "YER": 305.21686761,
            "ZAR": 21.84505074,
            "ZMK": 7461.50025425,
            "ZMW": 16.15685403,
            "ZWL": 457.82924304
          }
        }
  recorded_at: Wed, 09 Mar 2016 14:48:24 GMT
- request:
    method: get
    uri: http://openexchangerates.org/api/historical/2015-03-09.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=GBP
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 09 Mar 2015 23:00:00 GMT
      Etag:
      - '"6877317154f74912667d037646dc7ae2"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      strin[...]
[...]
