---
http_interactions:
- request:
    method: get
    uri: https://openexchangerates.org/api/latest.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=GBP
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 17 Mar 2016 18:00:17 GMT
      Etag:
      - '"d044e194de98b30ec1476c9c52aa6581"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "disclaimer": "Exchange rates provided for informational purposes only and do not constitute financial advice of any kind. Although every attempt is made to ensure quality, no guarantees are made of accuracy, validity, availability, or fitness for any purpose. All usage subject to acceptance of Terms: https://openexchangerates.org/terms/",
          "license": "Data sourced from various providers; resale prohibited; no warranties given of any kind. All usage subject to License Agreement: https://openexchangerates.org/license/",
          "timestamp": 1458237617,
          "base": "GBP",
          "rates": {
            "AED": 5.31952068,
            "AFN": 99.0907748,
            "ALL": 178.48417908,
            "AMD": 705.21798377,
            "ANG": 2.59052425,
            "AOA": 230.07298133,
            "ARS": 21.33070134,
            "AUD": 1.89388221,
            "AWG": 2.59723409,
            "AZN": 2.34457144,
            "BAM": 2.51338059,
            "BBD": 2.89654413,
            "BDT": 113.6087464,
            "BGN": 2.5119468,
            "BHD": 0.54604491,
            "BIF": 2262.38922601,
            "BMD": 1.44827207,
            "BND": 1.9676876,
            "BOB": 9.89320442,
            "BRL": 5.32491115,
            "BSD": 1.44827207,
            "BTC": 0.003457552824,
            "BTN": 96.89806772,
            "BWP": 16.08423874,
            "BYR": 29666.1877714,
            "BZD": 2.88978794,
            "CAD": 1.89241945,
            "CDF": 1343.66337523,
            "CHF": 1.40586521,
            "CLF": 0.03563039,
            "CLP": 975.49103809,
            "CNY": 9.39178366,
            "COP": 4502.38095928,
            "CRC": 774.38875677,
            "CUC": 1.44827207,
            "CUP": 1.44890641,
            "CVE": 141.71209365,
            "CZK": 34.72403176,
            "DJF": 257.3995855,
            "DKK": 9.57420367,
            "DOP": 66.25737533,
            "DZD": 159.04544388,
            "EEK": 20.21378668,
            "EGP": 12.87414226,
            "ERN": 21.72190859,
            "ETB": 30.98708431,
            "EUR": 1.27948899,
            "FJD": 3.02498124,
            "FKP": 1,
            "GBP": 1,
            "GEL": 3.33421195,
            "GGP": 1,
            "GHS": 5.61718693,
            "GIP": 1,
            "GMD": 57.27246922,
            "GNF": 11065.7401076,
            "GTQ": 11.21056572,
            "GYD": 298.20718691,
            "HKD": 11.23320656,
            "HNL": 32.72327286,
            "HRK": 9.68632165,
            "HTG": 89.40808107,
            "HUF": 399.01372962,
            "IDR": 18959.112383,
            "ILS": 5.59619858,
            "IMP": 1,
            "INR": 96.60352538,
            "IQD": 1576.51654072,
            "IRR": 43806.6093344,
            "ISK": 181.18419559,
            "JEP": 1,
            "JMD": 176.20778649,
            "JOD": 1.02628034,
            "JPY": 161.75374161,
            "KES": 147.03884845,
            "KGS": 104.51165859,
            "KHR": 5797.88201217,
            "KMF": 634.24499839,
            "KPW": 1303.57520442,
            "KRW": 1698.07246719,
            "KWD": 0.43563444,
            "KYD": 1.19374549,
            "KZT": 502.72910795,
            "LAK": 11760.2770805,
            "LBP": 2184.87049262,
            "LKR": 210.26564351,
            "LRD": 122.62298002,
            "LSL": 21.92676667,
            "LTL": 4.43770837,
            "LVL": 0.90486446,
            "LYD": 1.97747792,
            "MAD": 14.02940861,
            "MDL": 28.63944977,
            "MGA": 4601.22067611,
            "MKD": 79.11312163,
            "MMK": 1747.57921324,
            "MNT": 2960.02672496,
            "MOP": 11.57197767,
            "MRO": 501.63172034,
            "MTL": 0.99004168,
            "MUR": 51.38255672,
            "MVR": 22.04028658,
            "MWK": 982.10226394,
            "MXN": 25.33229154,
            "MYR": 5.87633784,
            "MZN": 71.63877922,
            "NAD": 22.27907334,
            "NGN": 288.18296745,
            "NIO": 40.75284079,
            "NOK": 12.13693847,
            "NPR": 154.85069763,
            "NZD": 2.11409198,
            "OMR": 0.55759199,
            "PAB": 1.44827207,
            "PEN": 4.86277912,
            "PGK": 4.43620217,
            "PHP": 67.01737058,
            "PKR": 151.43147211,
            "PLN": 5.49875014,
            "PYG": 8280.53418936,
            "QAR": 5.2737017,
            "RON": 5.74919693,
            "RSD": 157.92201779,
            "RUB": 99.39094367,
            "RWF": 1090.68210138,
            "SAR": 5.43128818,
            "SBD": 11.53591715,
            "SCR": 19.28093292,
            "SDG": 8.83556753,
            "SEK": 11.88549671,
            "SGD": 1.9633283,
            "SHP": 1,
            "SLL": 5876.36391022,
            "SOS": 890.025646,
            "SRD": 5.78222623,
            "STD": 31673.0221673,
            "SVC": 12.66617619,
            "SYP": 318.20806021,
            "SZL": 22.28341815,
            "THB": 50.40781893,
            "TJS": 11.39732186,
            "TMT": 5.07093202,
            "TND": 2.90006923,
            "TOP": 3.27498197,
            "TRY": 4.13760178,
            "TTD": 9.48957244,
            "TWD": 46.97554448,
            "TZS": 3167.4844108,
            "UAH": 38.49230533,
            "UGX": 4879.67514244,
            "USD": 1.44827207,
            "UYU": 46.78686359,
            "UZS": 4143.96975284,
            "VEF": 9.16405881,
            "VND": 32298.2532868,
            "VUV": 158.42889563,
            "WST": 3.68467062,
            "XAF": 843.2205559,
            "XAG": 0.0904619698,
            "XAU": 0.0011448591,
            "XCD": 3.91181182,
            "XDR": 1.02840351,
            "XOF": 850.37400612,
            "XPD": 0.00242441,
            "XPF": 153.51484769,
            "XPT": 0.001512,
            "YER": 311.40166812,
            "ZAR": 21.93656134,
            "ZMK": 7607.88215555,
            "ZMW": 16.44650517,
            "ZWL": 466.81107146
          }
        }
  recorded_at: Thu, 17 Mar 2016 18:25:59 GMT
- request:
    method: get
    uri: http://openexchangerates.org/api/historical/2015-03-17.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=GBP
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 17 Mar 2015 23:00:00 GMT
      Etag:
      - '"ed2791a81cddf3b70cf80cebe987bf1f"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      strin[...]
[...]
