---
http_interactions:
- request:
    method: get
    uri: https://openexchangerates.org/api/latest.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=GBP
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 11 Apr 2016 00:00:08 GMT
      Etag:
      - '"e5196d2a308792ae02f2d9913ee05ed1"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "disclaimer": "Exchange rates provided for informational purposes only and do not constitute financial advice of any kind. Although every attempt is made to ensure quality, no guarantees are made of accuracy, validity, availability, or fitness for any purpose. All usage subject to acceptance of Terms: https://openexchangerates.org/terms/",
          "license": "Data sourced from various providers; resale prohibited; no warranties given of any kind. All usage subject to License Agreement: https://openexchangerates.org/license/",
          "timestamp": 1460332808,
          "base": "GBP",
          "rates": {
            "AED": 5.18888368,
            "AFN": 96.6172983,
            "ALL": 173.38832258,
            "AMD": 682.38836778,
            "ANG": 2.52692486,
            "AOA": 229.99117808,
            "ARS": 20.4368297,
            "AUD": 1.86690559,
            "AWG": 2.53332834,
            "AZN": 2.15960395,
            "BAM": 2.42306214,
            "BBD": 2.82527377,
            "BDT": 110.76749975,
            "BGN": 2.42357069,
            "BHD": 0.53271384,
            "BIF": 2192.41244477,
            "BMD": 1.41263688,
            "BND": 1.90628284,
            "BOB": 9.69642433,
            "BRL": 5.0710966,
            "BSD": 1.41263688,
            "BTC": 0.003353456597,
            "BTN": 93.962931,
            "BWP": 15.50278996,
            "BYR": 28241.4365952,
            "BZD": 2.81849311,
            "CAD": 1.83448134,
            "CDF": 1307.39543662,
            "CHF": 1.34701566,
            "CLF": 0.03475369,
            "CLP": 965.58393323,
            "CNY": 9.13165493,
            "COP": 4368.63612169,
            "CRC": 756.95582967,
            "CUC": 1.41263688,
            "CUP": 1.41281346,
            "CVE": 136.32496723,
            "CZK": 33.4788726,
            "DJF": 251.03440618,
            "DKK": 9.21924548,
            "DOP": 64.79937731,
            "DZD": 152.6991818,
            "EEK": 19.38653418,
            "EGP": 12.54314193,
            "ERN": 21.19167222,
            "ETB": 30.42023122,
            "EUR": 1.23876247,
            "FJD": 2.94337021,
            "FKP": 1,
            "GBP": 1,
            "GEL": 3.21272475,
            "GGP": 1,
            "GHS": 5.43173008,
            "GIP": 1,
            "GMD": 60.26396533,
            "GNF": 10736.0051448,
            "GTQ": 10.9097099,
            "GYD": 290.96082193,
            "HKD": 10.96009866,
            "HNL": 31.91409473,
            "HRK": 9.29235933,
            "HTG": 87.57928425,
            "HUF": 387.19515437,
            "IDR": 18537.7042207,
            "ILS": 5.33757642,
            "IMP": 1,
            "INR": 94.00218535,
            "IQD": 1537.72586369,
            "IRR": 42708.957248,
            "ISK": 174.64571067,
            "JEP": 1,
            "JMD": 171.93486049,
            "JOD": 1.00149457,
            "JPY": 152.88969001,
            "KES": 142.87536729,
            "KGS": 98.84764146,
            "KHR": 5650.51218823,
            "KMF": 610.97973996,
            "KPW": 1271.24605874,
            "KRW": 1628.30652101,
            "KWD": 0.42609084,
            "KYD": 1.16474313,
            "KZT": 480.78812283,
            "LAK": 11463.5131403,
            "LBP": 2131.29234379,
            "LKR": 204.51732882,
            "LRD": 119.61992298,
            "LSL": 21.13392363,
            "LTL": 4.26244251,
            "LVL": 0.87275532,
            "LYD": 1.90404099,
            "MAD": 13.60271848,
            "MDL": 27.66934691,
            "MGA": 4506.28809458,
            "MKD": 76.35144145,
            "MMK": 1671.36136523,
            "MNT": 2865.29848029,
            "MOP": 11.28965272,
            "MRO": 488.30148355,
            "MTL": 0.96587352,
            "MUR": 49.5148115,
            "MVR": 21.50975143,
            "MWK": 958.00089844,
            "MXN": 25.1137314,
            "MYR": 5.5291879,
            "MZN": 72.82849599,
            "NAD": 21.13392363,
            "NGN": 281.37748907,
            "NIO": 39.90289534,
            "NOK": 11.62322714,
            "NPR": 150.43113678,
            "NZD": 2.07276351,
            "OMR": 0.54395702,
            "PAB": 1.41263688,
            "PEN": 4.75634839,
            "PGK": 4.40908693,
            "PHP": 65.12842282,
            "PKR": 147.92003486,
            "PLN": 5.32321414,
            "PYG": 7932.5681569,
            "QAR": 5.14489417,
            "RON": 5.53067258,
            "RSD": 152.20631138,
            "RUB": 94.92597924,
            "RWF": 1073.33563405,
            "SAR": 5.29756066,
            "SBD": 11.01654763,
            "SCR": 18.80144824,
            "SDG": 8.61535452,
            "SEK": 11.51565767,
            "SGD": 1.9050595,
            "SHP": 1,
            "SLL": 5618.76320815,
            "SOS": 867.35198815,
            "SRD": 7.16841598,
            "STD": 30408.7747353,
            "SVC": 12.35365082,
            "SYP": 310.09592511,
            "SZL": 21.13816154,
            "THB": 49.5681569,
            "TJS": 11.11688723,
            "TMT": 4.94653593,
            "TND": 2.85226926,
            "TOP": 3.16385175,
            "TRY": 4.02813125,
            "TTD": 9.27740798,
            "TWD": 45.82913309,
            "TZS": 3089.83706787,
            "UAH": 36.21190118,
            "UGX": 4730.49713517,
            "USD": 1.41263688,
            "UYU": 44.16549889,
            "UZS": 4085.82611853,
            "VEF": 14.08610869,
            "VND": 31555.4827263,
            "VUV": 152.14570219,
            "WST": 3.5689282,
            "XAF": 814.29385955,
            "XAG": 0.0917444088,
            "XAU": 0.0011329348,
            "XCD": 3.81838575,
            "XDR": 1.00213026,
            "XOF": 820.04241584,
            "XPD": 0.00261479,
            "XPF": 148.03927837,
            "XPT": 0.00146067,
            "YER": 353.4572861,
            "ZAR": 21.1379779,
            "ZMK": 7420.68786234,
            "ZMW": 13.90151237,
            "ZWL": 455.41611621
          }
        }
  recorded_at: Mon, 11 Apr 2016 00:39:48 GMT
- request:
    method: get
    uri: http://openexchangerates.org/api/historical/2015-04-11.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=GBP
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Sat, 11 Apr 2015 23:00:00 GMT
      Etag:
      - '"88ae8f9fdf08175fd808106a3a1f6754"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      strin[...]
[...]
