---
http_interactions:
- request:
    method: get
    uri: https://openexchangerates.org/api/latest.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=GBP
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 18 Mar 2016 18:17:23 GMT
      Etag:
      - '"b711c778c06372f7fe0d60852c34fa4d"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "disclaimer": "Exchange rates provided for informational purposes only and do not constitute financial advice of any kind. Although every attempt is made to ensure quality, no guarantees are made of accuracy, validity, availability, or fitness for any purpose. All usage subject to acceptance of Terms: https://openexchangerates.org/terms/",
          "license": "Data sourced from various providers; resale prohibited; no warranties given of any kind. All usage subject to License Agreement: https://openexchangerates.org/license/",
          "timestamp": 1458325043,
          "base": "GBP",
          "rates": {
            "AED": 5.32057771,
            "AFN": 99.10040417,
            "ALL": 177.61715751,
            "AMD": 704.95864467,
            "ANG": 2.5911547,
            "AOA": 230.12414567,
            "ARS": 21.36583564,
            "AUD": 1.90556417,
            "AWG": 2.59786618,
            "AZN": 2.32774116,
            "BAM": 2.51322015,
            "BBD": 2.89724906,
            "BDT": 113.34338196,
            "BGN": 2.51222784,
            "BHD": 0.5461865,
            "BIF": 2251.45583289,
            "BMD": 1.44862453,
            "BND": 1.96643247,
            "BOB": 9.88012922,
            "BRL": 5.2519245,
            "BSD": 1.44862453,
            "BTC": 0.003546890417,
            "BTN": 96.46299054,
            "BWP": 16.0507062,
            "BYR": 29469.6223436,
            "BZD": 2.88487057,
            "CAD": 1.88670018,
            "CDF": 1341.90327534,
            "CHF": 1.40341875,
            "CLF": 0.03563327,
            "CLP": 976.3217989,
            "CNY": 9.37507786,
            "COP": 4475.78382611,
            "CRC": 772.90377367,
            "CUC": 1.44862453,
            "CUP": 1.44840724,
            "CVE": 141.39780244,
            "CZK": 34.73566948,
            "DJF": 257.46566905,
            "DKK": 9.5758326,
            "DOP": 66.11557127,
            "DZD": 159.51346497,
            "EEK": 20.10904521,
            "EGP": 12.85937043,
            "ERN": 21.7315409,
            "ETB": 30.93511611,
            "EUR": 1.28461561,
            "FJD": 3.00502673,
            "FKP": 1,
            "GBP": 1,
            "GEL": 3.31568426,
            "GGP": 1,
            "GHS": 5.57293245,
            "GIP": 1,
            "GMD": 57.07837059,
            "GNF": 11035.1148006,
            "GTQ": 11.20187017,
            "GYD": 297.74401211,
            "HKD": 11.23495531,
            "HNL": 32.69064623,
            "HRK": 9.67885877,
            "HTG": 89.64150164,
            "HUF": 398.46257623,
            "IDR": 18983.3553041,
            "ILS": 5.58588605,
            "IMP": 1,
            "INR": 96.27935275,
            "IQD": 1576.90021585,
            "IRR": 43824.5136243,
            "ISK": 181.19554983,
            "JEP": 1,
            "JMD": 175.96210398,
            "JOD": 1.02631282,
            "JPY": 161.6908331,
            "KES": 147.01651287,
            "KGS": 104.38382611,
            "KHR": 5780.09513986,
            "KMF": 635.80854399,
            "KPW": 1303.89245411,
            "KRW": 1686.04682244,
            "KWD": 0.43560719,
            "KYD": 1.19184424,
            "KZT": 501.21842795,
            "LAK": 11724.2327331,
            "LBP": 2181.57784184,
            "LKR": 209.7812577,
            "LRD": 122.65282264,
            "LSL": 22.20020715,
            "LTL": 4.39125176,
            "LVL": 0.90179774,
            "LYD": 1.97396822,
            "MAD": 14.03089047,
            "MDL": 28.52554649,
            "MGA": 4618.35501441,
            "MKD": 79.22059654,
            "MMK": 1750.85829265,
            "MNT": 2961.22997928,
            "MOP": 11.55656299,
            "MRO": 496.51171213,
            "MTL": 0.99047964,
            "MUR": 51.28279324,
            "MVR": 22.14464081,
            "MWK": 983.70351002,
            "MXN": 25.1777752,
            "MYR": 5.87401023,
            "MZN": 72.74268227,
            "NAD": 22.17424056,
            "NGN": 287.99438079,
            "NIO": 40.89658269,
            "NOK": 12.13272298,
            "NPR": 154.19043618,
            "NZD": 2.13206241,
            "OMR": 0.55769872,
            "PAB": 1.44862453,
            "PEN": 4.88093465,
            "PGK": 4.43691964,
            "PHP": 67.28521968,
            "PKR": 151.41075749,
            "PLN": 5.48129536,
            "PYG": 8246.3821457,
            "QAR": 5.27514595,
            "RON": 5.7488172,
            "RSD": 157.91696484,
            "RUB": 99.07272095,
            "RWF": 1089.98873405,
            "SAR": 5.43262447,
            "SBD": 11.39713897,
            "SCR": 19.23485101,
            "SDG": 8.81979835,
            "SEK": 11.90805001,
            "SGD": 1.96605004,
            "SHP": 1,
            "SLL": 5876.34541003,
            "SOS": 889.30299865,
            "SRD": 5.78363344,
            "STD": 31509.0321739,
            "SVC": 12.6448639,
            "SYP": 318.25652968,
            "SZL": 22.17424056,
            "THB": 50.49980444,
            "TJS": 11.40009561,
            "TMT": 5.07206907,
            "TND": 2.90409671,
            "TOP": 3.25530269,
            "TRY": 4.14896641,
            "TTD": 9.51575379,
            "TWD": 46.8939462,
            "TZS": 3160.16236618,
            "UAH": 38.5171155,
            "UGX": 4864.1842071,
            "USD": 1.44862453,
            "UYU": 46.72257392,
            "UZS": 4144.25395402,
            "VEF": 9.16633107,
            "VND": 32261.013168,
            "VUV": 156.81119062,
            "WST": 3.64568527,
            "XAF": 843.64776115,
            "XAG": 0.0915508974,
            "XAU": 0.0011560024,
            "XCD": 3.91276383,
            "XDR": 1.03020237,
            "XOF": 849.54337327,
            "XPD": 0.00245687,
            "XPF": 153.35280671,
            "XPT": 0.00149353,
            "YER": 311.43109617,
            "ZAR": 22.17715229,
            "ZMK": 7609.73367762,
            "ZMW": 16.42276658,
            "ZWL": 466.92467877
          }
        }
  recorded_at: Fri, 18 Mar 2016 18:30:42 GMT
- request:
    method: get
    uri: http://openexchangerates.org/api/historical/2015-03-18.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=GBP
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 18 Mar 2015 23:00:00 GMT
      Etag:
      - '"41fc16cbafd28bb3dec8098e5e23da8f"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      strin[...]
[...]
