---
http_interactions:
- request:
    method: get
    uri: https://openexchangerates.org/api/latest.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=GBP
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5ef766a931f2b70a28265e02c68b596b"
      Last-Modified:
      - Sat, 10 Sep 2016 19:00:14 GMT
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "disclaimer": "Exchange rates provided for informational purposes only and do not constitute financial advice of any kind. Although every attempt is made to ensure quality, no guarantees are made of accuracy, validity, availability, or fitness for any purpose. All usage subject to acceptance of Terms: https://openexchangerates.org/terms/",
          "license": "Data sourced from various providers; resale prohibited; no warranties given of any kind. All usage subject to License Agreement: https://openexchangerates.org/license/",
          "timestamp": 1473534014,
          "base": "GBP",
          "rates": {
            "AED": 4.87376,
            "AFN": 88.614972,
            "ALL": 162.021151,
            "AMD": 629.589458,
            "ANG": 2.357025,
            "AOA": 219.702641,
            "ARS": 20.004312,
            "AUD": 1.759119,
            "AWG": 2.375171,
            "AZN": 2.195706,
            "BAM": 2.311045,
            "BBD": 2.653822,
            "BDT": 104.198653,
            "BGN": 2.309332,
            "BHD": 0.500244,
            "BIF": 2210.610626,
            "BMD": 1.326911,
            "BND": 1.797864,
            "BOB": 9.196453,
            "BRL": 4.332426,
            "BSD": 1.326911,
            "BTC": 0.002129223967,
            "BTN": 88.364451,
            "BWP": 14.215762,
            "BYN": 2.578984,
            "BYR": 26573.05309,
            "BZD": 2.656407,
            "CAD": 1.729031,
            "CDF": 1296.974643,
            "CHF": 1.293888,
            "CLF": 0.033646,
            "CLP": 890.238585,
            "CNY": 8.864062,
            "COP": 3840.131541,
            "CRC": 731.831007,
            "CUC": 1.326911,
            "CUP": 32.812365,
            "CVE": 130.539833,
            "CZK": 31.90981,
            "DJF": 235.102438,
            "DKK": 8.788766,
            "DOP": 61.169274,
            "DZD": 144.491248,
            "EEK": 18.465859,
            "EGP": 11.769453,
            "ERN": 20.434431,
            "ETB": 29.303571,
            "EUR": 1.181415,
            "FJD": 2.70597,
            "FKP": 1,
            "GBP": 1,
            "GEL": 3.061582,
            "GGP": 1,
            "GHS": 5.241394,
            "GIP": 1,
            "GMD": 56.465812,
            "GNF": 12139.315712,
            "GTQ": 10.012108,
            "GYD": 273.264509,
            "HKD": 10.292475,
            "HNL": 30.355121,
            "HRK": 8.833178,
            "HTG": 86.033713,
            "HUF": 364.570812,
            "IDR": 17377.846778,
            "ILS": 4.990329,
            "IMP": 1,
            "INR": 88.64184,
            "IQD": 1545.696827,
            "IRR": 39916.13922,
            "ISK": 152.010934,
            "JEP": 1,
            "JMD": 168.977482,
            "JOD": 0.940183,
            "JPY": 136.198134,
            "KES": 134.33953,
            "KGS": 91.574446,
            "KHR": 5413.511936,
            "KMF": 582.40339,
            "KPW": 1194.100553,
            "KRW": 1462.152073,
            "KWD": 0.399797,
            "KYD": 1.094785,
            "KZT": 448.569322,
            "LAK": 10735.042395,
            "LBP": 2003.315066,
            "LKR": 193.124612,
            "LRD": 121.080636,
            "LSL": 19.055027,
            "LTL": 4.026379,
            "LVL": 0.827431,
            "LYD": 1.825072,
            "MAD": 12.873365,
            "MDL": 26.216512,
            "MGA": 4027.296773,
            "MKD": 72.871157,
            "MMK": 1622.619853,
            "MNT": 2949.502187,
            "MOP": 10.613915,
            "MRO": 471.99333,
            "MTL": 0.90726,
            "MUR": 46.695328,
            "MVR": 20.261932,
            "MWK": 954.058352,
            "MXN": 25.028807,
            "MYR": 5.429408,
            "MZN": 100.540054,
            "NAD": 18.936667,
            "NGN": 417.760705,
            "NIO": 38.399175,
            "NOK": 10.937205,
            "NPR": 141.600123,
            "NZD": 1.812395,
            "OMR": 0.510931,
            "PAB": 1.326911,
            "PEN": 4.488961,
            "PGK": 4.202991,
            "PHP": 62.678158,
            "PKR": 138.435439,
            "PLN": 5.126187,
            "PYG": 7376.940054,
            "QAR": 4.831657,
            "RON": 5.247866,
            "RSD": 145.427146,
            "RUB": 85.805608,
            "RWF": 1054.944283,
            "SAR": 4.977246,
            "SBD": 10.32387,
            "SCR": 17.559014,
            "SDG": 8.074048,
            "SEK": 11.25996,
            "SGD": 1.801576,
            "SHP": 1,
            "SLL": 7497.047623,
            "SOS": 773.412019,
            "SRD": 9.762748,
            "STD": 28909.279089,
            "SVC": 11.619207,
            "SYP": 284.37474,
            "SZL": 19.051444,
            "THB": 46.188753,
            "TJS": 10.460305,
            "TMT": 4.606593,
            "TND": 2.919926,
            "TOP": 2.979512,
            "TRY": 3.93856,
            "TTD": 8.891025,
            "TWD": 41.85193,
            "TZS": 2898.816395,
            "UAH": 35.451004,
            "UGX": 4489.972975,
            "USD": 1.326911,
            "UYU": 38.519393,
            "UZS": 3966.037711,
            "VEF": 13.239773,
            "VND": 29603.806466,
            "VUV": 140.608344,
            "WST": 3.35045,
            "XAF": 776.783108,
            "XAG": 0.07026045,
            "XAU": 0.00099922,
            "XCD": 3.58136,
            "XDR": 0.946398,
            "XOF": 779.159988,
            "XPD": 0.00197444,
            "XPF": 140.756739,
            "XPT": 0.00117034,
            "YER": 331.900268,
            "ZAR": 19.079601,
            "ZMK": 6970.363779,
            "ZMW": 13.562126,
            "ZWL": 427.779211
          }
        }
  recorded_at: Sat, 10 Sep 2016 19:35:42 GMT
- request:
    method: get
    uri: http://openexchangerates.org/api/historical/2015-09-10.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=GBP
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0206f1954277734615595798742df99a"
      Last-Modified:
      - Thu, 10 Sep 2015 23:00:10 GMT
    body:
      encoding: ASCII-8BIT
      [...]
[...]
