---
http_interactions:
- request:
    method: get
    uri: https://openexchangerates.org/api/latest.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=GBP
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Sat, 16 Apr 2016 15:00:09 GMT
      Etag:
      - '"a18f77b545552901d402bf7777583497"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "disclaimer": "Exchange rates provided for informational purposes only and do not constitute financial advice of any kind. Although every attempt is made to ensure quality, no guarantees are made of accuracy, validity, availability, or fitness for any purpose. All usage subject to acceptance of Terms: https://openexchangerates.org/terms/",
          "license": "Data sourced from various providers; resale prohibited; no warranties given of any kind. All usage subject to License Agreement: https://openexchangerates.org/license/",
          "timestamp": 1460818809,
          "base": "GBP",
          "rates": {
            "AED": 5.21641501,
            "AFN": 97.09937738,
            "ALL": 175.27537905,
            "AMD": 685.74214201,
            "ANG": 2.5403196,
            "AOA": 235.43320211,
            "ARS": 20.0055388,
            "AUD": 1.83857957,
            "AWG": 2.54689941,
            "AZN": 2.16204816,
            "BAM": 2.46223819,
            "BBD": 2.84040879,
            "BDT": 111.28261499,
            "BGN": 2.46137896,
            "BHD": 0.53537871,
            "BIF": 2208.54565389,
            "BMD": 1.4202044,
            "BND": 1.92904375,
            "BOB": 9.72403582,
            "BRL": 5.01092279,
            "BSD": 1.4202044,
            "BTC": 0.003301779672,
            "BTN": 94.59811198,
            "BWP": 15.3393621,
            "BYR": 28314.3665036,
            "BZD": 2.83263317,
            "CAD": 1.82104715,
            "CDF": 1318.01855923,
            "CHF": 1.37447807,
            "CLF": 0.03493987,
            "CLP": 945.36487323,
            "CNY": 9.19918225,
            "COP": 4256.36206975,
            "CRC": 759.7103621,
            "CUC": 1.4202044,
            "CUP": 1.41995586,
            "CVE": 138.79247973,
            "CZK": 34.02084008,
            "DJF": 252.29362868,
            "DKK": 9.36701916,
            "DOP": 65.16410462,
            "DZD": 154.64511933,
            "EEK": 19.70292164,
            "EGP": 12.60947646,
            "ERN": 21.30093563,
            "ETB": 30.5878226,
            "EUR": 1.25864904,
            "FJD": 2.93570451,
            "FKP": 1,
            "GBP": 1,
            "GEL": 3.18537644,
            "GGP": 1,
            "GHS": 5.45093336,
            "GIP": 1,
            "GMD": 60.5802103,
            "GNF": 10785.3483165,
            "GTQ": 10.99395419,
            "GYD": 292.82390034,
            "HKD": 11.01493203,
            "HNL": 32.04661395,
            "HRK": 9.44106862,
            "HTG": 88.18237271,
            "HUF": 391.71111622,
            "IDR": 18723.1463024,
            "ILS": 5.36334793,
            "IMP": 1,
            "INR": 94.62253808,
            "IQD": 1545.96347802,
            "IRR": 42946.9809295,
            "ISK": 176.35970227,
            "JEP": 1,
            "JMD": 173.11396998,
            "JOD": 1.00605859,
            "JPY": 154.58129534,
            "KES": 143.76582818,
            "KGS": 97.31737734,
            "KHR": 5712.80058626,
            "KMF": 618.42833365,
            "KPW": 1278.31177463,
            "KRW": 1629.42180355,
            "KWD": 0.42847567,
            "KYD": 1.17080514,
            "KZT": 474.31033312,
            "LAK": 11532.0207776,
            "LBP": 2142.53455357,
            "LKR": 206.23142941,
            "LRD": 128.51564497,
            "LSL": 20.68757776,
            "LTL": 4.3040402,
            "LVL": 0.88376905,
            "LYD": 1.91956814,
            "MAD": 13.76052087,
            "MDL": 27.94137112,
            "MGA": 4517.75300515,
            "MKD": 77.56024507,
            "MMK": 1673.68600985,
            "MNT": 2843.01249922,
            "MOP": 11.34296658,
            "MRO": 491.03566985,
            "MTL": 0.97104771,
            "MUR": 49.8911598,
            "MVR": 21.63918145,
            "MWK": 965.60691583,
            "MXN": 24.90762991,
            "MYR": 5.54044174,
            "MZN": 74.31929745,
            "NAD": 20.68473735,
            "NGN": 282.52253722,
            "NIO": 39.97628259,
            "NOK": 11.71566514,
            "NPR": 151.2972147,
            "NZD": 2.0523885,
            "OMR": 0.5468426,
            "PAB": 1.4202044,
            "PEN": 4.65020792,
            "PGK": 4.43767717,
            "PHP": 65.53467855,
            "PKR": 148.6811982,
            "PLN": 5.40656191,
            "PYG": 7926.36903017,
            "QAR": 5.17154649,
            "RON": 5.63430589,
            "RSD": 154.6838625,
            "RUB": 94.33622487,
            "RWF": 1079.98341627,
            "SAR": 5.32558754,
            "SBD": 11.2465205,
            "SCR": 19.9812675,
            "SDG": 8.6641316,
            "SEK": 11.54932796,
            "SGD": 1.92868586,
            "SHP": 1,
            "SLL": 5621.16899864,
            "SOS": 868.93892695,
            "SRD": 7.20681727,
            "STD": 30838.6377968,
            "SVC": 12.4152422,
            "SYP": 311.81392056,
            "SZL": 20.68615755,
            "THB": 49.77749658,
            "TJS": 11.17644051,
            "TMT": 4.97256165,
            "TND": 2.85881038,
            "TOP": 3.16601905,
            "TRY": 4.05412541,
            "TTD": 9.35055047,
            "TWD": 45.93185291,
            "TZS": 3109.00731547,
            "UAH": 36.16215326,
            "UGX": 4747.16569951,
            "USD": 1.4202044,
            "UYU": 44.43830916,
            "UZS": 4117.44940806,
            "VEF": 14.16202828,
            "VND": 31696.6424479,
            "VUV": 152.62463146,
            "WST": 3.56818401,
            "XAF": 827.74784413,
            "XAG": 0.0872829218,
            "XAU": 0.0011489454,
            "XCD": 3.83884089,
            "XDR": 1.01022547,
            "XOF": 830.06587334,
            "XPD": 0.0024953,
            "XPF": 150.281378,
            "XPT": 0.00143725,
            "YER": 354.64492192,
            "ZAR": 20.67759372,
            "ZMK": 7460.44056871,
            "ZMW": 13.09101096,
            "ZWL": 457.85578534
          }
        }
  recorded_at: Sat, 16 Apr 2016 15:55:01 GMT
- request:
    method: get
    uri: http://openexchangerates.org/api/historical/2015-04-16.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=GBP
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 16 Apr 2015 23:00:00 GMT
      Etag:
      - '"206d53060d1f048e7d67add3413da25c"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      strin[...]
[...]
