---
http_interactions:
- request:
    method: get
    uri: https://openexchangerates.org/api/latest.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=GBP
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 11 Apr 2016 23:00:12 GMT
      Etag:
      - '"15af66b41b00ab2b7f2f76bf8d500341"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "disclaimer": "Exchange rates provided for informational purposes only and do not constitute financial advice of any kind. Although every attempt is made to ensure quality, no guarantees are made of accuracy, validity, availability, or fitness for any purpose. All usage subject to acceptance of Terms: https://openexchangerates.org/terms/",
          "license": "Data sourced from various providers; resale prohibited; no warranties given of any kind. All usage subject to License Agreement: https://openexchangerates.org/license/",
          "timestamp": 1460415612,
          "base": "GBP",
          "rates": {
            "AED": 5.22695805,
            "AFN": 97.43138181,
            "ALL": 173.51508714,
            "AMD": 688.03174382,
            "ANG": 2.54183203,
            "AOA": 231.67499584,
            "ARS": 20.64866503,
            "AUD": 1.87408912,
            "AWG": 2.55187542,
            "AZN": 2.17098659,
            "BAM": 2.44053015,
            "BBD": 2.84595824,
            "BDT": 111.53391457,
            "BGN": 2.44035227,
            "BHD": 0.53653143,
            "BIF": 2208.46359521,
            "BMD": 1.42297912,
            "BND": 1.91588201,
            "BOB": 9.7668591,
            "BRL": 4.99773035,
            "BSD": 1.42297912,
            "BTC": 0.00336716111,
            "BTN": 94.59405536,
            "BWP": 15.42109225,
            "BYR": 28455.3134752,
            "BZD": 2.83898564,
            "CAD": 1.83885188,
            "CDF": 1316.25568658,
            "CHF": 1.35820796,
            "CLF": 0.03500813,
            "CLP": 968.69161908,
            "CNY": 9.19363758,
            "COP": 4364.34342463,
            "CRC": 761.63249714,
            "CUC": 1.42297912,
            "CUP": 1.42292647,
            "CVE": 137.43289017,
            "CZK": 33.70573646,
            "DJF": 252.82603938,
            "DKK": 9.28608284,
            "DOP": 65.20798974,
            "DZD": 153.64873191,
            "EEK": 19.52291779,
            "EGP": 12.60716527,
            "ERN": 21.34255234,
            "ETB": 30.67237186,
            "EUR": 1.24732231,
            "FJD": 2.94827044,
            "FKP": 1,
            "GBP": 1,
            "GEL": 3.23606797,
            "GGP": 1,
            "GHS": 5.44838784,
            "GIP": 1,
            "GMD": 60.65713176,
            "GNF": 10816.3846056,
            "GTQ": 10.99484739,
            "GYD": 293.09101232,
            "HKD": 11.03540087,
            "HNL": 32.11976931,
            "HRK": 9.34560605,
            "HTG": 88.35796747,
            "HUF": 389.20741201,
            "IDR": 18668.6797073,
            "ILS": 5.35539473,
            "IMP": 1,
            "INR": 94.46081044,
            "IQD": 1548.98390468,
            "IRR": 43023.7737122,
            "ISK": 175.62266009,
            "JEP": 1,
            "JMD": 173.18509686,
            "JOD": 1.00800141,
            "JPY": 153.63820044,
            "KES": 143.89335625,
            "KGS": 99.57132754,
            "KHR": 5722.33266121,
            "KMF": 615.04362142,
            "KPW": 1280.80927669,
            "KRW": 1632.15467783,
            "KWD": 0.42880053,
            "KYD": 1.17327048,
            "KZT": 480.10745058,
            "LAK": 11548.1516184,
            "LBP": 2146.80116713,
            "LKR": 206.11141073,
            "LRD": 120.49568766,
            "LSL": 21.03708141,
            "LTL": 4.29296579,
            "LVL": 0.87895428,
            "LYD": 1.91835373,
            "MAD": 13.69169592,
            "MDL": 27.93390547,
            "MGA": 4524.31465768,
            "MKD": 76.82100773,
            "MMK": 1674.95316549,
            "MNT": 2877.50094557,
            "MOP": 11.36813751,
            "MRO": 492.35077574,
            "MTL": 0.9729449,
            "MUR": 49.85610124,
            "MVR": 21.69094459,
            "MWK": 974.38019725,
            "MXN": 25.15563834,
            "MYR": 5.53557377,
            "MZN": 74.00914549,
            "NAD": 21.03878899,
            "NGN": 283.33222009,
            "NIO": 39.97911067,
            "NOK": 11.67909544,
            "NPR": 151.35716634,
            "NZD": 2.07610092,
            "OMR": 0.54788823,
            "PAB": 1.42297912,
            "PEN": 4.6954042,
            "PGK": 4.44154473,
            "PHP": 65.60562703,
            "PKR": 148.96172328,
            "PLN": 5.34104114,
            "PYG": 7973.74173783,
            "QAR": 5.18202037,
            "RON": 5.573647,
            "RSD": 153.26865419,
            "RUB": 95.09254345,
            "RWF": 1074.56978788,
            "SAR": 5.33627416,
            "SBD": 11.29306682,
            "SCR": 19.16374363,
            "SDG": 8.67850064,
            "SEK": 11.55848088,
            "SGD": 1.9142527,
            "SHP": 1,
            "SLL": 5658.47647317,
            "SOS": 873.9226312,
            "SRD": 7.22089759,
            "STD": 30597.2527965,
            "SVC": 12.44306305,
            "SYP": 312.32826136,
            "SZL": 21.04189108,
            "THB": 49.87809338,
            "TJS": 11.19827649,
            "TMT": 4.98270369,
            "TND": 2.85180669,
            "TOP": 3.1885305,
            "TRY": 4.03411023,
            "TTD": 9.35910443,
            "TWD": 46.10184831,
            "TZS": 3113.24117646,
            "UAH": 36.40031818,
            "UGX": 4764.41869168,
            "USD": 1.42297912,
            "UYU": 44.26330236,
            "UZS": 4115.73938137,
            "VEF": 14.1892363,
            "VND": 31786.9819225,
            "VUV": 153.42560879,
            "WST": 3.58234567,
            "XAF": 819.20252693,
            "XAG": 0.0891368351,
            "XAU": 0.001127711,
            "XCD": 3.84634102,
            "XDR": 1.00770543,
            "XOF": 827.05555026,
            "XPD": 0.00260121,
            "XPF": 148.91706024,
            "XPT": 0.00143863,
            "YER": 355.57260111,
            "ZAR": 21.06862886,
            "ZMK": 7475.01640695,
            "ZMW": 13.95248815,
            "ZWL": 458.75032124
          }
        }
  recorded_at: Tue, 12 Apr 2016 00:00:44 GMT
- request:
    method: get
    uri: http://openexchangerates.org/api/historical/2015-04-12.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=GBP
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Sun, 12 Apr 2015 23:00:00 GMT
      Etag:
      - '"0c1f43f294d8e637578061b13ff7c27f"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      strin[...]
[...]
