---
http_interactions:
- request:
    method: get
    uri: https://openexchangerates.org/api/latest.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=GBP
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 09 Mar 2016 23:00:12 GMT
      Etag:
      - '"96cda4691eb7632ff0f6896a47a65d68"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "disclaimer": "Exchange rates provided for informational purposes only and do not constitute financial advice of any kind. Although every attempt is made to ensure quality, no guarantees are made of accuracy, validity, availability, or fitness for any purpose. All usage subject to acceptance of Terms: https://openexchangerates.org/terms/",
          "license": "Data sourced from various providers; resale prohibited; no warranties given of any kind. All usage subject to License Agreement: https://openexchangerates.org/license/",
          "timestamp": 1457564412,
          "base": "GBP",
          "rates": {
            "AED": 5.22090169,
            "AFN": 97.44095192,
            "ALL": 178.51878528,
            "AMD": 697.52012856,
            "ANG": 2.54263308,
            "AOA": 225.66404834,
            "ARS": 21.85430624,
            "AUD": 1.90116744,
            "AWG": 2.54914762,
            "AZN": 2.32827721,
            "BAM": 2.52632611,
            "BBD": 2.84291609,
            "BDT": 111.43351201,
            "BGN": 2.52674971,
            "BHD": 0.5358314,
            "BIF": 2204.35097647,
            "BMD": 1.42145805,
            "BND": 1.96481465,
            "BOB": 9.7179941,
            "BRL": 5.26470534,
            "BSD": 1.42145805,
            "BTC": 0.003450911482,
            "BTN": 95.5787438,
            "BWP": 15.86132255,
            "BYR": 29917.7117937,
            "BZD": 2.8335629,
            "CAD": 1.88608862,
            "CDF": 1319.11306704,
            "CHF": 1.41694776,
            "CLF": 0.03497071,
            "CLP": 965.10518647,
            "CNY": 9.25939193,
            "COP": 4500.22718738,
            "CRC": 759.90280781,
            "CUC": 1.42145805,
            "CUP": 1.42133438,
            "CVE": 142.71107159,
            "CZK": 34.9521324,
            "DJF": 252.65706187,
            "DKK": 9.63857439,
            "DOP": 65.02781083,
            "DZD": 154.65690978,
            "EEK": 20.19962957,
            "EGP": 11.12965545,
            "ERN": 21.32400288,
            "ETB": 30.32018342,
            "EUR": 1.29233138,
            "FJD": 2.99010807,
            "FKP": 1,
            "GBP": 1,
            "GEL": 3.45520915,
            "GGP": 1,
            "GHS": 5.46714655,
            "GIP": 1,
            "GMD": 56.37647601,
            "GNF": 10849.5771845,
            "GTQ": 10.94083181,
            "GYD": 293.19467863,
            "HKD": 11.03922513,
            "HNL": 32.12806484,
            "HRK": 9.77834494,
            "HTG": 87.87585128,
            "HUF": 399.67533756,
            "IDR": 18650.0981517,
            "ILS": 5.5388847,
            "IMP": 1,
            "INR": 95.50163823,
            "IQD": 1547.32813933,
            "IRR": 42942.9583101,
            "ISK": 182.44556171,
            "JEP": 1,
            "JMD": 172.63525529,
            "JOD": 1.00717126,
            "JPY": 160.98254023,
            "KES": 144.40966137,
            "KGS": 103.35975824,
            "KHR": 5677.81878542,
            "KMF": 631.65243361,
            "KPW": 1279.44017296,
            "KRW": 1721.52546897,
            "KWD": 0.42742675,
            "KYD": 1.17066594,
            "KZT": 489.72142692,
            "LAK": 11536.2015556,
            "LBP": 2141.40283268,
            "LKR": 205.84389832,
            "LRD": 120.35267796,
            "LSL": 21.66980809,
            "LTL": 4.39523072,
            "LVL": 0.89892296,
            "LYD": 1.97544289,
            "MAD": 13.97895674,
            "MDL": 28.34233827,
            "MGA": 4564.78742806,
            "MKD": 79.55742904,
            "MMK": 1735.45461071,
            "MNT": 2904.2756989,
            "MOP": 11.36365588,
            "MRO": 487.06165148,
            "MTL": 0.97190488,
            "MUR": 50.88764653,
            "MVR": 21.58721,
            "MWK": 1018.52825077,
            "MXN": 25.26515168,
            "MYR": 5.84246407,
            "MZN": 70.87389819,
            "NAD": 21.70896215,
            "NGN": 282.66688415,
            "NIO": 40.18078103,
            "NOK": 12.1176356,
            "NPR": 152.76694058,
            "NZD": 2.13952037,
            "OMR": 0.54714195,
            "PAB": 1.42145805,
            "PEN": 4.89813547,
            "PGK": 4.33143142,
            "PHP": 66.60744872,
            "PKR": 148.79046856,
            "PLN": 5.58362935,
            "PYG": 8110.32315001,
            "QAR": 5.17617409,
            "RON": 5.76460086,
            "RSD": 159.39963298,
            "RUB": 101.17557565,
            "RWF": 1081.04300906,
            "SAR": 5.33106184,
            "SBD": 11.31503348,
            "SCR": 19.08166276,
            "SDG": 8.66728074,
            "SEK": 12.016071,
            "SGD": 1.96443654,
            "SHP": 1,
            "SLL": 5790.30935191,
            "SOS": 870.8534292,
            "SRD": 5.67517125,
            "STD": 31677.1925635,
            "SVC": 12.42007923,
            "SYP": 312.51229064,
            "SZL": 21.7125158,
            "THB": 50.1951804,
            "TJS": 11.18630624,
            "TMT": 4.97718844,
            "TND": 2.89470834,
            "TOP": 3.2042223,
            "TRY": 4.11780902,
            "TTD": 9.30595179,
            "TWD": 46.74913966,
            "TZS": 3106.35728206,
            "UAH": 37.10702015,
            "UGX": 4768.66954796,
            "USD": 1.42145805,
            "UYU": 45.71076456,
            "UZS": 4067.24626192,
            "VEF": 8.97936469,
            "VND": 31669.9905089,
            "VUV": 160.02241497,
            "WST": 3.59940611,
            "XAF": 848.56414969,
            "XAG": 0.0927465839,
            "XAU": 0.001135745,
            "XCD": 3.83938661,
            "XDR": 1.02288121,
            "XOF": 850.7748581,
            "XPD": 0.00250887,
            "XPF": 154.21089036,
            "XPT": 0.00144704,
            "YER": 305.55946599,
            "ZAR": 21.66125802,
            "ZMK": 7467.02608944,
            "ZMW": 16.17095165,
            "ZWL": 458.16830205
          }
        }
  recorded_at: Thu, 10 Mar 2016 00:01:29 GMT
- request:
    method: get
    uri: http://openexchangerates.org/api/historical/2015-03-10.json?app_id=d89861a2fc9f4018b72156cbea82cd4a&base=GBP
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 10 Mar 2015 23:00:00 GMT
      Etag:
      - '"de9463be311e0520a279e5213b87139f"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      strin[...]
[...]
