/* line 1, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
body {
  background-color: white;
}

/* line 6, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
#site-title {
  z-index: 6;
  position: absolute;
  top: 10px;
  width: 50%;
  min-width: 360px;
  margin: auto;
  left: 0;
  right: 0;
}

/* line 16, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
.show-map {
  margin: auto;
  height: 600px;
  width: 900px;
  opacity: 0;
  z-index: 0;
}

/* line 23, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
.left-card {
  background-color: darkred;
  opacity: .6;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  display: none;
}

/* line 34, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
.right-card {
  background-color: cyan;
  opacity: .3;
  z-index: 2;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  display: none;
}

/* line 45, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
.circle {
  width: 60vh;
  height: 60vh;
  border-radius: 30vh;
  background: gainsboro;
  position: absolute;
  left: 0;
  right: 0;
  top: 25vh;
  margin-left: auto;
  margin-right: auto;
  z-index: 3;
  min-height: 250px;
  min-width: 250px;
  text-align: -webkit-center;
  opacity: 0;
}

/* line 62, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
.select {
  font-size: 13px;
  font-weight: bold;
  color: white;
}

/* line 67, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
.select select {
  -webkit-appearance: none;
  display: block;
  padding: 1.2em 1.2em 1.2em 1.2em;
  margin: 5px;
  transition: border-color 0.2s;
  border: 3px solid white;
  border-radius: 10px;
  background: darkred;
  color: white;
  line-height: normal;
  font-family: inherit;
  font-size: smaller;
  line-height: inherit;
  opacity: .9;
  width: 190px;
}

/* line 86, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
.select-box {
  margin: auto;
  position: relative;
  display: block;
}

/* line 91, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
.welcome-form {
  position: relative;
  top: 15%;
}

/* line 96, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
.main-map {
  margin: auto;
  height: 600px;
  width: 900px;
  z-index: 0;
}

/* line 103, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
.holder {
  text-align: center;
}
/* line 1, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/jquery-jvectormap-2.0.3.scss */
svg {
  touch-action: none; }

/* line 5, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/jquery-jvectormap-2.0.3.scss */
.jvectormap-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  touch-action: none; }

/* line 13, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/jquery-jvectormap-2.0.3.scss */
.jvectormap-tip {
  position: absolute;
  display: none;
  border: solid 1px #CDCDCD;
  border-radius: 3px;
  background: #292929;
  color: white;
  font-family: sans-serif, Verdana;
  font-size: smaller;
  padding: 3px; }

/* line 25, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/jquery-jvectormap-2.0.3.scss */
.jvectormap-zoomin, .jvectormap-zoomout, .jvectormap-goback {
  position: absolute;
  left: 10px;
  border-radius: 3px;
  background: #292929;
  padding: 3px;
  color: white;
  cursor: pointer;
  line-height: 10px;
  text-align: center;
  box-sizing: content-box; }

/* line 38, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/jquery-jvectormap-2.0.3.scss */
.jvectormap-zoomin, .jvectormap-zoomout {
  width: 10px;
  height: 10px; }

/* line 43, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/jquery-jvectormap-2.0.3.scss */
.jvectormap-zoomin {
  top: 10px; }

/* line 47, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/jquery-jvectormap-2.0.3.scss */
.jvectormap-zoomout {
  top: 30px; }

/* line 51, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/jquery-jvectormap-2.0.3.scss */
.jvectormap-goback {
  bottom: 10px;
  z-index: 1000;
  padding: 6px; }

/* line 57, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/jquery-jvectormap-2.0.3.scss */
.jvectormap-spinner {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: center no-repeat url(data:image/gif;base64,R0lGODlhIAAgAPMAAP///wAAAMbGxoSEhLa2tpqamjY2NlZWVtjY2OTk5Ly8vB4eHgQEBAAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAIAAgAAAE5xDISWlhperN52JLhSSdRgwVo1ICQZRUsiwHpTJT4iowNS8vyW2icCF6k8HMMBkCEDskxTBDAZwuAkkqIfxIQyhBQBFvAQSDITM5VDW6XNE4KagNh6Bgwe60smQUB3d4Rz1ZBApnFASDd0hihh12BkE9kjAJVlycXIg7CQIFA6SlnJ87paqbSKiKoqusnbMdmDC2tXQlkUhziYtyWTxIfy6BE8WJt5YJvpJivxNaGmLHT0VnOgSYf0dZXS7APdpB309RnHOG5gDqXGLDaC457D1zZ/V/nmOM82XiHRLYKhKP1oZmADdEAAAh+QQJCgAAACwAAAAAIAAgAAAE6hDISWlZpOrNp1lGNRSdRpDUolIGw5RUYhhHukqFu8DsrEyqnWThGvAmhVlteBvojpTDDBUEIFwMFBRAmBkSgOrBFZogCASwBDEY/CZSg7GSE0gSCjQBMVG023xWBhklAnoEdhQEfyNqMIcKjhRsjEdnezB+A4k8gTwJhFuiW4dokXiloUepBAp5qaKpp6+Ho7aWW54wl7obvEe0kRuoplCGepwSx2jJvqHEmGt6whJpGpfJCHmOoNHKaHx61WiSR92E4lbFoq+B6QDtuetcaBPnW6+O7wDHpIiK9SaVK5GgV543tzjgGcghAgAh+QQJCgAAACwAAAAAIAAgAAAE7hDISSkxpOrN5zFHNWRdhSiVoVLHspRUMoyUakyEe8PTPCATW9A14E0UvuAKMNAZKYUZCiBMuBakSQKG8G2FzUWox2AUtAQFcBKlVQoLgQReZhQlCIJesQXI5B0CBnUMOxMCenoCfTCEWBsJColTMANldx15BGs8B5wlCZ9Po6OJkwmRpnqkqnuSrayqfKmqpLajoiW5HJq7FL1Gr2mMMcKUMIiJgIemy7xZtJsTmsM4xHiKv5KMCXqfyUCJEonXPN2rAOIAmsfB3uPoAK++G+w48edZPK+M6hLJpQg484enXIdQFSS1u6UhksENEQAAIfkECQoAAAAsAAAAACAAIAAABOcQyEmpGKLqzWcZRVUQnZYg1aBSh2GUVEIQ2aQOE+G+cD4ntpWkZQj1JIiZIogDFFyHI0UxQwFugMSOFIPJftfVAEoZLBbcLEFhlQiqGp1Vd140AUklUN3eCA51C1EWMzMCezCBBmkxVIVHBWd3HHl9JQOIJSdSnJ0TDKChCwUJjoWMPaGqDKannasMo6WnM562R5YluZRwur0wpgqZE7NKUm+FNRPIhjBJxKZteWuIBMN4zRMIVIhffcgojwCF117i4nlLnY5ztRLsnOk+aV+oJY7V7m76PdkS4trKcdg0Zc0tTcKkRAAAIfkECQoAAAAsAAAAACAAIAAABO4QyEkpKqjqzScpRaVkXZWQEximw1BSCUEIlDohrft6cpKCk5xid5MNJTaAIkekKGQkWyKHkvhKsR7ARmitkAYDYRIbUQRQjWBwJRzChi9CRlBcY1UN4g0/VNB0AlcvcAYHRyZPdEQFYV8ccwR5HWxEJ02YmRMLnJ1xCYp0Y5idpQuhopmmC2KgojKasUQDk5BNAwwMOh2RtRq5uQuPZKGIJQIGwAwGf6I0JXMpC8C7kXWDBINFMxS4DKMAWVWAGYsAdNqW5uaRxkSKJOZKaU3tPOBZ4DuK2LATgJhkPJMgTwKCdFjyPHEnKxFCDhEAACH5BAkKAAAALAAAAAAgACAAAATzEMhJaVKp6s2nIkolIJ2WkBShpkVRWqqQrhLSEu9MZJKK9y1ZrqYK9WiClmvoUaF8gIQSNeF1Er4MNFn4SRSDARWroAIETg1iVwuHjYB1kYc1mwruwXKC9gmsJXliGxc+XiUCby9ydh1sOSdMkpMTBpaXBzsfhoc5l58Gm5yToAaZhaOUqjkDgCWNHAULCwOLaTmzswadEqggQwgHuQsHIoZCHQMMQgQGubVEcxOPFAcMDAYUA85eWARmfSRQCdcMe0zeP1AAygwLlJtPNAAL19DARdPzBOWSm1brJBi45soRAWQAAkrQIykShQ9wVhHCwCQCACH5BAkKAAAALAAAAAAgACAAAATrEMhJaVKp6s2nIkqFZF2VIBWhUsJaTokqUCoBq+E71SRQeyqUToLA7VxF0JDyIQh/MVVPMt1ECZlfcjZJ9mIKoaTl1MRIl5o4CUKXOwmyrCInCKqcWtvadL2SYhyASyNDJ0uIiRMDjI0Fd30/iI2UA5GSS5UDj2l6NoqgOgN4gksEBgYFf0FDqKgHnyZ9OX8HrgYHdHpcHQULXAS2qKpENRg7eAMLC7kTBaixUYFkKAzWAAnLC7FLVxLWDBLKCwaKTULgEwbLA4hJtOkSBNqITT3xEgfLpBtzE/jiuL04RGEBgwWhShRgQExHBAAh+QQJCgAAACwAAAAAIAAgAAAE7xDISWlSqerNpyJKhWRdlSAVoVLCWk6JKlAqAavhO9UkUHsqlE6CwO1cRdCQ8iEIfzFVTzLdRAmZX3I2SfZiCqGk5dTESJeaOAlClzsJsqwiJwiqnFrb2nS9kmIcgEsjQydLiIlHehhpejaIjzh9eomSjZR+ipslWIRLAgMDOR2DOqKogTB9pCUJBagDBXR6XB0EBkIIsaRsGGMMAxoDBgYHTKJiUYEGDAzHC9EACcUGkIgFzgwZ0QsSBcXHiQvOwgDdEwfFs0sDzt4S6BK4xYjkDOzn0unFeBzOBijIm1Dgmg5YFQwsCMjp1oJ8LyIAACH5BAkKAAAALAAAAAAgACAAAATwEMhJaVKp6s2nIkqFZF2VIBWhUsJaTokqUCoBq+E71SRQeyqUToLA7VxF0JDyIQh/MVVPMt1ECZlfcjZJ9mIKoaTl1MRIl5o4CUKXOwmyrCInCKqcWtvadL2SYhyASyNDJ0uIiUd6GGl6NoiPOH16iZKNlH6KmyWFOggHhEEvAwwMA0N9GBsEC6amhnVcEwavDAazGwIDaH1ipaYLBUTCGgQDA8NdHz0FpqgTBwsLqAbWAAnIA4FWKdMLGdYGEgraigbT0OITBcg5QwPT4xLrROZL6AuQAPUS7bxLpoWidY0JtxLHKhwwMJBTHgPKdEQAACH5BAkKAAAALAAAAAAgACAAAATrEMhJaVKp6s2nIkqFZF2VIBWhUsJaTokqUCoBq+E71SRQeyqUToLA7VxF0JDyIQh/MVVPMt1ECZlfcjZJ9mIKoaTl1MRIl5o4CUKXOwmyrCInCKqcWtvadL2SYhyASyNDJ0uIiUd6GAULDJCRiXo1CpGXDJOUjY+Yip9DhToJA4RBLwMLCwVDfRgbBAaqqoZ1XBMHswsHtxtFaH1iqaoGNgAIxRpbFAgfPQSqpbgGBqUD1wBXeCYp1AYZ19JJOYgH1KwA4UBvQwXUBxPqVD9L3sbp2BNk2xvvFPJd+MFCN6HAAIKgNggY0KtEBAAh+QQJCgAAACwAAAAAIAAgAAAE6BDISWlSqerNpyJKhWRdlSAVoVLCWk6JKlAqAavhO9UkUHsqlE6CwO1cRdCQ8iEIfzFVTzLdRAmZX3I2SfYIDMaAFdTESJeaEDAIMxYFqrOUaNW4E4ObYcCXaiBVEgULe0NJaxxtYksjh2NLkZISgDgJhHthkpU4mW6blRiYmZOlh4JWkDqILwUGBnE6TYEbCgevr0N1gH4At7gHiRpFaLNrrq8HNgAJA70AWxQIH1+vsYMDAzZQPC9VCNkDWUhGkuE5PxJNwiUK4UfLzOlD4WvzAHaoG9nxPi5d+jYUqfAhhykOFwJWiAAAIfkECQoAAAAsAAAAACAAIAAABPAQyElpUqnqzaciSoVkXVUMFaFSwlpOCcMYlErAavhOMnNLNo8KsZsMZItJEIDIFSkLGQoQTNhIsFehRww2CQLKF0tYGKYSg+ygsZIuNqJksKgbfgIGepNo2cIUB3V1B3IvNiBYNQaDSTtfhhx0CwVPI0UJe0+bm4g5VgcGoqOcnjmjqDSdnhgEoamcsZuXO1aWQy8KAwOAuTYYGwi7w5h+Kr0SJ8MFihpNbx+4Erq7BYBuzsdiH1jCAzoSfl0rVirNbRXlBBlLX+BP0XJLAPGzTkAuAOqb0WT5AH7OcdCm5B8TgRwSRKIHQtaLCwg1RAAAOwAAAAAAAAAAAA==); }

/* line 66, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/jquery-jvectormap-2.0.3.scss */
.jvectormap-legend-title {
  font-weight: bold;
  font-size: 14px;
  text-align: center; }

/* line 72, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/jquery-jvectormap-2.0.3.scss */
.jvectormap-legend-cnt {
  position: absolute; }

/* line 76, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/jquery-jvectormap-2.0.3.scss */
.jvectormap-legend-cnt-h {
  bottom: 0;
  right: 0; }

/* line 81, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/jquery-jvectormap-2.0.3.scss */
.jvectormap-legend-cnt-v {
  top: 0;
  right: 0; }

/* line 86, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/jquery-jvectormap-2.0.3.scss */
.jvectormap-legend {
  background: black;
  color: white;
  border-radius: 3px; }

/* line 92, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/jquery-jvectormap-2.0.3.scss */
.jvectormap-legend-cnt-h .jvectormap-legend {
  float: left;
  margin: 0 10px 10px 0;
  padding: 3px 3px 1px 3px; }

/* line 98, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/jquery-jvectormap-2.0.3.scss */
.jvectormap-legend-cnt-h .jvectormap-legend .jvectormap-legend-tick {
  float: left; }

/* line 102, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/jquery-jvectormap-2.0.3.scss */
.jvectormap-legend-cnt-v .jvectormap-legend {
  margin: 10px 10px 0 0;
  padding: 3px; }

/* line 107, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/jquery-jvectormap-2.0.3.scss */
.jvectormap-legend-cnt-h .jvectormap-legend-tick {
  width: 40px; }

/* line 111, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/jquery-jvectormap-2.0.3.scss */
.jvectormap-legend-cnt-h .jvectormap-legend-tick-sample {
  height: 15px; }

/* line 115, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/jquery-jvectormap-2.0.3.scss */
.jvectormap-legend-cnt-v .jvectormap-legend-tick-sample {
  height: 20px;
  width: 20px;
  display: inline-block;
  vertical-align: middle; }

/* line 122, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/jquery-jvectormap-2.0.3.scss */
.jvectormap-legend-tick-text {
  font-size: 12px; }

/* line 126, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/jquery-jvectormap-2.0.3.scss */
.jvectormap-legend-cnt-h .jvectormap-legend-tick-text {
  text-align: center; }

/* line 130, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/jquery-jvectormap-2.0.3.scss */
.jvectormap-legend-cnt-v .jvectormap-legend-tick-text {
  display: inline-block;
  vertical-align: middle;
  line-height: 20px;
  padding-left: 3px; }
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *



 */
