/* line 1, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
body {
  background-color: white;
}

/* line 6, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
#site-title {
  z-index: 6;
  position: absolute;
  top: 10px;
  width: 50%;
  min-width: 360px;
  margin: auto;
  left: 0;
  right: 0;
}

/* line 16, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
.show-map {
  margin: auto;
  height: 600px;
  width: 900px;
  opacity: 0;
  z-index: 0;
}

/* line 23, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
.left-card {
  background-color: darkred;
  opacity: .6;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  display: none;
}

/* line 34, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
.right-card {
  background-color: cyan;
  opacity: .3;
  z-index: 2;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  display: none;
}

/* line 45, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
.circle {
  width: 60vh;
  height: 60vh;
  border-radius: 30vh;
  background: gainsboro;
  position: absolute;
  left: 0;
  right: 0;
  top: 25vh;
  margin-left: auto;
  margin-right: auto;
  z-index: 3;
  min-height: 250px;
  min-width: 250px;
  text-align: -webkit-center;
  opacity: 0;
}

/* line 62, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
.select {
  font-size: 13px;
  font-weight: bold;
  color: white;
}

/* line 67, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
.select select {
  -webkit-appearance: none;
  display: block;
  padding: 1.2em 1.2em 1.2em 1.2em;
  margin: 5px;
  transition: border-color 0.2s;
  border: 3px solid white;
  border-radius: 10px;
  background: darkred;
  color: white;
  line-height: normal;
  font-family: inherit;
  font-size: smaller;
  line-height: inherit;
  opacity: .9;
  width: 190px;
}

/* line 86, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
.select-box {
  margin: auto;
  position: relative;
  display: block;
}

/* line 91, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
.welcome-form {
  position: relative;
  top: 15%;
}

/* line 96, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
.main-map {
  margin: auto;
  height: 600px;
  width: 900px;
  z-index: 0;
}

/* line 103, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
.holder {
  text-align: center;
}
