/* line 1, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
body {
  background-color: white;
  font-family: 'Nunito', sans-serif;
}

/* line 6, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* line 10, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
::-webkit-scrollbar-track-piece {
  background-color: white;
}

/* line 13, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  background-color: darkred;
}

/* line 19, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
#site-title {
  z-index: 6;
  position: absolute;
  top: 10px;
  width: 50%;
  min-width: 360px;
  margin: auto;
  left: 0;
  right: 0;
}

/* line 29, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
.show-map {
  margin: auto;
  height: 600px;
  width: 900px;
  opacity: 0;
  z-index: 0;
}

/* line 36, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
.left-card {
  background-color: darkred;
  opacity: .6;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  display: none;
}

/* line 47, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
.right-card {
  background-color: cyan;
  opacity: .3;
  z-index: 2;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  display: none;
}

/* line 58, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
#glass {
  max-width: 450px;
  width: 90%;
  position: absolute;
  top: 50px;
  left: 10%;
  right: 0;
  margin: auto;
  z-index: 3;
  display: none;
}

/* line 69, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
.circle {
  width: 300px;
  height: 300px;
  background: transparent;
  position: absolute;
  top: 170px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 4;
  min-height: 250px;
  min-width: 250px;
  text-align: -webkit-center;
  opacity: 0;
}

/* line 85, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
.select {
  font-size: 13px;
  font-weight: bold;
  color: white;
}

/* line 90, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
.select select {
  -webkit-appearance: none;
  display: block;
  padding: 1.2em 1.2em 1.2em 1.2em;
  margin: 5px;
  transition: border-color 0.2s;
  border: 3px solid white;
  border-radius: 10px;
  background: darkred;
  color: white;
  line-height: normal;
  font-family: inherit;
  font-size: smaller;
  line-height: inherit;
  opacity: .9;
  width: 190px;
  height: 50px;
}

/* line 108, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
.select-box {
  margin: auto;
  position: relative;
  display: block;
}

/* line 113, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
.welcome-form {
  position: relative;
  top: 15%;
}

/* line 117, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
.welcome-text {
  text-shadow: 1px 1px white;
}

/* line 121, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
#map-title {
  z-index: 6;
  position: absolute;
  bottom: 5px;
  width: 15%;
  min-width: 120px;
  left: 10px;
}

/* line 129, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
#map-headline {
  bottom: 15px;
  left: 0;
  right: 0;
  position: absolute;
  color: white;
  display: none;
}

/* line 137, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
#expenses-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
  width: 140px;
}

/* line 144, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
#peace-btn {
  position: absolute;
  top: 43px;
  right: 10px;
  display: none;
  width: 140px;
}

/* line 151, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
#currency-btn {
  position: absolute;
  top: 10px;
  right: 170px;
  display: none;
}

/* line 157, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
#currency-one-year {
  position: absolute;
  top: 10px;
  right: 270px;
  display: none;
}

/* line 163, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
#currency-two-years {
  position: absolute;
  top: 10px;
  right: 220px;
  display: none;
}

/* line 169, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
#currency-three-years {
  position: absolute;
  top: 10px;
  right: 170px;
  display: none;
}

/* line 175, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
#sources-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: none;
}

/* line 181, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
#stats-btn {
  position: absolute;
  bottom: 40px;
  right: 10px;
  display: none;
}

/* line 187, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
#sources-card {
  bottom: 50px;
  right: 0;
  left: 0;
  margin: auto;
  padding: 12px;
  opacity: 0.9;
  border-radius: 15px;
  position: fixed;
  width: 280px;
  height: 330px;
  background: black;
  z-index: 15;
  display: none;
  text-align: center;
}

/* line 203, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
#stats-card {
  bottom: 70px;
  right: 0;
  left: 0;
  margin: auto;
  padding: 12px;
  opacity: 0.9;
  border-radius: 15px;
  position: fixed;
  width: 290px;
  height: 60vh;
  min-height: 300px;
  background: currentColor;
  z-index: 15;
  display: none;
  text-align: center;
  font-size: .8em;
  overflow-y: scroll;
}

/* line 222, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
.disclaimer {
  font-size: .8em;
}

/* line 225, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
.source-text {
  color: white;
}

/* line 228, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
#tweet-card {
  bottom: 50px;
  right: 0;
  left: 0;
  margin: auto;
  padding: 12px;
  opacity: 0.9;
  border-radius: 15px;
  position: fixed;
  width: 280px;
  height: 330px;
  background: black;
  z-index: 15;
  display: none;
  text-align: center;
}

/* line 244, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
#tweet-link {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 249, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
#price-legend {
  bottom: 50px;
  left: 5px;
  padding: 5px;
  position: fixed;
  z-index: 12;
  height: 35%;
  min-height: 200px;
  max-height: 250px;
  opacity: 0;
}

/* line 260, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
#peace-legend {
  bottom: 50px;
  left: 5px;
  padding: 5px;
  position: fixed;
  z-index: 12;
  height: 35%;
  min-height: 200px;
  max-height: 250px;
  display: none;
}

/* line 271, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
#hidden-legend {
  bottom: 50px;
  left: 5px;
  padding: 5px;
  position: fixed;
  z-index: 12;
  height: 5%;
  min-height: 25px;
  max-width: 100px;
  display: none;
}

/* line 282, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
#ocean-background {
  position: fixed;
  z-index: 0;
  width: 100%;
  min-height: 100vh;
}

/* line 288, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
.btn, .btn-large, .btn-flat {
  border: none;
  border-radius: 9px;
  display: inline-block;
  height: 30px;
  font-size: 12px;
  line-height: 30px;
  outline: 0;
  padding: 0 .5rem;
}

/* line 298, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
.perspective {
  font-family: 'Righteous', cursive;
  position: absolute;
  top: 30%;
  left: 30%;
  margin: 0;
  display: none;
  color: cyan;
}

/* line 307, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
.country {
  font-family: 'Righteous', cursive;
  position: absolute;
  top: 45%;
  left: 35%;
  margin: 0;
  display: none;
  color: red;
}

/* line 316, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
.background-banner {
  background-color: black;
  opacity: 1;
  z-index: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 0;
}

/* line 325, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
.main-map {
  padding-top: 50px;
  margin: auto;
  height: 90vh;
  width: 90%;
  display: none;
  z-index: 0;
}

/* line 333, /Users/stevenolson/Turing/projects/globe_squatter/app/assets/stylesheets/custom.scss */
.holder {
  text-align: center;
  height: 100vh;
}
