<%= Gon::Base.render_data %>
<div class="holder">
  <h3> <%= @title %> </h3>
  <div class="main-map" id="<%= @map %>"style="width: 900px; height: 600px"></div>
  <div class="slider" style="width: 280px; margin: 10px"></div>
</div>
<button type="submit" name="update" id="update"></button>
