<!-- <a class="waves-effect waves-light btn">test</a> -->
<%= image_tag('title.png', id: 'site-title') %>

<div class="holder">
  <div id="blank-map"></div>
</div>

<div class="col s12 m6 left-card">
</div>

<div class="col s12 m6 right-card">
</div>

<div class="col s12 m6 left-circle welcome-circle">
</div>

<div class="col s12 m6 right-circle welcome-circle">
</div>


<span id="title-left">Globe</span>
<span id="title-right">Squatter</span>
