body {
  background-color: white;
  // font-family: 'Alegreya Sans', sans-serif;
  font-family: 'Nunito', sans-serif;
}
::-webkit-scrollbar {
width: 10px;
height: 10px;
}
::-webkit-scrollbar-track-piece  {
background-color: white;
}
::-webkit-scrollbar-thumb:vertical {
height: 30px;
background-color: darkred;
}

// WELCOME PAGE
#site-title {
  z-index: 6;
  position: absolute;
  top: 10px;
  width: 50%;
  min-width: 360px;
  margin: auto;
  left: 0;
  right: 0;
}
.show-map {
  margin: auto;
  height: 600px;
  width: 900px;
  opacity: 0;
  z-index: 0;
}
.left-card {
  background-color: darkred;
  opacity: .6;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  display: none;
}
.right-card {
  background-color: cyan;
  opacity: .3;
  z-index: 2;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  display: none;
}
#glass {
  max-width: 450px;
  width: 90%;
  position: absolute;
  top: 50px;
  left: 10%;
  right: 0;
  margin: auto;
  z-index: 3;
  display: none;
}
.circle {
  width: 300px;
  height: 300px;
  background: transparent;
  position:absolute;

  top: 170px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 4;
  min-height: 250px;
  min-width: 250px;
  text-align: -webkit-center;
  opacity: 0;
}
.select {
  font-size: 13px;
  font-weight:bold;
  color: white
}
.select select {
  -webkit-appearance: none;
  display: block;
  padding: 1.2em 1.2em 1.2em 1.2em;
  margin: 5px;
  transition: border-color 0.2s;
  border: 3px solid white;
  border-radius: 10px;
  background: darkred;
  color: white;
  line-height: normal;
  font-family: inherit;
  font-size: smaller;
  line-height: inherit;
  opacity: .9;
  width: 190px;
  height: 50px;
}
.select-box {
  margin: auto;
  position: relative;
  display: block;
}
.welcome-form {
  position: relative;
  top: 15%;
}
.welcome-text {
  text-shadow: 1px 1px white;
}
#twitter-signin {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 15;
}
// MAP DISPLAY PAGE
#map-title {
  z-index: 6;
  position: absolute;
  bottom: 5px;
  width: 15%;
  min-width: 120px;
  left: 10px;
}
#map-headline {
  bottom: 15px;
  left: 0;
  right: 0;
  position: absolute;
  color: white;
  display: none;
}
#expenses-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
  width: 140px;
}
#peace-btn {
  position: absolute;
  top: 43px;
  right: 10px;
  display: none;
  width: 140px;
}
#currency-btn {
  position: absolute;
  top: 10px;
  right: 170px;
  display: none;
}
#currency-one-year {
  position: absolute;
  top: 10px;
  right: 270px;
  display: none;
}
#currency-two-years {
  position: absolute;
  top: 10px;
  right: 220px;
  display: none;
}
#currency-three-years {
  position: absolute;
  top: 10px;
  right: 170px;
  display: none;
}
#sources-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: none;
}
#stats-btn {
  position: absolute;
  bottom: 40px;
  right: 10px;
  display: none;
}
#sources-card {
  bottom: 50px;
  right: 0;
  left: 0;
  margin: auto;
  padding: 12px;
  opacity: 0.9;
  border-radius: 15px;
  position: fixed;
  width: 280px;
  height: 330px;
  background: black;
  z-index: 15;
  display: none;
  text-align: center;
}
#stats-card {
  bottom: 70px;
  right: 0;
  left: 0;
  margin: auto;
  padding: 12px;
  opacity: 0.9;
  border-radius: 15px;
  position: fixed;
  width: 290px;
  height: 60vh;
  min-height: 300px;
  background: currentColor;
  z-index: 15;
  display: none;
  text-align: center;
  font-size: .8em;
  overflow-y: scroll;
}
.disclaimer {
  font-size: .8em;
}
.source-text {
  color: white;
}
#tweet-card {
  bottom: 50px;
  right: 0;
  left: 0;
  margin: auto;
  padding: 12px;
  opacity: 0.9;
  border-radius: 15px;
  position: fixed;
  width: 280px;
  height: 330px;
  background: black;
  z-index: 15;
  display: none;
  text-align: center;
}
#tweet-link {
  position: absolute;
  top: 0;
  left: 0;
}
#tweet-btn {
  position: absolute;
  top: 0;
  left: 0;
}
.tweet-bird {
  height: 80px;
}
.tweet-bird:hover {
  height: 90px;
}
#price-legend {
  bottom: 50px;
  left: 5px;
  padding: 5px;
  position: fixed;
  z-index: 12;
  height: 35%;
  min-height: 200px;
  max-height: 250px;
  opacity: 0;
}
#peace-legend {
  bottom: 50px;
  left: 5px;
  padding: 5px;
  position: fixed;
  z-index: 12;
  height: 35%;
  min-height: 200px;
  max-height: 250px;
  display: none;
}
#hidden-legend {
  bottom: 50px;
  left: 5px;
  padding: 5px;
  position: fixed;
  z-index: 12;
  height: 5%;
  min-height: 25px;
  max-width: 100px;
  display: none;
}
#ocean-background {
  position: fixed;
  z-index: 0;
  width: 100%;
  min-height: 100vh;
}
.btn, .btn-large, .btn-flat {
    border: none;
    border-radius: 9px;
    display: inline-block;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    outline: 0;
    padding: 0 .5rem;
  }
.perspective {
  font-family: 'Righteous', cursive;
  position: absolute;
  top: 30%;
  left: 30%;
  margin: 0;
  display: none;
  color: cyan;
}
.country {
  font-family: 'Righteous', cursive;
  position: absolute;
  top: 45%;
  left: 35%;
  margin: 0;
  display: none;
  color: red;
}
.background-banner {
  background-color: black;
  opacity: 1;
  z-index: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 0;
}
.main-map {
  padding-top: 50px;
  margin: auto;
  height: 90vh;
  width: 90%;
  display: none;
  z-index: 0;
}
.holder {
  text-align: center;
  height: 100vh;
}
