body {
  background-color: white;
}

// WELCOME PAGE
#site-title {
  z-index: 6;
  position: absolute;
  top: 10px;
  width: 50%;
  min-width: 360px;
  margin: auto;
  left: 0;
  right: 0;
}
#blank-map {
  margin: auto;
  height: 600px;
  width: 900px;
  opacity: 0;
  z-index: 0;
}
.left-card {
  background-color: darkred;
  opacity: .6;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  display: none;
}
.right-card {
  background-color: cyan;
  opacity: .3;
  z-index: 2;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  display: none;
}
.circle {
  width: 60vh;
  height: 60vh;
  border-radius: 30vh;
  background: black;
  position:absolute;
  left:0;
  right:0;
  top: 25vh;
  margin-left:auto;
  margin-right:auto;
  z-index: 3;
  min-height: 250px;
  min-width: 250px;
  opacity: 0;
}
.select {
  font-size: 13px;
  font-weight:bold;
  color: white
}
.select select {
  outline: none;
  -webkit-appearance: none;
  display: block;
  padding: 1.2em 1.2em 1.2em 1.2em;
  margin: 0;

  transition: border-color 0.2s;
  border: 1px solid white;
  border-radius: 10px;

  background: darkred;
  color: white;
  line-height: normal;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.select-box {
  margin: auto;
  position: relative;
  display: block;

}
