<div id="help-card">
  <h5 class="help-header">Help Me</h5>

  <h6 class="help-header">Currency Trends</h6>
    <p class="help-text">
      The currency trend buttons show changes in exchange rates between the base country's currency and all other currencies. So the '3YRS' will have the map show the difference between today's exchange rates and those of 3 years ago.
    </p>

    <h6 class="help-header">Expense Comparison</h6>
    <p class="help-text">
      The 'EXPENSE' button displays estimated expense differences from the base country. This is calculated using today's exchange rates and the most recent PPP conversion factors (the number of units of a country's currency required to buy the same amounts of goods and services in the domestic market as U.S. dollar would buy in the United States). This calculation is geared towards long-term travelers and expats who may be buying goods in local markets at local prices, rather than staying in tourist centers.
    </p>

    <h6 class="help-header">Peace Index</h6>
    <p class="help-text">
      'PEACE INDEX' pulls data from the 2015 IEP peace report. As they describe it, "The Global Peace Index is a composite index comprised of 23 qualitative and quantitative indicators that gauge the level of peace in 162 countries. These indicators can be grouped into three broad themes: the level of safety and security in a society, the number of international and domestic conflicts and the degree of militarisation."
    </p>

    <h6 class="help-header">About This Site</h6>
    <p class="help-text">
      
    </p>

</div>
