<div id="help-card">
  <h5 class="help-header">What is Ramble Map?</h5>
  <p class="help-text">
    What's the point? WHY? Well, being a semi-functional travel addict, I wanted to make a tool to get a quick glimpse of expense trends and patterns around the world, and also to explore what world expenses look like from the perspective of a different country. Simple as that, so go on and try out some new perspectives.
  </p>

  <h6 class="help-header">Currency Trends</h6>
    <p class="help-text">
      The currency trend buttons show changes in exchange rates between the base country's currency and all other currencies. So the '3YRS' button makes the map show the difference between today's exchange rates and those of 3 years ago, from the perspective of your selected country.
    </p>

    <h6 class="help-header">Expense Comparison</h6>
    <p class="help-text">
      The 'EXPENSE' button displays estimated expense differences from the base country. This is calculated using today's exchange rates and the most recent PPP conversion factors (the number of units of a country's currency required to buy the same amounts of goods and services in the domestic market as U.S. dollar would buy in the United States). This calculation is geared towards long-term travelers and expats who may be buying goods in local markets at local prices, rather than staying in tourist centers.
    </p>

    <h6 class="help-header">Peace Index</h6>
    <p class="help-text">
      'PEACE INDEX' pulls data from the 2015 IEP peace report. As they describe it, "The Global Peace Index is a composite index comprised of 23 qualitative and quantitative indicators that gauge the level of peace in 162 countries. These indicators can be grouped into three broad themes: the level of safety and security in a society, the number of international and domestic conflicts and the degree of militarisation."
    </p>

    <h6 class="help-header">About This Site</h6>
    <p class="help-text">
      RambleMap is built a Rails/Postgresql stack, with the jVectorMap library powering the map. And generous amounts of jQeury thrown in for good measure. <br>
      View Github code/contribute: <a href="https://github.com/SteveOscar/ramble_map", target = "blank">Ramble Map</a><br>
      About me: I'm Steve Olson, an Alaskan commercial fisherman turned web developer. <br>
      Find me on <a href="https://twitter.com/oSteveOscar">Twitter</a> or <a href="https://www.linkedin.com/in/stevenoolson">Linked In</a><br>
      Or old-fashioned email: steveoscaro@gmail.com
    </p>

</div>
