<div id="sources-card">
  <p class="source-text">Current and historical exchange rates: <br><a href="https://openexchangerates.org/", target = "blank">OpenExchangeRates API</a></p>
  <p class="source-text">Purchasing Power Parity: <br><a href="http://data.worldbank.org/indicator/PA.NUS.PPP", target = "blank">World Bank</a></p>
  <p class="source-text">Peace Rankings: <br><a href="http://economicsandpeace.org/reports/", target = "blank">IEP</a></p>
</div>
