<div id="tweet-card">
  <div class="tweet-form">
    <%= form_tag('/posts', :method => "post") do %>
        <%= label_tag(:q, "Tweet This Map?", class: "medium-text") %>
        <%= hidden_field_tag(:q, "View my RambleMap: #{request.original_url}") %>
        <%= image_submit_tag('bird.png', class: "tweet-bird", id: "send-tweet", remote: true) %>
    <% end %>
  </div>
</div>
